// Global reset
.button {
  background: none;
  cursor:pointer;
  display: inline-block;
  font-size: font-size($button-font-size);
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  vertical-align:bottom;
  font-weight: $button-weight;
  font-family: $button-font-family;
  padding: $button-padding-y $button-padding-x;
  border-width: $button-border-width;
  border-style: solid;
  border-color: transparent; // To be overriden depending on the style.
  
  // Icons inside buttons
  .icon {
    font-size: font-size(h6);
    height: font-size(h6);
    line-height:1;
    svg {
      fill:currentColor;
    }
  }
}

a.button {
  @include kill-link-button();
}

// Adjacent buttons
.button + .button {
  margin-left:$gutter / 4;
}

// $button-states map states to colors
@each $key, $value in $buttons {
  .button--#{$key} {
    @include style-button($key);
  }
  a.button--#{$key} {
    @include style-link-button($key);
  }
}


.button.disabled {
  opacity: $disabled-opacity;
  cursor: arrow;
  pointer-events:none;
  &:hover, 
  &:focus {
    cursor: arrow;
  }
}