<section>
  <!-- IMPORTANT! The class is needed -->  
  <nav class="nav">
    <ul>
      <li>Home</li>
      <li><a href="#">Section</a></li>
      <li>Works</li>
      <li>About us</li>
      <li>Contact</li>
      <li>Exit</li>
    </ul>
  </nav>
</section>

<section>
  <!-- IMPORTANT! The class is needed -->  
  <nav class="nav nav--horizontal">
    <ul>
      <li>Home</li>
      <li><a href="#">Section</a></li>
      <li>Works</li>
      <li>About us</li>
      <li>Contact</li>
      <li>Exit</li>
    </ul>
  </nav>
</section>

