<article class="card card--image" style="width:400px; padding:0;">
  <div class="card__image">
    <img src="https://placeimg.com/400/200/nature" />
  </div>
  <div class="card__contents">
    <div class="text-wrapper mb">
      <h3>Title of a card</h3>
      <p>A card can have any content. Their appearance will be honored no matter what.</p>
      <p class="small">This paragraph, for example, uses a <code>.small</code> class</p>
    </div>
    <div class="card right">
      <a href="#" class="button button--danger">Cancel</a>
      <a href="#" class="button button--success">OK</a>
    </div>
  </div>
</article>