<div class="form-item form-item--radio">
  <input type="radio" id="radio" name="radio">
  <label for="radio">Radio normal</label>
</div>
<div class="form-item form-item--radio">
  <label for="radio">
    <input type="radio" id="radio" name="radio">
    <span>Radio normal</span>
  </label>
</div>
<div class="form-item form-item--radio">
  <input type="radio" id="radio2" class="pseudo-radio" name="radio">
  <label for="radio2">Pseudo Radio</label>
</div>