img {
  display:inline-block;
  border-style: none;
  max-width:100%;
  height:auto;
}

figure {
  display:inline-block;
}

figcaption {
  display:block;
  @include font-size($figcaption-font-size);
  text-align: $figcaption-align;
}