#nav {
    position:fixed;
    top: 0;
    left: 0;
    bottom:0;
    width:25%;
    overflow:auto;
    margin:0; 
    padding-left: 2rem;
}

#main-wrapper {
    width:75%;
    margin-left:auto;
    margin-right:0;
}