.form-item {
  display:block;
	margin-bottom: $gutter;

	label {
		display:block;
	}

	.label {
		@if $label-as-minititle {
			@include minititle($label-font-size);
		} @else {
			@include font-size($label-font-size);
		}
	}

	// Label position exception: radios and checkboxes.
	input[type="checkbox"]:not(.pseudo-checkbox),
	input[type="radio"]:not(.pseudo-radio) {
		+ label {
			display:inline-block;
		}
	}

	&:last-child,
	&:last-of-type {
		margin-bottom:0;
	}
}

.form-item--checkbox,
.form-item--radio {
	display:flex;
	align-items: center;
	// If label as wrapper
	label:first-child:last-child {
		display:inherit;
		align-items:inherit;
		margin:0;
	}
}

.form-item--required {
	label::after {
		content: "*";
		color: var(--color-state-danger);
		margin-left: $gutter / 4;
	}
}

.form-item--error {
	label {
		color: var(--color-state-danger);
	}
	input,
	textarea {
		@include form-border($color: var(--color-state-danger));
	}
}

.form-item--success {
	label {
		color: var(--color-state-success);
	}
	input,
	textarea {
		@include form-border($color: var(--color-state-success));
	}
}

.form-item--label-inside {
	border-radius: $form-border-radius;
  @include form-border(); 
  padding: $input-padding-y $input-padding-x;
	input,
	textarea {
		border:none;
		border-radius:0;
		padding:0;
	}
}
