# npm / yarn modules
node_modules

# Visual Studio project-level config
.vscode

# MAC OSx files
.DS_Store

# .eslintcache
.eslintcache

# Docs are meant to be generated for every user
# but in this branch they are added for GitHub Pages to generate
# docs



