# npm / yarn modules
node_modules

# Visual Studio project-level config
.vscode

# MAC OSx files
.DS_Store

# Dist folder is the result of the build process and needn't be commited
dist/*

# .eslintcache
.eslintcache

# _config.scss must be part of the repo but never synced
src/scss/_config.scss



