/*
Alerts

Boxes with background-colors to draw the user's attention towards specific messages.

Any alert is automatically set as a `.text` to prevent paragraphs for setting an extra space.

.alert--success     - Sets the color to indicate a positive action or message
.alert--warning     - Sets the color to indicate a warning
.alert--error       - Sets the color to indicate a negative action or message

Markup:
<section class="alert {{ modifier_class}}">
	<p class="minititle">Hey ho, let's go</p>
	<p>Dear user, you are required to <a href="#">read this very specific message</a> and take some action</p>
</section>


Styleguide Components.alert
*/

.alert {
    padding: $gutter;
    border-radius: $border-radius;
    @include background-split-color(get-color(gray, "base"));
    @extend .text;
}

.alert--success {
    @include background-split-color(get-color(state, "success"));
}

.alert--warning {
    @include background-split-color(get-color(state, "warning"));
}

.alert--error {
    @include background-split-color(get-color(state, "error"));
}