.page__aside {

}

.nav-block {
    @extend %clearfix;
    @extend nav;
    h2 {
        background: get-color(gray, "white");
        color: get-color(base,"primary");
        padding: 0 $gutter / 2 0 $gutter;
        @include ritmo-font-size($h5-font-size);
        font-weight:bold;
        display:inline-block;
        position:relative;
        left: - $gutter;
        //border-bottom: 2px solid get-color(gray, "light");
    };
    ul {
        li {
            display:block;
            width:100%;
            a {
                position:relative;
                padding-right:$gutter;
                display:block;
                @include ritmo-font-size($h6-font-size);
                @include kill-link(get-color(gray, "black"));
            }
            &:hover a {
                text-decoration:none;
                font-weight:bold(a);
                &:before {
                    content:"";
                    width: 1em;
                    height:1em;
                    background-color:get-color(gray,"white");
                    position:absolute;
                    top:ritmo(0.5);
                    left: -$gutter;
                }
            }
        } 
    }
}