.audiofield {
    .waveform {
        margin-bottom:$gutter;
    }
    .button {
        width:50px;
        text-align:center;
    }
    .volume {
        margin-left:$gutter;
    }
}

.audiofield__controls {
    display:flex;
    align-items:center;
}

.audiofield__playing {
    margin-left: auto;
    @extend %peque;
}

.audiofield__playlist {
    margin-top: $gutter / 2;
    margin-left:0;
    padding-left:0;
}

.audiofield--playlist {
    .previous {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
    .playpause {
        border-left:0;
        border-right:0;
        border-radius:0;
    }
    .next {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;        
    }
}

.audiofield__track {
    list-style-type: none;
    padding: $gutter / 4 $gutter / 2;
    cursor:pointer;
    background-color: get-color(gray, "smoke");
    &.playing {
        background-color: get-color(gray, "lighter");     
    }
    &:hover {
        background-color: get-color(gray, "black");
        color: get-color(gray, "white");
    }
}


// In case is a teaser

.media-audio.view-mode-teaser,
.media-audio.view-mode-miniteaser {
    margin-bottom:0;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color: get-color(gray, "lighter");
    .waveform {
        margin-bottom:0;
        // Some serious hacking here...
        > wave {
            position:absolute !important;
            height:100% !important;
            width:150% !important;
            margin: 0 0 auto -25% !important;
            transform: rotate(5deg);
            wave {
                width:105% !important;
                top: 5% !important;
            }
            canvas {
                width:100% !important;
            }
        }
    }
    .audiofield {
        .button,
        .volume {display:none}
    }
}

.media-audio.view-mode-miniteaser {
    .waveform {
        > wave {
            width:100% !important;
            margin: 0 !important;
            transform: rotate(-5deg);
        }
    }
}
// .media-audio.view-mode-miniteaser {
//     height:150px;
//     width:
//     background-color: get-color(gray, "lighter");
//     .waveform {
//         margin-bottom:0;
//         // Some serious hacking here...
//         > wave {
//             position:absolute !important;
//             height:100% !important;
//             width:150% !important;
//             margin: 0 0 auto -25% !important;
//             transform: rotate(5deg);
//             wave {
//                 width:75% !important;
//             }
//             canvas {
//                 width:100% !important;
//             }
//         }
//     }
//     .audiofield {
//         .button,
//         .volume {display:none}
//     }
// }