.link_layer {
    @include layer();
    z-index: z-index(link-layer);
}

.busqueda {
    position:relative;
    @extend %clearfix;
}

.busqueda__tipo {
    @extend %peque;
}

.busqueda__resumen {
    @include breakpoint($medium) {
        display:flex;
    }
}

.busqueda__thumb {
    width: 75px;
    float: right;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 0 $gutter / 2 $gutter / 2;
    img {
        height:auto;
        display:block;
    }
    @include breakpoint($medium) {
        margin:0 $gutter 0 0;
        flex: 0 0 auto;
        float:none;
        border-radius:0;
        img {
            width:150px;
        }
    }
}

.busqueda__text {
    @include breakpoint($medium) {
        display:flex;
        flex-direction:column;
        justify-content:space-between;
    }
}

.busqueda__desc {
    @include ritmo-font-size($h6-font-size);
    margin:0;
}


.busqueda--resultados {
    @include breakpoint($medium) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .views-row {
            min-width: 32%;
            max-width: 49%;
        }
    }
    .views-row {
        margin-bottom: $gutter;
        border-bottom: 1px solid get-color(gray, "light");
    }
}