.card {
	padding: $gutter;
	border: 1px solid $card-border-color;
	border-radius: $card-border-radius;
	@if $shadows == true {
		box-shadow: $shadow-definition;
	}
	// Nested cards are applied a padding reduction
	.card {
		padding: $gutter / 2;
	}
}