/*
Card

The `.card` is a common pattern on UX design.

Usually, the card width is limited either by setting a custom width or by stacking them on a flex / grid.

A set of settings are available under its own section on `_config.scss`

A `.card` inside a `.card` has its padding reduced to 1/2

Markup:
<article class="card" style="width:400px; padding: 1.3rem">
	<h3>Title of a card</h3>
	<p>A card can have any content. Their appearance will be honored no matter what.</p>
	<p class="small">This paragraph, for example, uses a <code>.small</code> class</p>
	<div class="card right">
		<a href="#" class="button button--error">Cancel</a>
		<a href="#" class="button button--success">OK</a>
	</div>
</article>

Styleguide Components.card
*/


.card {
	@if $card-border {
		border: $card-border;
	}
	background: $card-background;
	border-radius: $card-border-radius;
	padding: $card-padding;
	@if $shadows == true {
		box-shadow: $shadow-definition;
	}
	// Nested cards are applied a padding reduction
	.card {
		padding: $gutter / 2;
	}
}

/*
Card with Featured Image

A special kind of card that features a full-bleed image.

It requires a slightly different markup than the original `.card` item

Markup:
<!-- Style attributes are only set to avoid style overrides on this style guide! -->
<article class="card card--image" style="width:400px; padding:0;">
	<div class="card__image">
		<img src="https://placeimg.com/400/200/nature" />
	</div>
	<div class="card__contents">
		<h3>Title of a card</h3>
		<p>A card can have any content. Their appearance will be honored no matter what.</p>
		<p class="small">This paragraph, for example, uses a <code>.small</code> class</p>
		<div class="card right">
			<a href="#" class="button button--error">Cancel</a>
			<a href="#" class="button button--success">OK</a>
		</div>
	</div>
</article>

Styleguide Components.card.card-image
*/

.card--image {
	padding: 0;
}

.card__contents {
	padding: $gutter;
}