// Formato de seccionado;

.box {
    display:flex;
    flex-direction:column;
    vertical-align:center;
    justify-content:center;
    padding:ritmo(2);
    margin:0;
    background-color: get-color(gray,"black");
    color: get-color(gray,"white");
    margin-bottom: $spacer;
    width:150px;
    height:150px;
    a {
        @include set-link(
            get-color(gray, "white"), 
            get-color(gray, "lighter"),
            get-color(gray, "lighter"),
            get-color(gray, "dark")
        );
    }
    h1, h2, h3 {
        @extend %peque;
        margin:0;
        color: get-color(gray,"white");
    }
}