.contenido__inner {
    padding:ritmo(4);
}

.contenido__leido {
    display:none;
    top:$gutter/2;
    right:$gutter/2;
    z-index: z-index(dot-leido);
    &.tooltip__parent {
        position:absolute;
    }
}

.contenido__leido__mark {
    @include ritmo-font-size($h4-font-size);
    line-height:0.6;
    color: get-color("state", "success");
    text-shadow: 0px 0px 4px rgba(0,0,0,0.2);
}

.contenido--leido .contenido__leido {
    display:block;
}

.contenido__meta {

    // a {
    //     @include kill-link(get-color(gray, "base"));
    // }
}

.contenido__autor {
    text-transform: uppercase;
    //@include ritmo-font-size($h4-font-size);
}
.contenido__autor__por {
    font-weight: $light;
}

.contenido__fecha {
    color: get-color(gray, "base");
    @extend %peque;
    font-weight: normal;    
}

.contenido__link-layer {
    @include layer();
    z-index: z-index(link-layer);
}

// Fit is used only for .cuadricula and grids
.contenido__fit {
    display:block;
    position:absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    overflow:hidden;
    transition: all $transition-time / 2 linear;
    z-index:z-index(contenido-fit);
    img {
        display:block;
        position:absolute;
        top:50%;
        right:0;
        left:0;
        width:100%;
        top:50%;
        transform:translateY(-50%);
    }
    iframe {
        width:100%;
        height:100%;
    }
    
}

.contenido__title {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display:flex;
    width: 100%;
    padding: ritmo(4);
    background: get-color(gray,'white');
    z-index: z-index(contenido-title);
    flex-direction:column;
    transition: all $transition-time linear;
    h1 {
        font-weight: normal;
        max-width:250px;
        font-family: $font-main;
        margin:0;
        @include ritmo-font-size($h3-font-size);
        line-height:1;
        a { 
            //@include kill-link(get-color(gray,'white'));
        }
    }
    p {
        margin:auto 0 0 0;
        font-family:$font-secondary;
        @include ritmo-font-size($h6-font-size);
        font-weight:bold(p);
        text-transform: uppercase;
        letter-spacing: 0.3em;
        //color: get-color(gray,'white');
    }
}

.contenido__title--inverse {
    h1 a, p a {
        @include kill-link(get-color(gray,'white'));
    }
    p {
        border-bottom-color: get-color(gray, "white");
    }
}

.contenido__heading {
    font-weight: bold(h2);
}

.contenido--page {
    // p:first-child:first-letter {
    //     float:left;
    //     @include ritmo-font-size($h2-font-size);
    //     font-weight:bold(p);
    //     margin-right:5px;
    // }
}

// TEXTO

.contenido--texto {
    .contenido__fit {
        overflow:hidden;
        background-color: get-color(gray, "smoke");
    }
}


.contenido--texto__texto {
    position:absolute;
    width:120%;
    height:120%;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%) rotate(15deg);
    @include ritmo-font-size($h2-font-size);
    //font-weight: $light;
    color: get-color(gray, "white");
    text-shadow: 1px 1px 0px get-color(gray, "white"), 3px 3px 3px get-color(gray, "lighter");
}

// TEASER

.contenido--teaser {
    margin:0;
    &:hover {
        .contenido__fit {
            opacity:1; 
            transform: scale(1.01);
        }
        .contenido__title {
            opacity:0;
        }
    }
    &.js-hover {
        .contenido__fit {
            opacity:1;
        }
        .contenido__title {
            opacity:0;
        }
        &:hover {
            .contenido__fit {
                opacity:0; 
            }
            .contenido__title {
                opacity:1;
            }
        }
    }
    .contenido__inner {
        padding: 0 0 100% 0;
    }
    .contenido__fit {
        opacity:0;
    }
}

.cuadricula .views-row {
    // .contenido--dimmed {
    //     transform:rotate(0.5turn);
    // }
    // &:nth-child(2n) {
    //     .contenido--dimmed {
    //         transform:scale(0.92);
    //     }
    // }
    // &:nth-child(5n) {
    //     .contenido--dimmed {
    //         transform:scale(0.95);
    //         transition-delay: $transition-delay / 4;
    //     }
    // }
    // &:nth-child(7n) {
    //     .contenido--dimmed {
    //         transform:scale(0.85);
    //         transition-delay: $transition-delay / 2;
    //     }
    // }
    // &:nth-child(9n),
    // &:nth-child(2) {
    //     .contenido--dimmed {
    //         transform:scale(0.75);
    //         transition-delay: $transition-delay;
    //     }
    // }
}

.contenido__desc {
    margin-left:auto;
    p:last-child {
        margin-bottom:0;
    }
}