.contenido__inner {
    padding:ritmo(4);
}

.contenido__leido {
    display:none;
    top:$gutter/2;
    right:$gutter/2;
    z-index: z-index(dot-leido);
    &.tooltip__parent {
        position:absolute;
    }
}

.contenido__leido__mark {
    @include ritmo-font-size($h4-font-size);
    line-height:0.6;
    color: get-color("state", "success");
    text-shadow: 0px 0px 4px rgba(0,0,0,0.2);
}

.contenido--leido .contenido__leido {
    display:block;
}

.contenido__meta {
    width:100%;
}

.contenido__estado {
    font-weight:bold();
    margin-left: auto;
}

.contenido__autor {
    text-transform: uppercase;
    a {
        @include kill-link(get-color(gray,'black'));
        @include kill-link-decoration();
    }
    //@include ritmo-font-size($h4-font-size);
}

.contenido__autor__por {
    font-weight: $light;
}

.contenido__fecha {
    color: get-color(gray, "base");
    @extend %peque;
    font-weight: normal;  
    display:flex;  
}

.contenido__link-layer {
    @include layer();
    z-index: z-index(link-layer);
}

// Fit is used only for .cuadricula and grids
.contenido__fit {
    display:block;
    position:absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    overflow:hidden;
    transition: all $transition-time / 2 linear;
    z-index:z-index(contenido-fit);
    img {
        display:block;
        position:absolute;
        top:50%;
        right:0;
        left:0;
        width:100%;
        top:50%;
        transform:translateY(-50%);
    }
    iframe {
        width:100%;
        height:100%;
    }  
}

@supports (object-fit:cover) {
    .contenido__fit img {
        height:100%;
        object-fit:cover;
    }
}

.contenido__subtitulo {
    @include ritmo-font-size($h4-font-size);   
    @include breakpoint($medium) {
        @include ritmo-font-size($h3-font-size);   
    }
}

.contenido__title {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display:flex;
    width: 100%;
    padding: ritmo(4);
    background: get-color(gray,'white');
    z-index: z-index(contenido-title);
    flex-direction:column;
    transition: all $transition-time linear;
    h1 {
        font-weight: normal;
        font-family: $font-main;
        margin-bottom: $gutter / 2;
        @include ritmo-font-size($h3-font-size);
        line-height:1;
        color: get-color(text, "primary");
    }
    .contenido__subtitulo {
        margin:0;
        font-family:$font-secondary;
        @include ritmo-font-size($h5-font-size);
        // font-weight:bold(p);
        // text-transform: uppercase;
    }
    
    .contenido__autor {
        margin:auto 0 0 0;
        font-family:$font-secondary;
        @include ritmo-font-size($h6-font-size);
        font-weight:bold(p);
        text-transform: uppercase;
        letter-spacing: 0.3em;
        //color: get-color(gray,'white');
    }
}

.contenido__title--inverse {
    h1,
    .contenido__subtitulo {
        color: get-color(gray,'white');
    }
    .contenido__autor a { 
        @include kill-link(get-color(gray,'white'));
        @include kill-link-decoration();
    }
}

.contenido__heading {
    font-weight: bold(h2);
}

.contenido--page {
    // p:first-child:first-letter {
    //     float:left;
    //     @include ritmo-font-size($h2-font-size);
    //     font-weight:bold(p);
    //     margin-right:5px;
    // }
}

// TEXTO

.contenido--texto {
    .contenido__fit {
        overflow:hidden;
        background-color: get-color(gray, "smoke");
    }
}


.contenido--texto__texto {
    position:absolute;
    width:120%;
    height:120%;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%) rotate(15deg);
    @include ritmo-font-size($h2-font-size);
    //font-weight: $light;
    color: get-color(gray, "white");
    text-shadow: 1px 1px 0px get-color(gray, "white"), 3px 3px 3px get-color(gray, "lighter");
}

// TEASER

.contenido--teaser {
    margin:0;
    &:not(.contenido--noimg) {
        &:hover,
        &.js-hover {
            .contenido__fit {
                opacity:1; 
                transform: scale(1.01);
            }
            .contenido__title {
                opacity:0;
            }
        }
        &.auto-hover {
            .contenido__fit {
                opacity:1;
            }
            .contenido__title {
                opacity:0;
            }
            &:hover {
                .contenido__fit {
                    opacity:0; 
                }
                .contenido__title {
                    opacity:1;
                }
            }
        }
    }
    .contenido__inner {
        padding: 0 0 100% 0;
    }
    .contenido__fit {
        opacity:0;
    }
}

// CUADRICULA INSERTA
.contenido--mensaje {
    margin:0;
    .contenido__title {
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
        background-color:get-color(base, "primary");
        h1 {
            text-align:center;
            font-weight:normal;
            text-transform: uppercase;
            color: get-color(gray, "white");
            // hyphens: auto;
            margin-bottom:0;
        }
    } 
    &:hover,
    &.js-hover {
        .contenido__fit {
            opacity:1;
        }
        .contenido__title {
            h1 {
                font-weight:bold;
                background-color: get-color(base, "secondary");
                color: get-color(gray, "white");
                padding: $gutter;
            }
        }
    }
    .contenido__inner {
        padding: 0 0 100% 0;
    }
    &:hover,
    &.js-hover,
    &:focus {
        .contenido__mensaje {
            opacity:1;
        }
        @include breakpoint($medium) {
            .contenido__link-layer {
                width:200%;
                left:-100%;
            }
        }
    }
    .contenido__link-layer {
        &:hover,
        &.js-hover,
        &:focus {
            @include breakpoint($medium) {
                ~ .contenido__mensaje {
                    right:100%;
                    left:auto;
                }
            }
        }
    }    
}

.contenido__mensaje {
    position:absolute;
    top:0;
    right:0;
    left:0;
    bottom:0;
    width:100%;
    height:100%;
    background-color: get-color(base, "secondary");
    z-index:9;
    opacity:0;
    transition: right $transition-time / 2 ease-in-out,
                opacity $transition-time ease-in-out;
    display:flex;
    flex-direction:column;
    padding: $gutter; 
    align-items:center;
    justify-content:center;
    text-align:center;
    p {
        margin:0;
        font-weight:bold(p);
    }
    &:hover,
    &:focus {
        @include breakpoint($medium) {
            opacity:1;
            right:100%;
            left:auto;
        }
    }
}

.contenido__botones {
    margin-top:$gutter;
    a.button {
        color: get-color(gray, "white");
        border-color: get-color(base, "primary");
        background-color: get-color(base, "primary");
        box-shadow: 3px 3px 0px 0px rgba(get-color(base, "primary"),0.2);
        &:hover,
        &:focus {
            background-color: get-color(base, "secondary");
            box-shadow: 1px 1px 0px 0px rgba(get-color(base, "primary"),0.2);
        } 
        &:active {
            box-shadow: 1px 1px 0px 0px get-color(state, warning) !important;
        }
    }
}

.contenido__desc {
    margin-left:auto;
    p:last-child {
        margin-bottom:0;
    }
}

.contenido__click {
    position: absolute;
    top: 50%;
    left: 50%; 
    text-align: center;
    transform: translate(-50%, -50%);
    @include ritmo-font-size($h4-font-size);
    text-transform: uppercase;
    background: rgba(255,255,255,0.75);
    line-height: 1;
    max-width: 75%;
    padding: $gutter / 2;
    z-index:7; // TODO: recuperar z-index
}


.contenido--mensaje--even {
    .contenido__title {
        background-color:get-color(base, "secondary");
        h1 {
            color: get-color(gray, "darker");
        }
    }
    &:hover,
    &.js-hover {
        .contenido__title {
            h1 {
                background-color: get-color(base, "primary");
                color: get-color(gray, "white");
            }
        }
    }
    .contenido__mensaje {
        background-color: get-color(base, "primary");
        p {
            color: get-color(gray, "white");
        }
    }
    .contenido__botones{
        a.button {
            border-color: get-color(base, "secondary");
            background-color: get-color(base, "secondary");
            box-shadow: 3px 3px 0px 0px rgba(get-color(base, "secondary"),0.2);
            &:hover,
            &:focus {
                background-color: get-color(base, "primary");
                box-shadow: 1px 1px 0px 0px rgba(get-color(base, "secondary"),0.2);
            } 
            &:active {
                box-shadow: 1px 1px 0px 0px get-color(state, warning) !important;
            }
        }
    }
}