// Nav-like menus
#block-mentalstones-local-tasks {
    .video &,
    .imagen &,
    .audio & {
        position:absolute;
        top:0;
        left:0;
        li {
            float:left;
            a {
                padding:0 5px;
                background:get-color(gray,'white');
            }
        }
    }
    z-index: z-index(nav);
    @extend nav;
    ul {
        @extend %clearfix;
    }
    li {
        display:block;
        a {
            padding-right:$gutter;
            font-weight: bold();
            display:block;
            @include ritmo-font-size($h6-font-size);
        }
    }
}

.form-item {
    margin-bottom: $gutter;
    label {
        margin-right: $gutter / 2;
    }
    input {
        opacity: 0.5;
        transition: $transition-time;
        &:hover, &:focus {
            opacity:1;
        }
    }
    
}

.description {
    @include ritmo-font-size($h7-font-size, 4);
}