.form-item {
    margin-bottom: $gutter;
    display:flex;
    flex-wrap:wrap;
    align-items:center;
    margin-bottom: $spacer;
    padding-bottom: $spacer;
    border-bottom: 1px dotted get-color(gray, "lighter");
    label {
        margin-right: $gutter / 2;
    }
    input[type="text"] {
        flex:1;
        opacity: 0.5;
        transition: opacity $transition-time ease-in-out;
        &:hover, &:focus {
            opacity:1;
        }
    }
    input[type="checkbox"] {
        margin: 0 $gutter / 2 0 0;
    }
    .description,
    .password-strength,
    .password-confirm {
        width:100%;
    }
    
}

// File uploader

.js-form-type-managed-file {
    label {
        // @extend .button;
        // color:get-color(gray, "black");
        cursor:pointer;
    }
    .image-widget {
        width:100%;
        display:flex;
        align-items:center;
        // img {
        //     margin: $spacer 0 0 0;
        // }
        // span {
        //     flex:0 1 auto;
        //     padding: 0 0 0 $spacer;
        //     margin: $spacer 0;
        // }
        // .form-submit {
        //     flex: 0 1 auto;
        //     margin-left:auto;
        // }
    }
    .image-widget__preview {
        margin-right: auto;
        max-width:80%;
        .focal-point-wrapper + .form-item {
            margin-top:$gutter/2;
        }
    }
    .image-widget__delete input {
        @extend .button--bad;
    } 
}

// .form-file {
// 	width: 0.1px;
// 	height: 0.1px;
// 	opacity: 0;
// 	overflow: hidden;
// 	position: absolute;
// 	z-index: -1;
// }

.description {
    display:flex;
    margin:ritmo(2) 0 0 0;
    &.description--open {
        .description__content {
            display:block;
        }
        .description__icon {
            background-color: get-color(state, 'success');
            color: get-color(gray, 'white');
            &:hover {
                background-color: transparent;
                color: get-color(state, 'success');
                border:2px solid get-color(state, 'success');          
            }
        }
    }
}

.description__icon {
    @include kill-button();
    width:1rem;
    height:1rem;
    margin-right: $gutter / 2;
    font-size:0.75rem;
    font-weight:bold;
    line-height:1;
    display:flex;
    align-items:center;
    justify-content:center;
    color: get-color(state, 'success');
    border:2px solid get-color(state, 'success');
    border-radius:50%;
    cursor:pointer;
    &:hover {
        background-color: get-color(state, 'success');
        color: get-color(gray, 'white');
    }
}

.description__content {
    display:none;
    border-left: 1px solid get-color(state, 'success');
    padding-left: $gutter / 2;
    @include ritmo-font-size($h6-font-size);
    color: get-color(state, "success");
    br {height:0; width:0};
}

.password-confirm {
    margin:ritmo(2) 0 0 0;
    @include ritmo-font-size($h6-font-size);
    color: get-color(gray, "dark");
    br {height:0; width:0};
}

.g-recaptcha {
    margin-bottom: $spacer;
}


.field-multiple-table {
    table-layout: initial;
    th,td { // delegate the border on inner content
        border:none;
        padding:0;
    }
    td:nth-child(2) > div {
        //border: 2px solid get-color(gray, "base");
        background-color: get-color(gray, "smoke");
        padding: $gutter / 2;
        // background-color: get-color(gray, "white");
        transition: all $transition-time ease-out;
        box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.1);
        margin-bottom: 0;
        border-bottom: 1px dashed get-color(gray, "light");
    }
    tr:last-child td:nth-child(2) > div {
        border-bottom: none;
    }
    .field-multiple-drag {
        width:30px;
        vertical-align:middle;
    }
    a.tabledrag-handle {
        margin-left:0;
        height:16px;
        .handle {
            background-position: 0 0;
            height:16px;
            width:16px;
            padding:0;
            margin:0;
        }
    }
    .drag td:nth-child(2) > div  {
        box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.2);
        //padding: $gutter / 2;
        position:relative;
        z-index: z-index(drag);
        transform-origin: center;
        transform:scale(1.02);
    }
}

.tabledrag-toggle-weight-wrapper {
    margin-left:auto;
}

.tabledrag-toggle-weight {
    @include kill-button();
}


.js-pager__items {
    @include ritmo-font-size($h6-font-size);
    @include inline-list();
    li {
        text-transform: uppercase;
        position:relative;
        a:not(.button) {
            margin: 0 $gutter / 4;
            padding: 0 $gutter / 4;
            background-color: get-color(gray, "dark");
            display:block;
            @include kill-link(get-color(gray, "white"));
            &:hover {
                background-color: get-color(gray, "black");
            }
        }
    }
}