.flag__leido {
    font-size:0px;
    color:transparent;
    display:flex;
    align-items:center;
}

.flag__leido--trick {
    font-size:initial;
    color: initial;
    a {
        margin-right:5px;
        @include ritmo-font-size($h7-font-size);
        line-height: ritmo(4);
        @extend %peque;
    }
}

.flag__leido--on {
    &:before {
        content: "⚑";
        @include ritmo-font-size($h4-font-size);
        line-height: ritmo(4);
        color: red;
        display:block;
    }
}

.flag__favorito {
    padding: 0 $gutter / 4;
    margin-right:5px;
    a {
        height: $base-line-height;
        display:flex;
        align-items:center;
    }
    svg {
        height: $base-line-height * 0.85;
        width:auto;
        display:block;
        fill: get-color(state, "action");
    }
}

.flag__favorito--off {
    .flag__star--on {
        display:none;
    }
    &:hover {
        .flag__star--on {
            display:block;
        }
        .flag__star--off {
            display:none;
        }       
    }
}

.flag__favorito--on {
    .flag__star--off {
        display:none;
    }
    &:hover {
        .flag__star--off {
            display:block;
        }
        .flag__star--on {
            display:none;
        }       
    }
}