// COMMON
.node-form {
    margin-bottom: $gutter;
    padding-bottom: $gutter;
    .js-form-type-vertical-tabs {display:none;}
    // #edit-actions {
    //     border-top: $gutter / 4 solid get-color(base, "primary");
    //     padding: $gutter 0;
    // }
} 

.step {
    background-color: get-color(gray, "smoke");
    margin-left: -$gutter / 2;
    margin-bottom:0;
    padding: $gutter;
    @include breakpoint($small) {
        margin-left: $gutter;
        margin-right:$gutter;
        margin-bottom: $gutter * 2;
    }
    h2 {
        @include ritmo-font-size($h5-font-size);
        @include breakpoint($small) {
            @include ritmo-font-size($h5-font-size);
        }
        @extend %peque;
    }
    h3 {
        @include ritmo-font-size($h6-font-size);
        @include breakpoint($small) {
            @include ritmo-font-size($h5-font-size);
        }
        @extend %peque; 
        margin-bottom: $gutter / 2;
    }
    > .form-wrapper {
        margin-bottom: $gutter;
        background: get-color(gray, "white");
        border: 2px solid get-color(gray, "light");
        padding: $gutter;
        margin-right: -$gutter * 2;
        margin-left: -$gutter * 2;
        //box-shadow: 0px 6px 3px -3px rgba(0,0,0,0.07) inset;
        &:last-child {
            margin-bottom:0;
        }
    }
}


.step--odd {
    border-top: $gutter / 4 solid get-color(base, "primary");
}
.step--even {
    border-top: $gutter / 4 solid get-color(base, "secondary");
}

.preview {
    padding-bottom: $gutter;
}

.step__info--small {
    @include ritmo-font-size($h6-font-size);
}

.node-form {
    .form-item {
        margin:0;
        padding:0;
        border:none;
    }
    > .form-wrapper {
        margin-bottom: $gutter * 2;
        &:last-child {
            margin-bottom:0;
        }
    }

}


// IMAGEN DE PORTADA

#edit-field-imagen-portada-wrapper {
    .js-form-type-managed-file > label {display:none};
}

.uploader-label label {
    margin:0;
}

// Reset all fieldsets
// .field--name-field-soundcloud,
// .field--name-field-imagen,
// .field--name-field-instagram,
// .field--name-field-video{
//     fieldset {
//         padding:0;
//         margin:0;
//         border:none;
//         legend {
//             @extend %escondido;
//         }
//     }
// }

// Hide all text indications.
.filter-wrapper {
    display:none;
}


// Style body and description fields
.field--name-body,
.field--name-field-descripcion,
.field--name-field-iframe,
.field--name-field-texto {
    .form-item {
        width:100%;
        label {
            display:none;
        }
        .form-item {
            display:block;
            margin:0;
            padding:0;
            border:none;
        }
    }
}

// COLOR
.field--name-field-color {
    .js-form-type-textfield {
        .minicolors {
            // height:ritmo(4);
            // width:ritmo(4);
            margin-left: $gutter / 4;
            input {
                outline:none !important;
                box-shadow: 0px 0px 0px 0px transparent !important;
            }
        }
        //.mini-colors {@extend %escondido;}
        .minicolors-swatch {
            top:0;
            right:0;
            width:ritmo(8);
            height:100%;
            cursor:pointer;
            border:none;
            border-radius:0;
        }
    }
}

// CONTENIDO

#edit-field-contenido,
#edit-field-contenido-wrapper {
    > strong,
    thead {
        @extend %escondido;
    }
}

.tabledrag-changed-warning {
    width:100%;
}


// MP3 SINGLE

.field--name-field-archivo-mp3 {
    .form-item {
        .file {
            width:100%;
            font-weight:bold(p);
            margin-bottom: $gutter / 2;
       }
        .form-managed-file {
            margin-left:auto;
            display:flex;
            flex-wrap:wrap;
            align-items:center;
            .button {
                @extend .button--bad;
                margin-left: auto;
            }
            > .form-item {
                flex: 0 1 75%;
            }
        }
    }
}


// MP3 MULTIPLE

.field--name-field-playlist-mp3-files {
    table {
        table-layout: initial;
        .draggable td:first-child {
            position:relative;
            padding-right: $gutter;
            .form-managed-file {
                padding-left: $gutter;
            }
            .tabledrag-handle {
                float: none;
                position:absolute;
                left:0;
                top:50%;
                margin-top: -($gutter / 2);
                transform: translateY(-50%);
            }
        }
        td:last-child {
            display:flex;
            input {
                @extend .button--bad;
                margin-left:auto;
            }
        }
    }
}



// #edit-body-0--description,
// #edit-field-iframe-0--description {
//     margin: $gutter 0 0 0 ;
//     @include ritmo-font-size($h6-font-size);
// }



// // IMAGEN / AUDIO
// // Put checkboxes side by side
// #edit-field-tipo-imagen--wrapper,
// #edit-field-tipo-audio--wrapper {
//     .fieldset-wrapper {
//         flex:1;
//     }
//     legend {
//         @extend %escondido;
//     }
// }

// #edit-field-tipo-imagen,
// #edit-field-tipo-audio {
//     display:flex;
//     .form-item {
//         flex:0 0 auto;
//         margin:0;
//         padding:0;
//         border:0;
//         input {
//             @extend %escondido;
//             &:checked + label {
//                 @extend .button:hover;
//             }
//         }
//         label {
//             @extend .button;
//         }
//     }
// }

// // Add spacer to instagram field
// .field--name-field-instagram fieldset {
//     margin-bottom: $spacer;
//     padding-bottom: $spacer;
//     border-bottom: 1px dotted get-color(gray, "lighter");
// }

// .field--name-field-tipo-imagen {
//     fieldset {
//         flex:1;
//     }
// }

// // Hating those guys...
// .js-form-type-vertical-tabs,
// .tabledrag-toggle-weight-wrapper {
//     display:none;
// }

// // FOKIN DRUPAL TABLES
// #field-imagen-add-more-wrapper {
//     .description {
//         margin: 0 0 $gutter 0;
//     }
// }
// #field-imagen-values,
// table[id^="field-imagen-values"] {
//     table-layout: initial;
//     thead {
//         display:none;
//     }
//     td {
//         border:none;
//         //border-bottom: 1px solid $separator-color;
//         padding: $gutter / 2 0;
//     }
//     .field-multiple-drag {
//         width:50px;
//     }
//     .tabledrag-handle {
//         margin-left:0;
//         height:16px;
//         .handle {
//             background-position: 0 0;
//             height:16px;
//             width:16px;
//             padding:0;
//             margin:0;
//         }
//     }
//     // You don't know how much I hate Drupal forms
//     fieldset > .fieldset-wrapper > .form-wrapper {
//         padding: $gutter;
//         border: 2px solid get-color(gray, "light");
//         background: get-color(gray, "white");
//         .form-item {
//             margin:0;
//             padding:0;
//             border:0;
//         }
//     }

//     .fieldset-wrapper,
//     .js-form-type-managed-file,
//     .image-widget {
//         flex:1;
//     }

//     .field--name-field-imagen {
//         margin-bottom:$gutter;
//     }

//     .description {
//         display:none;
//     }
//     .js-form-type-managed-file {
//         padding-left: $gutter;
//         flex-wrap:nowrap;
//         label {
//             white-space:nowrap;
//         }
//     }
//     .image-widget {
//         flex-wrap:wrap;
//         span {
//             padding:0;
//         }
//         .button {
//             @extend .button--bad;
//             margin-left:0;
//         }
//     }
//     .focal-point-wrapper {
//         margin-left: auto;
//         //text-align:center;
//         img {
//             margin:0;
//         }
//     }
//     .file,
//     .file-size {
//         @extend %escondido;
//     }
// }

// // AUDIO

// .field--name-field-mp3-reference {
//     legend {
//         @extend %escondido;
//     }
// }

// // INSTAGRAM

// #edit-field-instagram-wrapper {
//     .ief-entity-table{
//         thead,
//         th:first-child,
//         tr:first-child td:first-child {
//             display:none;
//         }
//         td {
//             padding:0;
//             border:none;
//         }
//         input[value="Editar"] {
//             @extend .button--good;
//         }
//         input[value="Eliminar"] {
//             @extend .button--bad;
//         }
//     }
//     .ief-entity-operations {
//         display:flex;
//         align-items:flex-end;
//     }
// }

.preview {
    img {
        object-fit: cover;
        height: 100%;
    }
}

.preview--front {
    width:400px;
    position:relative;
    margin:0 auto;
}

.preview--teaser {
    .preview-squarer {
        height:0;
        width:100%;
        padding-bottom:100%;
        position:relative;
        img {
            position:absolute;
        }
    }
}

.js-form-type-radio {
    .form-radio {
        width:auto;
        margin-right:$gutter / 2;
    }
}