.field--name-field-soundcloud,
.field--name-field-imagen,
.field--name-field-instagram,
.field--name-field-video {
    fieldset {
        padding:0;
        margin:0;
        border:none;
        legend {
            display:none;
        }
    }
}

.filter-wrapper {
    display:none;
}

.field--name-field-instagram fieldset {
    margin-bottom: $spacer;
    padding-bottom: $spacer;
    border-bottom: 1px dotted get-color(gray, "lighter");
}

.field--name-body,
.field--name-field-descripcion {
    .form-item {
        flex-direction:column;
        width:100%;
        label {
            display:none;
        }
        .form-item {
            display:block;
            margin:0;
            padding:0;
            border:none;
        }
    }
}

.js-form-type-vertical-tabs {
    display:none;
}

.node-form {
    margin-bottom: $gutter;
    padding-bottom: $gutter;
    border-bottom: ritmo(2) solid get-color(gray, "black");
    h2 {
        @include ritmo-font-size($h4-font-size);
    }
} 

// If it is a create image form...
#node-imagen-form .field--name-field-imagen {
    .image-widget {
        flex-wrap:wrap;
        span {
            padding:0;
        }
    }
    .focal-point-wrapper {
        width:100%;
    }
}