.front__menu {
    margin-top:auto;
    height:50%;
    width:100%;
    padding: $gutter;
    @include breakpoint($small) {
        width:50%;
        height:auto;
        margin:0 100px 0 auto;
        padding-top: calc(200px + #{ritmo(8)});
        padding-bottom:ritmo(8);
        padding-left: ritmo(8);
        padding-right: ritmo(8);
    } 
    background-color: get-color(base, "secondary");
    //border-left: 1px solid get-color(gray, "black");
    display:flex;
    flex-direction:column;
    a {
        @include kill-link(get-color(gray, "black"));
        font-weight:bold;
        &:hover, &:focus {
            font-weight:$light;
            text-decoration: none;
        }
    }
    nav {
        margin:auto 0 $gutter 0;
    }
    ul {
        text-align:left;
        li {
            list-style-type:none;
            display:block;
            text-transform: uppercase;
            margin-top: $gutter;
            margin-bottom:0;
        }
        a {
            @include ritmo-font-size($h4-font-size);
        }
    }
}

.front__menu__operations {
    display:flex;
    justify-content:space-between;
    @include breakpoint($small) {
        display:block;
        position:absolute;
        top:$gutter;
        left:50%;
        transform: translateX(-50%);
    }
}

.front__menu__open {
    @include kill-button();
    padding:0;
    margin-bottom: $gutter / 2;
    &:active {
        .tooltip {
            display:none !important; // for the firefox bug
        }
    }
}

.front__burguer__wrapper {
    overflow:hidden;
    transition: border-radius $transition-time ease-out;
    border-radius:0;
    position:relative;
}


.front__burguer {
    display:block;
    width:$gutter;
    margin-bottom:4.5px;
    margin-top:4.5px;
    height:3px;
    background-color:get-color(gray, "black");
    transition: all $transition-time ease-in-out;
}

.front__user {
    svg {
        fill: get-color(gray,"black");
        display:block;
    }
}

.front__cross {
    background-color:get-color(gray, "white");
    position:absolute;
    width:$gutter * 0.75;
    top:50%;
    left:50%;
    margin:0;
    margin-left: -$gutter * 0.375;
    transition: all $transition-time ease-in-out;
    transform-origin: center center;
    border-radius:2px;
    height:5px !important;
    &:nth-child(4) {
        transform: translateY(-50%) rotate(45deg) scale(0);
    }
    &:nth-child(5) {
        transform: translateY(-50%) rotate(-45deg) scale(0);
    }
}

.front__menu__open--open {
    .front__burguer__wrapper {
        border-radius:50%;
    }
    .front__burguer {
        height:9px;
        margin:0;
    }
    .front__cross {
        margin-left: -$gutter * 0.375;
        &:nth-child(4) {
            transform: translateY(-50%) rotate(45deg) scale(1);
        }
        &:nth-child(5) {
            transform: translateY(-50%) rotate(-45deg) scale(1);
        }
    }
}