.front__layer {
    display:flex;

    // When the header menu moves to the left...
    @include breakpoint($small) {
        position:fixed;
        top:0;
        bottom:0;
        left:calc(-100% + 100px);
    }
    width:100%;
    height:100%;
    z-index:z-index('front-menu');
    transition: left $transition-time * 3 cubic-bezier(.43,-0.15,.41,.92) $transition-time ;
    &:before {
        content:"";
        position:absolute;
        top:0;
        left:-100px;
        width:100px;
        height:100%;
        background-color: get-color(base, "primary");
    } 
}

.front__layer--open {
    @include breakpoint($small) {
        left:0;
    }
    .front__layer__inner {
        left:0;
    }
    .front__menu__open {
        z-index:z-index(menu-open-mobile);
    }
}


.front__layer__inner {
    position: fixed;
    width:100%;
    top:0; //ritmo(8);
    left:-100%; //ritmo(8);
    bottom: 0; // ritmo(8);
    transition: left $transition-time ease-out;
    display:flex;
    flex-direction:column;
    background-color: get-color(base, "primary");
    z-index:z-index(front-layer);
    @include breakpoint($small) {
        width:auto;
        position:absolute;
        top:0; //ritmo(8);
        left:0; //ritmo(8);
        bottom: 0; // ritmo(8);
        right: 100px;
    };
    @include breakpoint($medium) {
        flex-direction:row;      
    };
    //border: ritmo(2) solid get-color(gray, "white");
    //padding: ritmo(10);
}

.front__layer__ms {
    position:absolute;
    width:200px;
    height:200px;
    top:25%;
    left:50%;
    transform: translate(-50%, -50%);
    background-color: get-color(gray, "white");
    font-size:100px;
    line-height:1;
    margin-right: auto;
    display:flex;
    align-items:center;
    justify-content:center;
    letter-spacing: -0.03rem;
    @include breakpoint($small) {
        position:static;
        margin: ritmo(8) 0 0 ritmo(8);
        width:200px;
        height:200px;
        transform:none;
    }
}

.front__layer__s {
    font-weight:bold;
}