.header {
    // display:flex;
    margin-bottom:0;
    width:100%;
    // align-items: baseline;
}

// Solo si NO es nodo
.header__logo {
    @include ritmo-font-size($h2-font-size);
    display:inline-block;
    letter-spacing: -0.03em;
    margin:0;
    display:flex;
    flex-wrap:wrap;
    flex-direction:column;
    align-items:baseline;
    justify-content:center;
    margin-bottom: $gutter * 2;
    @include breakpoint($small) {
        flex-direction:row;
        justify-content:flex-start;
    }
    a {
        @include kill-link(get-color(text, primary));
        @include breakpoint($small) {
            margin-right: ritmo(2);
        }
    }
    .main-title {
        h1 {
            @include ritmo-font-size($h3-font-size);
            font-weight:normal;
            @include breakpoint($small) {
                &:before {
                    content: "/";
                    margin-right: ritmo(2);
                }
            }
            color: get-color(gray, base);
            margin:0;
            &:hover {
                color:get-color(gray, dark);
            }
            em {
                display:inline;
            }
        }
    }
}

.ms__back {
    display:block;
    @include ritmo-font-size($h6-font-size);

        @include kill-link(get-color(gray, "base"));
}

.main-title {
    h1 {
        @include ritmo-font-size($h2-font-size);
        @include breakpoint($small) {
            @include ritmo-font-size($h1-font-size);
        }
        // @include breakpoint($medium) {
        //     @include ritmo-font-size($h1-font-size);           
        // }
        font-weight:bold;
        letter-spacing: -0.03em;
        margin:0 0 $gutter 0;
        em {
            @include ritmo-font-size($h3-font-size);
            display:block;
            font-weight:normal;
            font-style:normal;
        }
    }
}