.interacciones {
    position:absolute;
    bottom:0;
    left:0;
    right:0;
    width:100%;
    padding: $gutter;
    background-color: lighten(get-color(base, "secondary"), 25%);
    display:flex;
    flex-wrap:wrap;
    margin-bottom:0;
    .private_message_link_wrapper {

        margin-top:$gutter / 4;
    }
    .private_message_link_wrapper a,
    .flag__favorito a {
        @include ritmo-font-size($h7-font-size,4);
        text-transform: uppercase;
        font-weight: bold(a);
        @include kill-link(get-color(gray, "white"));
        padding: 0 ritmo(2);
        //height:25px;
        margin-right:5px;
        background-color: #000;
        display:inline-block;
        vertical-align:top;
    }
}