.interacciones__wrapper {
    margin-top:auto;
    @include breakpoint($medium) {
        margin-top:0;
    }
}

.interacciones {
    position:fixed;
    bottom:0;
    left:0;
    right:0;
    width:100%;
    padding: $gutter / 2;
    @include breakpoint($small) {
        padding: $gutter / 2 $gutter;
    }
    @include breakpoint($medium) {
        position:static;
    }
    background-color: get-color(base, "secondary");
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    margin-bottom:0;

    .private_message_link_wrapper {
        width:100%;
        text-align:center;
    }
    .private_message_link_wrapper a {
        background-image: url('../../../images/chat.png');
        background-repeat:no-repeat;
        background-position: 0 50%;
        background-size: $gutter / 2;
        @include ritmo-font-size($h6-font-size,2);
        text-transform: uppercase;
        font-weight: bold(a);
        @include kill-link(get-color(gray, "black"));
        padding: 0 $gutter / 2 0  $gutter / 1.25;
        //height:25px;
        display:inline-block;
        margin: 0 auto;
        &:hover {
            background-image: url('../../../images/chat.png');
            background-size: $gutter / 1.6;
            background-repeat:no-repeat;
            background-position: 0 50%;
        }
    }
}
