.media {
    // Delegate all margin handling to .media containers.
    margin-bottom: $gutter * 2;
    figure,
    iframe, 
    section {
        margin-bottom:0;
    }

}


.media-imagen {
    img {
        margin:0 auto;
    }
    figcaption {
        border-bottom: 1px solid get-color(gray, "lighter");
    }
}

.bandcamp {
    iframe {
        min-height:120px;
        margin: 0 auto;
    }
}