.miniteaser__list {
    @include inline-list();
}

.miniteaser {
    display:flex;
    justify-content:space-between;
    position:relative; // For link-layer
}

.miniteaser__thumb {
    width:150px;
    height:150px;
    margin-right:$gutter;
    img {
        object-fit:cover;
        height:150px;
        width:150px;
    }
}
.miniteaser__text {
    flex:1;
}

.miniteaser__thumb {
    img {
        object-fit:cover;
    }
}

.miniteaser__text {
    display:flex;
    flex-direction:column;
}

.miniteaser__title {
    @include ritmo-font-size($h4-font-size);
    line-height:1;
    font-weight:bold(h1);
    margin:0;
    font-family: $font-main;
}

.miniteaser__autor {
    flex:1;
    font-weight:bold(p);
    font-family:$font-secondary;
    @include ritmo-font-size($h7-font-size);
    text-transform: uppercase;
    letter-spacing: 0.3em;
    border-bottom: ritmo(1) solid get-color(gray, "black");
}


