.ui-widget.ui-widget-content {
    border:none;
    border-radius:0;
    padding:0;
}

.ui-dialog .ui-dialog-titlebar {
    padding: $gutter / 2 $gutter;
    border-radius:0;
    background-color: transparent;
    border:none;
    color: get-color(text, "primary");
    background-color: get-color(gray, "smoke");
}

.ui-dialog .ui-dialog-title {
    margin:0;
}

.ui-dialog .ui-dialog-titlebar-close {
    border:none;
    border-radius:0;
    background-color: transparent;
    right:$gutter;
}

.ui-dialog .ui-dialog-content {
    padding: $gutter / 2 $gutter;
}

.paragraphs-add-dialog {
    width:480px !important;
}

.paragraphs-add-dialog-list {
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
}

.paragraphs-add-dialog-row {
    padding:0 0  $gutter / 2 0;
    width:48%;
    input {
        &:hover, &:focus {
            background-color: get-color(gray, "lighter");
            color: get-color(gray, "black");
        }
    }
}

ul.paragraphs-add-dialog-list input.field-add-more-submit {
    text-align: right;
}