

.paragraphs-add-dialog {
    width:350px !important;
}

.paragraphs-add-dialog-list {
}

.paragraphs-add-dialog-row {
    padding:0 0  $gutter / 2 0;
    input {
        &:hover, &:focus {
            background-color: get-color(gray, "lighter");
            color: get-color(gray, "black");
        }
    }
}

ul.paragraphs-add-dialog-list input.field-add-more-submit {
    text-align: right;
}