
@keyframes pop {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}

.notifications {
    position:fixed;
    top:0;
    left:0;
    right:0;
    transform: translateY(-100%);
    animation: pop 1s ease-in-out 0.75s 1 normal forwards ;
    z-index: z-index(notifications);
}

.message {
}

.message__text,
.messages {
    @extend %peque;
    color: get-color(gray, "white");
    margin-bottom:$gutter / 2;
    a {
        @include set-link(
            get-color(gray, "lighter"), 
            get-color(gray, "light"),
            get-color(gray, "light"),
            get-color(gray, "white")
        );
    }
    ul  {
        @include inline-list();
    }
    p {
        margin:0;
    }
    .home & {
        margin-left:100px;
    }
}

.messages--warning {
    padding: ritmo(2);
    background: get-color(state, "warning");
}

.message--error {
    padding: ritmo(2);
    background: get-color(state, "error");
}

.message--info {
    padding: ritmo(2);
    background: get-color(state, "success");
}

.message__close {
    position:absolute;
    top:ritmo(2);
    right:ritmo(2);
    @include ritmo-font-size($h5-font-size);
    line-height:1;
    border:none;
    padding:0;
    margin:0;
    background:transparent;
    &:hover, &:focus, &:active {
        background:none;
        color: get-color(gray, "black");
        box-shadow:none;
    }
    &:before {
        display:block;
    }
}