.paragraphs-dropbutton-wrapper {
    margin-top: $gutter;
    input {
        margin-right: $gutter / 2;
    }
}

.paragraph-type-add-modal {
    margin-top: $gutter;
    input {
        margin-right: $gutter / 2;
        @extend .button--good;
    }
}

.paragraph-type-top {
    display:flex;
    align-items:center;
}

.paragraphs-subform {
    margin-top:$gutter / 2;
    .fieldset-legend {
        @extend %escondido;
    }
    .fieldset-wrapper {
        flex:1;
    }
    .ief-form,
    > .field--type-entity-reference,
    > .form-wrapper
     {
        background-color: get-color(gray, "white");
        padding: $gutter / 2;
        .form-wrapper {
            margin-bottom: $gutter;
            &:last-child {
                margin-bottom:0;
            }
        }
    }
}

.ief-entity-table {
    table-layout: initial;
    tr:first-child:last-child {
        td {
            padding:0;
        }
    }
    .inline-entity-form-media-thumbnail {
        width:100%;
        padding-left:$gutter;
    }
    .ief-entity-operations {
        display:flex;
        input {
            margin-left: $gutter / 2;
            &[value="Editar"] {
                @extend .button--good;
            }
            &[value="Eliminar"] {
                @extend .button--bad;
            }
        }
    }
}

.paragraph-type-title {
    @extend %peque;
}

.paragraphs-collapsed-description {
    @include ritmo-font-size($h6-font-size);
    line-height:1;
    padding: 0 $gutter / 2;
}

.paragraphs-actions {
    margin-left: auto;
    position:relative;
    > .button {
        margin:0;
        @include kill-button();
        &:hover, &:focus {
            text-decoration:underline;
        }
    }
}

.paragraphs-dropdown {
    position:static;
}

.paragraphs-dropdown-toggle{
    border:none;
    &:hover,
    &:focus {
        border:none;
        background-color:get-color(gray, "lighter");
        border-radius:0;
        box-shadow:none;
    }
}

.paragraphs-dropdown-actions {
    top: ritmo(6);
    box-shadow:none;
    background-color:get-color(gray, "white");
    border-radius:0;
    min-width:100%;
    overflow:visible;
    z-index: z-index(paragraph-actions);
    .button {
        font-weight:normal;
        line-height: ritmo(4);
        display:block;
    }
    &:before,
    &:after {
        content:"";
        width: 0;
        height: 0;
        border-width:$gutter / 8;
        border-style:solid;
        border-color: transparent;
        right: $gutter / 3;
        top: - $gutter / 4;
        display:block;
        position:absolute;
    }
    &:before {
        border-bottom-color:get-color(gray, "light");
    }
    &:after {
        top: calc(-#{$gutter / 4} + 1px);
        border-bottom-color:get-color(gray, "white");
    }
}

.paragraphs-icon {

}

.paragraphs-icon-changed {
    position:relative;
    display:block;
    &:before {
        content: "‼︎";
        background-color: get-color(state, "warning");
        border-radius: 50%;
        display:block;
        width:ritmo(3);
        height:ritmo(3);
        font-size: ritmo(2);
        padding: ritmo(0.5) 0;
        line-height:1;
        text-align: center;
        margin-left: $gutter / 4;
        color: get-color(gray, "white");
        font-weight: bold(p);
        transform:rotate(2deg);
    }
    &:hover {
        .paragraphs-icon__message {
            position: absolute !important;
            clip: initial;
            height: auto;
            width: auto;
            @include ritmo-font-size($h7-font-size);
            top:50%;
            left:ritmo(5);
            white-space: nowrap;
            transform:translateY(-50%);
        }
    }
}


// TIPOS DE PARRAFO

.paragraph--type--texto,
.paragraph--type--video,
.video-embed-field-responsive-video {
    margin-bottom: $gutter * 2;
}

.paragraph--type--titulo-de-seccion {
    margin-bottom: $gutter; // Se suma al ultimo <p> para dar dos
}

.paragraph--type--titulo-de-seccion {
    margin-top: $gutter * 4;
    .contenido__main > & {
        margin-top:0;
    }
}
