// FORMS

.private-message__form {
    //display:none;
    margin: $gutter 0;
    .filter-wrapper,
    .js-form-type-textarea label,
    .captcha-admin-links {
        display:none;
    }
    .form-item {
        display:block;
        width:100%;
        margin:0;
        padding:0;
        border:none;
    }
    .cke {
        width:100%;
        //border:none !important;
        margin-bottom:ritmo(4) !important;
    }
}

#private-message-add-form {
    .field--name-message {
        label {display:none}
        .js-text-format-wrapper {
            padding:0;
            margin:0;
            border:none;
            .form-item {
                width:100%;
                > div  {
                    width:100%;
                }
            }
        }
    }
}

#thread-members-display-container {
    margin-bottom: $gutter;
    display:flex;
    align-items:center;
    input {
        flex:1;
    }
}

#pm-members-autocomplete-results-wrapper {
    position:absolute;
}

.private-message-member-display-item {
    margin:0;
    background-color: get-color('base', secondary);
    color: get-color(gray, "white");
    float:left;
    order:-999;
    border-radius:2px;
    overflow: hidden;
    margin-right: $gutter / 4;
    @extend %peque;
    .pm-username {
        display:inline-block;
        padding: 0 $gutter / 4;
    }
    .pm-username-remove-link {
        display:inline-block;
        padding: 0 $gutter / 4;
        border-left: 1px solid get-color(gray, "white");
        background-color: lighten(get-color('base', secondary), 10%);
        &:hover {
            background-color: get-color('base', secondary);
        }
    }
}

// .private-message__form--active {
//     display:block;
// }

.private-message-recipients {
    margin-bottom: $gutter !important;
    margin:0;
    display:block;
    span {
        padding: 0 5px 5px 0;
        border-bottom: $gutter / 4 solid get-color(base, "secondary");
    }
    a {
        padding: 0 0 5px 0;
        border-bottom: $gutter / 4 solid get-color(base, "secondary");       
    }
}

.private-message__inner {
    display:flex;
    align-items:flex-start;
    margin-bottom:ritmo(4);
}

.private-message__meta {
    margin-right: $gutter;
    p {
        // max-width:66%;
        white-space: nowrap
    }
}

.private-message__content {
    flex:0 1 auto;
    padding: $gutter;
    border: 1px solid get-color(gray, "lighter");
    border-radius: $gutter;
    // font-weight:bold(p);
    position:relative;
    p:last-child {
        margin:0;
    }
    &:before {
        content:"";
        width:0;
        height:0;
        border-width: $gutter / 2;
        border-style:solid;
        border-color: transparent get-color(gray, "lighter") transparent transparent;
        position:absolute;
        top:$gutter;
        left: - $gutter;
        display:block;
    }
    &:after {
        content:"";
        width:0;
        height:0;
        border-width: $gutter / 2;
        border-style:solid;
        border-color: transparent get-color(gray, "white") transparent transparent;
        position:absolute;
        top:$gutter;
        left: - $gutter * 0.95;
        display:block;
    }
}

.private-message__who {
    margin-top: $gutter / 2;
    .profile-mini__img {
        width:50px;
        height:50px;
        margin: 0 auto;
    }
    .profile-mini__user {
        margin: $gutter / 2 0;
    }
}

.private-message__when {
    @include ritmo-font-size($h7-font-size);
}

.private-message-thread {
    // padding: $gutter;
    margin-bottom: $gutter;
    // border: 1px solid get-color(gray, "lighter");
    // border-left-width: $gutter / 4;
}

.private-message__inner--odd {
    .private-message__meta {
        order:9;
        margin-right:0;
        // padding-right:0;
        margin-left: $gutter;
        // padding-left: $gutter;
        // border-left: 2px solid get-color(gray,"light");
        // border-right:none;
    }
    .private-message__content {
        text-align:right;
        margin-left: auto;
    }
    .private-message__content {
        font-weight:normal;
        &:before {
            border-color: transparent transparent transparent get-color(gray, "lighter");
            top:$gutter;
            right: - $gutter;
            left:auto;
        }
        &:after {
            border-color: transparent transparent transparent get-color(gray, "white");
            top:$gutter;
            right: - $gutter * 0.95;
            left:auto;
        }
    }
}


// MESSAGE LINK

.private-message__reply,
.private-message__link  {
    @include ritmo-font-size($h7-font-size,4);
    vertical-align:middle;
}

.private-message__link {
    //@extend .button;
}

// BLOCK

.block-private-message {
    h2 {
        @extend %peque;
    }
    .content {
        @include breakpoint($medium) {
            display:flex;
            justify-content: space-between;
            .private-message-thread {
                width:48%;
            }
        } 
    }
}

// SEND MESSAGE

.user .private_message_link_wrapper {
    margin-bottom: $gutter;
    a {
        @extend .button;
    }
}


// NOTIFICACIONES

// Animate.scss
$countDefault: 1 !default;
$durationDefault: 1s !default;
$delayDefault: 0s !default;
$functionDefault: ease !default;
$fillDefault: both;
$visibilityDefault: hidden !default;

@include keyframes(bounce) {
	0%, 20%, 50%, 80%, 100% {@include transform(translateY(0));}
	40% {@include transform(translateY(-15px));}
	60% {@include transform(translateY(-7px));}
}

@mixin bounce($count: infinite, $duration: 2s, $delay: $delayDefault, $function: $functionDefault, $fill: $fillDefault, $visibility: $visibilityDefault) {
	@include animation-name(bounce);
	@include count($count);
	@include duration($duration);
	@include delay($delay);
	@include function($function);
	@include fill-mode($fill);
	@include visibility($visibility);
}

.block-private-message-notification-block {
    height:auto;
    width:auto;
    @include ritmo-font-size($h6-font-size);
    text-transform: uppercase;
    .private-message-page-link {
        height:auto;
        width:auto;
        line-height:ritmo(3);
        width:ritmo(3);
        height:ritmo(3);
        border-radius:50%;
        vertical-align:baseline;
        display:inline-block;
        text-align:center;
        background-color: get-color(state, success);
        position:static;
        @include kill-link(get-color(gray, "white"));
        @include kill-link-decoration();
        &:hover {
            background-color: get-color(gray, "black");
        }
    }
    .unread-threads .private-message-page-link {
        background-color: get-color(state, warning);
        @include bounce();
    }
}

// Load prev

#load-previous-messages-button-wrapper {
    position:absolute;
    top:$gutter / 4;
    right:0;
    font-weight:bold();
    @include ritmo-font-size($h6-font-size);
}