.teaser-grande {
    //background-color: get-color(gray, "smoke");
    padding: ritmo(3);
    display:flex;
    position:relative;
    &:hover {
        //background-color: get-color(gray, "white");
        .teaser-grande__bg {
            opacity:0.8;
        }
    }
}

.teaser-grande__bg {
    @include layer();
    opacity:1;
    z-index:-1;
    transition: opacity $transition-time ease-in-out;
}

.teaser-grande__contenido {
    display:flex;
    flex-direction:column;
}

.teaser-grande__title {
    @include ritmo-font-size($h3-font-size);
    margin:0;
}

.teaser-grande__autor {
    @extend %peque;
    margin-bottom: $gutter;
}

.teaser-grande__img {
    flex: 0 0 25%;
    margin-right: $gutter;
}

.teaser-grande__texto {
    margin-top:auto;
    @include ritmo-font-size($h6-font-size);
}