.tooltip__parent {
    position:relative;
    &:hover {
        .tooltip {
            display:block;
        }
    }
}

.tooltip {
    position:absolute;
    display:none;
    padding: 0 $gutter/2;
    border-radius:3px;
    background: get-color(base, "primary");
    color: get-color(gray, "white");
    @include ritmo-font-size($h7-font-size, 3);
    letter-spacing: 0.05rem;
    text-transform: uppercase;
    font-weight: bold();
    white-space: nowrap;
    z-index: z-index(tooltip);
    box-shadow: 0px 0px 8px rgba(0,0,0,0.15);
}

.tooltip--right {
    top:50%;
    transform: translateY(-50%);
    left:100%;
    left: calc(100% + #{$gutter / 2});
    &:before {
        content: '';
        width:0;
        height:0;
        border-width: 5px;
        border-style:solid;
        border-color: transparent get-color(base, "primary") transparent transparent;
        position:absolute;
        top:50%;
        right:100%;
        transform:translateY(-50%);
    }
}

.tooltip--left {
    top:50%;
    transform: translateY(-50%);
    right:100%;
    right: calc(100% + #{$gutter / 2});
    &:before {
        content: '';
        width:0;
        height:0;
        border-width: 5px;
        border-style:solid;
        border-color: transparent transparent transparent get-color(base, "primary");
        position:absolute;
        top:50%;
        left:100%;
        transform:translateY(-50%);
    }
}

.tooltip--bottom {
   top:100%;
   top: calc(100% + #{$gutter / 2});
   left:50%;
   transform: translateX(-50%);
   &:before {
       content: '';
       width:0;
       height:0;
       border-width: 5px;
       border-style:solid;
       border-color: transparent transparent get-color(base, "primary") transparent;
       position:absolute;
       bottom:100%;
       left:50%;
       transform:translateX(-50%);
   }
}

.tooltip--top {
    bottom:100%;
    bottom: calc(100% + #{$gutter / 2});
    left:50%;
    transform: translateX(-50%);
    &:before {
        content: '';
        width:0;
        height:0;
        border-width: 5px;
        border-style:solid;
        border-color: get-color(base, "primary") transparent transparent transparent;
        position:absolute;
        top:100%;
        left:50%;
        transform:translateX(-50%);
    }
 }

// In the front menu

.front__layer {
    .tooltip {
        @include breakpoint(max-width $small) {
            display:none !important;
        }
        @include breakpoint($small) {
            margin-left:$gutter;
            height:$gutter;
            border-radius: 0 3px 3px 0;
            &:before {
                content:"";
                position:absolute;
                top:0;
                right:100%;
                width: 0;
                height: 0;
                border-width: $gutter / 2;
                border-style: solid;
                border-color: transparent get-color(base, "primary") transparent transparent;
                transform:none;
            }
        }
    }
    @include breakpoint($small) {
        .tooltip__parent:hover .tooltip,
        .tooltip__parent.js-hover .tooltip {
            display:flex;
            flex-direction:column;
            align-items:center;
            justify-content:center;
        }
    }
}

// .front__layer--open {
//     @include breakpoint($small) {
//         .tooltip--right {
//             left:auto;
//             right:100%;
//             transform: translateY(-50%);
//             border-left:none;
//             border-right:$gutter solid get-color(gray, "white");
//             &:before {
//                 right:auto;
//                 left:100%;
//                 border-color: transparent transparent transparent get-color(base, "primary");
//             }
//         } 
//     }   
// }

.contenido__leido {
    .tooltip {
        background-color: get-color(state, 'success');
        @include ritmo-font-size($h7-font-size, 2);
        padding: $gutter/6 $gutter/4;
        color:get-color(gray, "white");
        box-shadow: 0px 0px 4px rgba(0,0,0,0.2);
        &:before {
            border-bottom-color: get-color(state, 'success');
        }
    }
}