.user {
    // .layout-content {
    //     display:flex;
    // }
}


// Forms

.user-form {
    margin-bottom:$spacer;
    #edit-account {
        display:flex;
        flex-direction:column;
        .form-item-name {
            order:0;
        }
        .form-item-current-pass {
            order:1
        }
        .form-item-mail {
            order:2;
        }
        .form-item-pass {
            order:3;
            align-items:flex-start;
            justify-content:space-between;
            // margin:0;
            // padding:0;
            // border:none;
            .form-item {
                @include breakpoint($small) {
                    align-items: flex-start;
                    width:45%;
                    margin:0;
                    padding:0;
                    border:none;
                }
            }
        }
        #password-policy-status {
            order: 4;
            margin: $spacer 0;
            padding-bottom: $spacer;
            border-bottom: 1px dotted get-color(gray, "lighter");
            @include ritmo-font-size($h6-font-size);
            font-family: $font-secondary;
            table {
                margin:0;
            }
            td, th {
                border:none;
                padding: $gutter / 6 $gutter $gutter / 4 0;
            }
            // table,
            // thead, 
            // tr,
            // td,
            // th,
            // tbody {
            //     display:block;
            // }
        }
    }

}

// PROFILE

.profile {
    padding-bottom: $gutter;
}

.profile__img {
    width:200px;
    height:200px;
    margin: 0 auto $gutter auto;
    @include breakpoint($small) {
        float:left;
        margin: $spacer $spacer $spacer 0;
        shape-outside:circle();
    }
    img {
        border-radius: 50%;
        display:block;
    }
}

.profile__desc {
    p:last-child  {
        margin-bottom:0;
    }
}

.profile--mini {
    background-color: get-color(gray, 'smoke');
    border-bottom: 1px dashed get-color(gray, "lighter");
    padding:$gutter;
    margin-bottom:0;
    .profile__img {
        width:100px;
        height:100px;
        margin-top:0;
        margin-bottom: $gutter;
        @include breakpoint($small) {
            margin-bottom:0;
        }
    }
    .profile__desc {
        @include ritmo-font-size($h6-font-size);
        text-align:center;
        @include breakpoint($small) {
            text-align:left;
        }
    }
}

.profile__name {
    @include ritmo-font-size($h4-font-size);
    font-weight:normal;
    font-weight:bold(h2);
}

.contentlist {
    h2 {
        @include ritmo-font-size($h4-font-size);
    }
    .miniteaser {
        margin:0;
        min-height:150px; // Para los contenidos sin imagen;
    }
}

.contentlist__list {
    @include inline-list();
    display:flex;
    flex-wrap:wrap;
}

.contentlist__item {
    width:100%;
    @include breakpoint($small) {
        width:48%;
        width: calc(50% - #{$gutter});
    }
    margin-bottom: $gutter;
    position:relative;
    &:nth-child(odd) {
        margin-right:auto;
    }
}

.micontenido__edit {
    a {
        margin-right: $gutter / 2;
        @extend %peque;
        @include kill-link(
            get-color(state, "success")
        )
        &:hover {
            color: get-color(gray, "black");
            text-decoration: underline;
        }
    }
}

.micontenido__delete {
    a {
        @extend %peque;
        @include kill-link(
            get-color(state, "error")
        )
    }
    &:hover {
        a {
            color: get-color(gray, "black");
            text-decoration: underline;
        }
    }
}

// Mini profile

.profile-mini__img {
    width:100px;
    height:100px;
    border-radius:50%;
    img {
        object-fit: cover;
        width:100%;
        height:100%; 
        border-radius:50%;
    }
}

.profile-mini__user {
    @extend %peque;
    font-weight:normal;
    text-align:center;
}