.menu {
    @include inline-list();
    @if $menu-kill-links {
      a {
        @include kill-link-decoration();
      }
    }
    ul > li {
      margin:0;
      position:relative;
      z-index:1;
      > a {
        text-align:left; // Override any .right class
        display:block;
        padding:$menu-padding;
        white-space:nowrap;
        @if $menu-kill-links {
          @include set-link(
            get-color(text, primary),
            get-color(text, primary),
            contrast-color($menu-background-color),
            get-color(text, primary),
            false,
            false
          )
        }
      }
      &:hover,
      &:focus {
        > a {
            color: contrast-color($menu-background-color);
            background-color: $menu-background-color;
        }
      }
      > span {
        padding:$menu-padding;
      }
      // Second-level
      > ul {
        display:none;
        position:absolute;
        top:100%;
        left:0;
        z-index:2;
        min-width:120%;
        > li {
          display:block;
          position:relative;
          > a {
            display:block;
            padding:$menu-padding / 2 $menu-padding;
            white-space:nowrap;

            background-color: lighten($menu-background-color, $menu-color-ratio);
            @if $menu-kill-links {
              @include kill-link(contrast-color(lighten($menu-background-color, $menu-color-ratio)));
            }
            @include ritmo-font-size(0.8 * $nav-font-size);
            &:hover,
            &:focus {
              @include background-contrast(shade($menu-background-color, $menu-color-ratio));
            }
          }
        }
      }
      // Third-level
      > ul > li {
        > ul {
          display:none;
          position:absolute;
          top:0;
          left:100%;
          min-width:100%;
          z-index:3;
          li {
            a {
              background-color: lighten(lighten($menu-background-color, $menu-color-ratio), $menu-color-ratio);
              @if $menu-kill-links {
                @include kill-link(contrast-color(lighten($menu-background-color, $menu-color-ratio), $menu-color-ratio));
              }
              @include ritmo-font-size(0.7 * $nav-font-size, 4);
              &:hover,
              &:focus {
                @include background-contrast(lighten($menu-background-color, $menu-color-ratio));
              }
            }
          }
        }
        &:hover {
          > ul {
            display:block;
          }
        }
      }
      &:hover {
        > ul {
          display:block;
          > li {
            display:block;
          }
        }
      }
    }
  }