<p class="scrollbar-hidden" style="width:100px; height:100px; overflow:auto">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, necessitatibus cupiditate mollitia dolor corporis reiciendis quis veniam reprehenderit? Iste esse ab, sequi iusto magnam quam officia ducimus id temporibus animi.
</p>