
/*
Iframe

Deletes border, displays iframe as a block element that always fills its parent's size.

Markup:
<section style="width:50%; height: 600px">
	<iframe src="https://mentalstones.com"></iframe>
</section>

Styleguide Base.iframe
*/

iframe {
	border:none;
	width:100%;
	height:100%;
	display:block;
}
