<div class="form-item">
    <input id="checkbox" type="checkbox" name="checkbox">
    <label for="checkbox">Checkbox</label>
</div>

<div class="form-item">
    <input id="checkbox2" type="checkbox" name="checkbox2" class="pseudo-checkbox">
    <label for="checkbox2">Forced pseudo-checkbox</label>
</div>