$icomoon-font-path: "/fonts" !default;

$icon-chat: "\e900";
$icon-message: "\e901";
$icon-close: "\e902";
$icon-fav: "\e903";
$icon-movie: "\e904";
$icon-password: "\e905";
$icon-volume: "\e906";
$icon-info: "\e907";
$icon-question: "\e908";
$icon-pen: "\e909";
$icon-camera: "\e90a";
$icon-user: "\e90b";
$icon-home: "\e90c";
$icon-star: "\e90d";

