mark {
  background-color:var(--color-text-mark);
  // TODO: Find a way for contrasted elements.
  // color: contrast-color(get-color(text, mark));
  padding: $mark-padding;
  display: inline-block;
}