mark {
  --color-text-mark: contrast-color(map-get(map-get($colors, 'background'), 'mark'));
  background-color:var(--color-background-mark);
  // TODO: Find a way for contrasted elements.
  color: var(--color-text-mark);
  padding: $mark-padding;
  display: inline-block;
}