.form-item {
  display:block;
	margin-bottom: $gutter;

	label {
		display:block;
		@if $label-as-minititle {
			@include minititle($label-font-size)
		} @else {
			@include ritmo-font-size($label-font-size)
		}
	}

	&:last-child,
	&:last-of-type {
		margin-bottom:0;
	}
}

.form-item--inline {
	display:flex;
	align-items: baseline;
	label {
			flex: 0 1 auto;
	}
}

.form-item--required {
	label::after {
		content: "*";
		color: get-color(state, error);
		margin-left: $gutter / 4;
	}
}

.form-item--error {
	label {
		color: get-color(state, error);
	}
	input,
	textarea {
		@include form-border($color: get-color(state, error));
	}
}

.form-item--success {
	label {
		color: get-color(state, success);
	}
	input,
	textarea {
		@include form-border($color: get-color(state, success));
	}
}



.form-item--label-inside {
	border-radius: $form-border-radius;
	@include form-border(); 
	input,
	textarea {
		border:none;
		border-radius:0;
		padding:0;
	}
}

.form-item--label-top {
	align-items: flex-start;
}

.form-item--label-bottom {
	align-items: flex-end;
}

