<div class="b clearfix">
    <div class="p bg-state-success" style="float:left; height: 100px">
        Floated box
    </div>
    <div class="p bg-state-warning" style="float:left; height: 150px">
        Floated box 2
    </div>
</div>