@import url('https://fonts.googleapis.com/css?family=Martel:700,900|Quicksand:400,700');
@import url('https://fonts.googleapis.com/css?family=Domine:700|Martel:200,700');
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700|Libre+Franklin:200,600');


// ICOMOON


$icomoon-font-path: "/fonts" !default;

$icon-chat: "\e900";
$icon-message: "\e901";
$icon-close: "\e902";
$icon-fav: "\e903";
$icon-movie: "\e904";
$icon-password: "\e905";
$icon-volume: "\e906";
$icon-info: "\e907";
$icon-question: "\e908";
$icon-pen: "\e909";
$icon-camera: "\e90a";
$icon-user: "\e90b";
$icon-home: "\e90c";
$icon-star: "\e90d";



@font-face {
  font-family: 'mentalstones';
  src:  url('../fonts/mentalstones.eot?r4vypx');
  src:  url('../fonts/mentalstones.eot?r4vypx#iefix') format('embedded-opentype'),
    url('../fonts/mentalstones.ttf?r4vypx') format('truetype'),
    url('../fonts/mentalstones.woff?r4vypx') format('woff'),
    url('../fonts/mentalstones.svg?r4vypx#mentalstones') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'mentalstones' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chat {
  &:before {
    content: $icon-chat;
  }
}
.icon-message {
  &:before {
    content: $icon-message;
  }
}
.icon-close {
  &:before {
    content: $icon-close;
  }
}
.icon-fav {
  &:before {
    content: $icon-fav;
  }
}
.icon-movie,
.icon-video {
  &:before {
    content: $icon-movie;
  }
}
.icon-password {
  &:before {
    content: $icon-password;
  }
}
.icon-volume,
.icon-audio {
  &:before {
    content: $icon-volume;
  }
}
.icon-info {
  &:before {
    content: $icon-info;
  }
}
.icon-question {
  &:before {
    content: $icon-question;
  }
}
.icon-pen,
.icon-texto {
  &:before {
    content: $icon-pen;
  }
}
.icon-camera,
.icon-imagen {
  &:before {
    content: $icon-camera;
  }
}
.icon-user {
  &:before {
    content: $icon-user;
  }
}
.icon-home {
  &:before {
    content: $icon-home;
  }
}
.icon-star {
  &:before {
    content: $icon-star;
  }
}

