input,
label,
select,
button,
textarea {
    @include form-reset-general();
}

input:-webkit-autofill, 
textarea:-webkit-autofill, 
select:-webkit-autofill {
    box-shadow: 0 0 0px 1000px $webkit-autofill-color inset; 
    color:contrast-color($webkit-autofill-color);
}

input {
    @include form-reset-input();
    &[type=file] {
        border:none;
        width:100%;
        padding:0;
    }
}

select {
    @include form-reset-select();
}

// Button.
//
// Either `<input>`, `<button>` or `<a class="button">`
//
// Markup:
// <button class="button {{modifier_class}}">Click!</button>
//
// .button--disabled          - Dims color and deactivates hover to indicate disability.
//
// Styleguide Componentes.buttons

input[type=submit],
input[type=reset],
input[type=button],
button,
.button {
    @include form-reset-button();
    cursor:pointer;
    border: $button-border;
    display: inline-block;
    padding: 0 ritmo(2);
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    @include ritmo-font-size($h6-font-size, 5);
    &:hover,
    &:focus {
        background:$button-border-color;
        color: contrast-color($button-border-color);
    }
}

input[type=submit][disabled],
input[type=reset][disabled],
input[type=button][disabled],
button[disabled],
.button--disabled {
    opacity: $disabled-opacity;
    &:hover, 
    &:focus {
        background: inherit;
        color: inherit;
    }
}

// Links as buttons
a.button {
    @include kill-link(get-color(text, primary));
    @include kill-link-decoration();
    &:hover,
    &:focus {
        border: $button-border;
        background:$button-border-color;
        color: contrast-color($button-border-color);
    }
}

a.button--disabled {
    &:hover, 
    &:focus {
        background: inherit;
        color: inherit;
    }
}

textarea {
    border: $input-border;
    @include form-reset-textarea();
    width:100%;
    padding: 0 ($spacer / 4);
}

fieldset {
    margin-right:0;
    margin-left:0;
    border: $input-border;
    padding: $spacer;
}

legend {
    font-weight: $bold;
}
