/*
Links

All links are formatted throught `set-link()` mixin.

The `.link-strategy` is honored but you can override it anytime by using helper classes.

Markup:
<a href="#" class="myclass {{modifier_class}}">This is a link! Here! Click! If smart, gujihqpol</a>

.link--inactive         	- Makes link appear as normal text but retain functionality
.disabled         			- The helper class dims the link and deletes visual feedback
.link-strategy-underline	- Sets a link as if `$link-strategy` was set to 'underline'
.link-strategy-border		- Sets a link as if `$link-strategy` was set to 'border'
.link-strategy-smart		- Sets a link as if `$link-strategy` was set to 'smart'
.link-strategy-mark			- Sets a link as if `$link-strategy` was set to 'mark'

Styleguide Typography.links
*/

a {
	@include set-link();
	&.link--inactive {
		@include kill-link()
	}
	&.disabled {
		@include kill-link-decoration();
	}
	&.link-strategy-underline {
		@include set-link($strategy: 'underline');
	}
	&.link-strategy-border {
		@include set-link($strategy: 'border');
	}
	&.link-strategy-mark {
		@include set-link($strategy: 'mark');
	}
	&.link-strategy-smart {
		@include set-link($strategy: 'smart');
	}
}


/*
Kill Link Decoration

Helper class that kills al link decoration on a given block

Use carefully and scope only to the very elements you want to style. Unwanted overrides are easy to get.

Markup:
<section class="kill-link-decoration">
	<p>The <a href="#">links</a> within this text are <a href="#">not decorated</a> (underlines, border-bottom etc..)</p>
</section>

Styleguide Helpers.kill-link-decoration
*/

.kill-link-decoration {
	a {
		@include kill-link-decoration();
	}
}

/*
Kill Link

Completely disables the visual appearance of a link. It defaults to primary text color.

Use carefully and scope only to the very elements you want to style. Unwanted overrides are easy to get.

Markup:
<section class="kill-link">
	<p>The <a href="#">links</a> within this text are <a href="#">completely equal to normal text</a></p>
</section>

Styleguide Helpers.kill-link
*/

.kill-link {
	a {
		@include kill-link();
	}
}