// ! sanitize.css v5.0.0 | CC0 License | github.com/jonathantneal/sanitize.css
// Document (https://html.spec.whatwg.org/multipage/semantics.html#semantics)
// HUESOS fork by idiaz.roncero

// 1. Remove repeating backgrounds in all browsers (opinionated).
// 2. Add box sizing inheritence in all browsers (opinionated).

*,
::before,
::after {
	background-repeat: no-repeat; /* 1 */
	box-sizing: inherit; /* 2 */
}

// 1. Add text decoration inheritance in all browsers (opinionated).
// 2. Add vertical alignment inheritence in all browsers (opinionated).

::before,
::after {
	text-decoration: inherit; /* 1 */
	vertical-align: inherit; /* 2 */
}

// Add border box sizing in all browsers (opinionated).
// Add the default cursor in all browsers (opinionated).
// Prevent font size adjustments after orientation changes in IE and iOS.

html {
	box-sizing: border-box; /* 1 */
	cursor: default; /* 2 */
	-ms-text-size-adjust: 100%; /* 3 */
	-webkit-text-size-adjust: 100%; /* 3 */
	font-family: $font-main;
}

// Sets vertical rhythm on the html element
// More info: https://ritmo.marzeelabs.org/

@include ritmo-baseline();

// All margins are set as margin-bottom to avoid collapsing margins

p, h1, h2, h3, h4, h5, h6,
ul, ol, dl, 
article, aside, footer, header, nav, section,
figure, audio, video,
hr,
table, caption, figcaption,
fieldset,
details, details[open] summary {
	margin: 0 0 $spacer 0;
}

/*
Definition lists

By default, all `<dd>` items are spaced with a `$spacer`

Markup:
<dl>
  <dt>Definition List Title</dt>
  <dd>This is a definition list division.</dd>
  <dt>Lorem ipsum</dt>
  <dd>It's a long text in latin. For example: Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ex sed voluptates sequi doloremque repudiandae iure maxime autem nam placeat nostrum adipisci et, officia nisi consequatur animi eligendi molestias est rem.</dd>
  <dt>Huesos</dt>
  <dd>Is the spanish word for "bones". Osamenta, a rather unusual world, refers to the skeleton.</dd>
</dl>

Styleguide Base.definitionLists
*/
dt {
	margin: 0 0 $spacer / 2 0;
}
dd {
	margin: 0 0 $spacer $spacer;
}

/*
Lists

By default, `$gutter` is applied as margin. Square list-style-type is preferred.

Lists are left-aligned.

Markup:
<ol class="class {{ modifier_class }}">
  <li>List Item 1</li>
  <li>List Item 2</li>
  <li>List Item 3</li>
</ol>
<ul class="class {{ modifier_class }}">
  <li>List Item 1</li>
  <li>List Item 2</li>
  <li>List Item 3</li>
</ul>

.list--inline	-  Inlines list items and removes decoration 

Styleguide Base.lists
*/
ol,ul {
	padding-left: 1em;
	li {
		margin-bottom: $gutter / 2;
	}
}

ul {
	list-style-type: square;
}

.list--inline {
	@include inline-list();
}

caption {
	text-align: $caption-align;
	@include minititle();
}

/* Sections (https://html.spec.whatwg.org/multipage/semantics.html#sections)
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 */

article,
aside,
footer,
header,
nav,
section {
	display: block;
}

/**
 * Remove the margin in all browsers (opinionated).
 */

body {
	margin: 0;
}

/* Grouping content (https://html.spec.whatwg.org/multipage/semantics.html#grouping-content)
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */

main { /* 1 */
	display: block;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

/*
Horizontal rule

Applies $separator styling defined at `_config.scss`. Eliminates ridge/bevel effects.

Markup:
<hr/>

Styleguide Base.hr
*/
hr {
	box-sizing: content-box; /* 1 */
	height: 0; /* 1 */
	overflow: visible; /* 2 */
	@if $separators == true {
		border:none;
		border-bottom: $separator-width solid $separator-color;
	}
}

/**
 * Remove the list style on navigation lists in all browsers (opinionated).
 */

nav ol,
nav ul {
	list-style: none;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

/*
Pre-formatted text

Applies selected monospace and `$base-font-size`

Markup:
<pre>Hey there! I am a pre-formatted text</pre>

Styleguide Typography.pre
*/
pre {
	font-family: $font-monospace; /* 1 */
	@include ritmo-font-size($base-font-size); /* 2 */
}

/* Text-level semantics (https://html.spec.whatwg.org/multipage/semantics.html#text-level-semantics)
   ========================================================================== */

/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */

a {
	background-color: transparent; /* 1 */
	-webkit-text-decoration-skip: objects; /* 2 */
}

/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

 /*
Abbreviation

Normalizes styling (underline)

Markup:
<p>This is a clear example of a <abbr title="This Is An Abbreviation">TIAA</abbr></p>

Styleguide Typography.abbr
*/

abbr[title] {
	border-bottom: none; /* 1 */
	text-decoration: underline; /* 2 */
	text-decoration: underline dotted; /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */

/*
Bold

Applies bolding weight defined on `_config.scss` using `bold()` mixin.

Markup:
<p>An <b>emphasized</b> text and a <strong>strong</strong> one</p>

Styleguide Typography.bold
*/

b,
strong,
.strong {
	font-weight: bold(strong);
}


/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

/*
Code, Keyboard, Samp, Var

Ensures monospaced fonts are used for computer-related text markup.

Markup:
<p>Either a sample of <code>computer code</code>, a <kbd>keyboard input</kbd>, a <var>variable</var> or a <samp>sample output from a computer program</samp>

Styleguide Typography.code
*/

code,
kbd,
samp,
var {
	font-family: $font-monospace; /* 1 */
	@include ritmo-font-size($base-font-size); /* 2 */
}

/**
 * Add the correct font style in Android 4.3-.
 */

/*
Definition

Ensures monospaced fonts are used for computer-related text markup.

Markup:
<p><dfn>Definition</dfn> is a tag used for defining terms</p>

Styleguide Typography.dfn
*/

dfn {
	font-style: italic;
}

/**
 * Add the correct background and color in IE 9-.
 */

/*
Mark

Uses color defined on the palette `text`, key `mark`.

Markup:
<p><mark>Really important</mark> and thus, marked text</p>

Styleguide Typography.mark
*/

mark {
	background-color: get-color(text, mark);
	color: contrast-color(get-color(text, mark));
	padding: 0 ritmo(1);
}

/**
 * Add the correct font size in all browsers.
 */

/*
Small

Applies `$h6-font-size` to small texts, applies a three-step reduction if inside a `<h1>`, `<h2>`, `<h3>` tag.

The helper class `.small` can be used to fake the element.

Markup:
<p>Whenever I found a <small>not so important text,</small> i use the small tag</p>
<h1>A big heading with <small>an small portion of text</small></h1>
<h2>A second-level title <small>featuring a minor text</small></h2>
<h3>Any h3 will also feature a <small>reduction on its smaller parts</small></h3>
<p class="small">I'm a <code>.small</code> text!<p/>

Styleguide Typography.small
*/

small,
.small {
	@include ritmo-font-size($h6-font-size);
}

// Every child of a '.small' fake element needs to have the same size!!
.small * {
	@include ritmo-font-size($h6-font-size);
}

h1 small {
	@include ritmo-font-size($h3-font-size);
}

h2 small {
	@include ritmo-font-size($h4-font-size);
}

h3 small {
	@include ritmo-font-size($h5-font-size);
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

/*
Sub, Sup

Normalizes font-size and prevents `sub` and `sup` elements from affecting the line height in all browsers.

Markup:
<p>When a <sub>sub</sub> or a <sup>sup</sup> text appears, citations are often the reason behind</p>

Styleguide Typography.sub
*/

sub,
sup {
	@include ritmo-font-size($h6-font-size);
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -.25em;
}

sup {
	top: -.5em;
}

/*
 * Remove the text shadow on text selections (opinionated).
 * HUESOS: Use the same as <mark> elements
 * 1. Restore the coloring undone by defining the text shadow (opinionated).
 */

/*
Selection

Uses the same color as in `<mark>` for text highlighting.

Markup:
<p>Try selecting a part of this text for <code>::selection</code> testing</p>

Styleguide Pseudo-elements.selection
*/

::-moz-selection {
	background-color: get-color(text, mark); /* 1 */
	color: contrast-color(get-color(text, mark)); /* 1 */
	text-shadow: none;
}

::selection {
	background-color: get-color(text, mark); /* 1 */
	color: contrast-color(get-color(text, mark)); /* 1 */
	text-shadow: none;
}

/* Embedded content (https://html.spec.whatwg.org/multipage/embedded-content.html#embedded-content)
   ========================================================================== */

/*
 * Change the alignment on media elements in all browers (opinionated).
 */

audio,
canvas,
iframe,
img,
svg,
video {
	vertical-align: middle;
}

/*
 * Deletes ugly iframe border and makes it fill its parent by default
 */

/*
Iframe

Deletes border, displays iframe as a block element that always fills its parent's size.

Markup:
<section style="width:50%; height: 600px">
	<iframe src="https://mentalstones.com"></iframe>
</section>

Styleguide Base.iframe
*/

iframe {
	border:none;
	width:100%;
	height:100%;
	display:block;
}

/**
 * Add the correct display in IE 9-.
 */

audio,
video {
	display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */

audio:not([controls]) {
	display: none;
	height: 0;
}

/**
 * Remove the border on images inside links in IE 10-.
 * Make all images responsive by default
 */

/*
Images

All images are responsive by default.

Markup:
<section>
	<img src="https://placeimg.com/300/300/nature" />
</section>
<section>
	<img src="https://placeimg.com/2500/750/nature" />
</section>

Styleguide Base.images
*/

img {
	border-style: none;
	max-width:100%;
}
figure {
	display:inline-block;
}

figcaption {
	display:block;
}

/**
 * Change the fill color to match the text color in all browsers (opinionated).
 */

svg {
	fill: currentColor;
}

/**
 * Hide the overflow in IE.
 */

svg:not(:root) {
	overflow: hidden;
}

/* Tabular data (https://html.spec.whatwg.org/multipage/tables.html#tables)
   ========================================================================== */

/**
 * Collapse border spacing
 */

table {
	border-collapse: collapse;
}

/* Forms (https://html.spec.whatwg.org/multipage/forms.html#forms)
   ========================================================================== */

/**
 * Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
	margin: 0;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
	overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
	text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */

button,
html [type="button"], /* 1 */
[type="reset"],
[type="submit"] {
	-webkit-appearance: button; /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
	outline: 1px dotted ButtonText;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
	box-sizing: border-box; /* 1 */
	color: inherit; /* 2 */
	display: table; /* 1 */
	max-width: 100%; /* 1 */
	padding: 0; /* 3 */
	white-space: normal; /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
	display: inline-block; /* 1 */
	vertical-align: baseline; /* 2 */
}

/**
 * 1. Remove the default vertical scrollbar in IE.
 * 2. Change the resize direction on textareas in all browsers (opinionated).
 */

textarea {
	overflow: auto; /* 1 */
	resize: vertical; /* 2 */
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */

[type="checkbox"],
[type="radio"] {
	box-sizing: border-box; /* 1 */
	padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
	-webkit-appearance: textfield; /* 1 */
	outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
	-webkit-appearance: button; /* 1 */
	font: inherit; /* 2 */
}

/* Interactive elements (https://html.spec.whatwg.org/multipage/forms.html#interactive-elements)
   ========================================================================== */

/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */

details, /* 1 */
menu {
	display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
	display: list-item;
}

/* Scripting (https://html.spec.whatwg.org/multipage/scripting.html#scripting-3)
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 */

canvas {
	display: inline-block;
}

/**
 * Add the correct display in IE.
 */

template {
	display: none;
}

/* User interaction (https://html.spec.whatwg.org/multipage/interaction.html#editing)
   ========================================================================== */

/*
 * Remove the tapping delay on clickable elements (opinionated).
 * 1. Remove the tapping delay in IE 10.
 */

a,
area,
button,
input,
label,
select,
summary,
textarea,
[tabindex] {
	-ms-touch-action: manipulation; /* 1 */
	touch-action: manipulation;
}

/**
 * Add the correct display in IE 10-.
 */

[hidden] {
	display: none;
}

/* ARIA (https://w3c.github.io/html-aria/)
   ========================================================================== */

/**
 * Change the cursor on busy elements (opinionated).
 */

[aria-busy="true"] {
	cursor: progress;
}

/*
 * Change the cursor on control elements (opinionated).
 */

[aria-controls] {
	cursor: pointer;
}

/*
 * Change the display on visually hidden accessible elements (opinionated).
 */

[aria-hidden="false"][hidden]:not(:focus) {
	clip: rect(0, 0, 0, 0);
	display: inherit;
	position: absolute;
}

/*
 * Change the cursor on disabled, not-editable, or otherwise
 * inoperable elements (opinionated).
 */

[aria-disabled] {
	cursor: default;
}


/*
Details

Markup:
<details>
	<summary>Pure HTML5 accordion</summary>
	<p>This is HTML5's alternative to the old-fashioned accordion plugins made on JS.</p>
	<p>It's neat and simple. Love it.</p>
</details>


Styleguide Base.details
*/

details {

}

summary {
	@include minititle();
	cursor:pointer;
}
