@if $show-grid == true {
	body {
		background-size: ritmo($base-line-multi) ritmo($base-line-multi), ritmo($base-line-multi / 2) ritmo($base-line-multi / 2);
		background-image: linear-gradient(to bottom, rgba(0,0,0, 0.1) 1px, transparent 1px), linear-gradient(to bottom, rgba(0,0,0, 0.05) 1px, transparent 1px);
		background-repeat: repeat;
	}
	
}

.show-grid {
	background-size: ritmo($base-line-multi) ritmo($base-line-multi), ritmo($base-line-multi / 2) ritmo($base-line-multi / 2);
	background-image: linear-gradient(to bottom, rgba(0,0,0, 0.1) 1px, transparent 1px), linear-gradient(to bottom, rgba(0,0,0, 0.05) 1px, transparent 1px);
	background-repeat: repeat;
}