.tag {
  @include tag($tag-default-color);
}

.tag + .tag {
  margin-left: $gutter / 4;
}

a.tag {
  @include kill-link-decoration();
  cursor: pointer;
  // Keep the padding!
  padding: $tag-padding;

  &:hover,
  &:focus {
    // Keep the padding!
    padding: $tag-padding;

    @if $tag-strategy=='contrast' {
      @include background-contrast(darken-color($tag-default-color));
    }

    @else if $tag-strategy=='split' {
      @include background-split-color(lighten-color($tag-default-color));
    }
  }
}

@each $key, $value in map-get($colors, $state-namespace) {
  $namespaced-key: '#{$state-namespace}-#{$key}';
  .tag--#{$key} {
    @if $tag-strategy=='contrast' {
      @include background-contrast($namespaced-key);
    }

    @else if $tag-strategy=='split' {
      @include background-split-color($namespaced-key);
    }

    @else {
      @error "You must provide a valid $tag-strategy value";
    }
  }
}

@each $key, $value in map-get($colors, 'state') {
  $namespaced-key: '#{$state-namespace}-#{$key}';
  a.tag--#{$key} {

    &:hover,
    &:focus {
      @if $tag-strategy=='contrast' {
        @include background-contrast($namespaced-key);
      }

      @else if $tag-strategy=='split' {
        @include background-split-color($namespaced-key);
      }

      @else {
        @error "You must provide a valid $tag-strategy value";
      }
    }
  }
}