/*
Definition lists

By default, all `<dd>` items are spaced with a `$spacer`

Markup:
<dl>
  <dt>Definition List Title</dt>
  <dd>This is a definition list division.</dd>
  <dt>Lorem ipsum</dt>
  <dd>It's a long text in latin. For example: Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ex sed voluptates sequi doloremque repudiandae iure maxime autem nam placeat nostrum adipisci et, officia nisi consequatur animi eligendi molestias est rem.</dd>
  <dt>Huesos</dt>
  <dd>Is the spanish word for "bones". Osamenta, a rather unusual world, refers to the skeleton.</dd>
</dl>

Styleguide Base.definitionLists
*/
dt {
	margin: 0 0 $spacer / 2 0;
}
dd {
	margin: 0 0 $spacer $spacer;
}
