 /*
Abbreviation

Normalizes styling (underline)

Markup:
<p>This is a clear example of a <abbr title="This Is An Abbreviation">TIAA</abbr></p>

Styleguide Typography.abbr
*/

abbr[title] {
	border-bottom: none; /* 1 */
	text-decoration: underline; /* 2 */
	text-decoration: underline dotted; /* 2 */
}