.card {
	@if $card-border-width {
		@include ritmo-borders($card-border-width, $card-padding);
		border-style:solid;
		border-color: $card-border-color;
	}
	border-radius: $card-border-radius;
	padding: ritmo($card-padding);
	@if $shadows == true {
		box-shadow: $shadow-definition;
	}
	// Nested cards are applied a padding reduction
	.card {
		padding: $gutter / 2;
	}
}

.card--image {
	padding: 0;
}

.card__contents {
	padding: $gutter;
}