input[type=file] {
	border:none;
	padding:0;
	+ label {
		// @extend .button;
		// @extend .button--success;
		margin-left: $gutter / 2;
		margin-right:0,
	}
}

input::-webkit-file-upload-button {
	// TODO: 
	// margin-right: ritmo($input-padding-lines);
	// padding-right: ritmo($input-padding-lines);
	border-right: $input-border-width solid var(--color-input-border);
}

.file-input {
	@include form-border($input-border-strategy);
	display:flex;
	justify-content: space-between;
	align-items:center;
	input[type=file] {
		white-space:nowrap;
		flex:1;
	}
	&[data-file-input] {
		border:none;
		padding:0;
		input[type=file] {
			@include hidden();
		}
		label {
			margin:0;
			cursor:pointer;
		}
	}
}