<div class="form-item file-input">
    <input id="input__file" type="file" placeholder="Upload file" multiple>
    <label for="input__file">Upload File</label>
</div>

<div class="form-item file-input" data-file-input>
    <input id="input__file__js" type="file" placeholder="Upload file" multiple>
    <label data-upload-verb="Upload" data-upload-name="files" for="input__file__js">Upload File (JS enabled)</label>
</div>