<p>You shouldn't be able to see the following paragraph:</p>
<p class="visually-hidden">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat harum nostrum earum illum assumenda cupiditate consequuntur. Atque fuga dolorum explicabo, modi deserunt animi tempore iusto eveniet aut eum ut accusamus.
</p>