@if $show-grid == true {
	h1, 
	h2, 
	h3, 
	h4, 
	h5, 
	h6, 
	p {
		background-size: ritmo($base-line-multi) ritmo($base-line-multi);
		background-image: linear-gradient(to bottom, rgba(0,0,0,0.35) 1px, transparent 1px);
		background-repeat: repeat;
	}

	body,
	.show-grid {
		background-size: ritmo($base-line-multi) ritmo($base-line-multi);
		background-image: linear-gradient(to bottom, rgba(0,0,0,0.15) 1px, transparent 1px);
		background-repeat: repeat;
	}
}