.contenido {
    //display: flex;
}

.contenido__main {
    margin-bottom: ritmo(4);
}

.contenido__main__portada {
    margin-bottom: $gutter * 2;
}

.contenido__aside {
    margin: $gutter 0;
    display:flex;
    align-items: flex-end;
}

.contenido__tools {
    display:flex;
    align-items:flex-start;
}
.contenido__autor {
    margin-right: $gutter;
}
.contenido__desc {
}