.home {
    #main-wrapper {
        padding:$gutter / 2;
        @include breakpoint($small) {
            padding:$gutter;
            padding-left: 100px;
        }
    }
    .header {
        @include breakpoint($small) {
            position:absolute;
            height:100%;
            width:100px;
            top:0;
            right:0;
            bottom:0;
            margin:0;
            z-index: z-index(front-header);
        }
        background:get-color(gray, "white");

    }
    .logo {
        @include breakpoint($small) {
            position:absolute;
            bottom: $gutter / 2;
            left: 50%;
            transform: rotate(-90deg);
            transform-origin: 0 50%;
        } 
        display:flex;
        align-items:center;
    }
    .logo__ms {
        display:block;
        @include ritmo-font-size($h3-font-size);
        a {
            @include kill-link(get-color(gray, 'black'));
        }
    }
    .logo__eem {
        @include breakpoint($small) {
            transform: rotate(90deg);
        }
        display:block;
        transform-origin: center center;
        width:32px;
        height:32px;
        margin-right:$gutter / 2;
        img {
            display:block;
        }
    }
    .cuadricula {
        width:100%;
        height:100%;
    }
}