.home {
    #main-wrapper {
        padding:$gutter;
        padding-left: 100px + ($base-line-height * 2);
        padding-left: calc(100px + #{$gutter});
    }
    .header {
        position:absolute;
        height:100%;
        width:100px;
        top:0;
        right:0;
        bottom:0;
        margin:0;
        background:get-color(gray, "white");
        z-index: z-index(front-header);
    }
    .logo {
        position:absolute;
        bottom: calc(80px + #{ritmo(8)});
        right:-50px;
        transform: rotate(-90deg);
        transform-origin: center center;
        a {
            @include kill-link(get-color(gray, 'black'));
        }
    }
    .cuadricula {
        width:100%;
        height:100%;
    }
}