body {
    max-width: $max-width;
    margin: 0 auto 0 0;
    position:relative; // Absolute scope for aside
    &.prevent-scroll {
        position:fixed;
        width:100%;
        height: 100%;
        overflow:hidden;
    }
}

main {
    margin-bottom: $gutter;
}

#main-wrapper {
    // Don't allow for pages less tall than the viewport
    min-height:100vh;
    padding: $gutter / 2;
    @include breakpoint($small) {
        padding: $gutter;
    }
    @include breakpoint($medium) {
        display:flex;
        flex-direction:column;
        // Make room for aside.
        margin-left:0;
        margin-right:25%;
        margin-right:25vw;
        padding: $spacer * 2;
        // transition: all $transition-time ease-in-out $transition-time;
        max-width: $content-max-width;
        &.page--noaside {
            margin-right:0;
        }
        &.noaside {
            margin-left:auto;
            margin-right:auto;
        }
    }
}

.layout-content {
    position:relative;
}

.page__main {
    flex:1;
}

.page__aside {
    background-color: get-color(gray, "white");
    width:100%;
    width:100vw;
    height:100%;
    height:100vh;
    position:fixed;
    top:0;
    right:auto;
    bottom:0;
    left:-100%;
    width:100%;
    transition: left $transition-time ease-in-out;
    overflow:scroll;
    display:flex;
    flex-direction:column;
    
    @include breakpoint($medium) {
        overflow:hidden;
        justify-content:flex-end;
        background-color: rgba(get-color(base, "primary"), 0.01);
        box-shadow: $gutter 0 ($gutter / 2) (- $gutter / 1.99) rgba(get-color(base, "primary"),0.04) inset;
        //border-left:1px solid get-color(gray, "lighter");
        width:25%;
        width:25vw;
        top:0;
        right:0;
        bottom:0;
        left:auto;
        height:100%;
    }  
    ul {
        text-transform: uppercase;

    }
}

.page__aside--open {
    left:0;
    .interacciones {
        display:none;
    }
    @include breakpoint($medium) {
        left:auto;
    }
}