body {
    max-width: $max-width;
    @include block-align($layout-align);
    position:relative; // Absolute scope for aside
    &.prevent-scroll {
        position:fixed;
        width:100%;
        height: 100%;
        overflow:hidden;
    }
}

main {
    margin-bottom: $gutter;
}

#main-wrapper {
    // Don't allow for pages less tall than the viewport
    min-height:100vh;
    padding: $gutter / 2;
    @include breakpoint($small) {
        padding: $gutter;
    }
    @include breakpoint($medium) {
        display:flex;
        flex-direction:column;
        // Make room for aside.
        margin-right:25%;
        margin-right:25vw;
        padding: $spacer * 2;
        &.page--noaside {
            margin-right:0;
        }
    }
}

.layout-content {
    position:relative;
}

.page__main {
    flex:1;
}

.page__aside {
    background-color: lighten(get-color(base, "primary"), 60%);
    padding: $gutter * 2 $gutter $gutter $gutter;
    width:100vw;
    margin-left: -$gutter / 2;
    @include breakpoint($small) {
        margin-left:0;
        width:100%;    
    }
    @include breakpoint($medium) {
        width:25%;
        width:25vw;
        position:fixed;
        top:0;
        right:0;
        bottom:0;
        height:100%;
    }  
    ul {
        text-transform: uppercase;
    }
}