.notifications {
    position:absolute;
    z-index: z-index(notifications);
    top:0;
    width:300px;
    left:-300px;
    bottom:0;
    margin-bottom:0;
    transition: left 0.5s ease-out;
}

.notifications--open {
    left:0px;
}