h1,
.h1 {
  @include font-size('h1', 'h2', $medium);
  line-height: line-height('h1');
}

h2,
.h2 {
  @include font-size('h2', 'h3', $medium);
  line-height: line-height('h2');
}

h3,
.h3 {
  @include font-size('h3', 'h4', $medium);
  line-height: line-height('h3');
}

h4,
.h4 {
  @include font-size('h4');
  line-height: line-height('h4');
}

h5,
.h5 {
  @include font-size('h5');
  line-height: line-height('h5');
}

h6,
.h6 {
  @include font-size('h6');
  line-height: line-height('h6');
}


@for $i from 1 through 6 {
  h#{$i}, .h#{i} {
    color: var(--color-text-heading);
    font-weight: $heading-font-weight;
  
    small {
      color: inherit;
      vertical-align: 0;
    }
  
    @if $heading-decorated-links == false {
      a {
        @include kill-link-decoration();
      }
    }
  }
}