<h1>Main titles use heading one</h1>
<h2>Subtitules and main sections use h2</h2>
<h3>H3 is mainly for nested sections</h3>
<h4>In case you need furher sectioning, use an h4</h4>
<h5>Rarely you will need a heading five</h5>
<h6>Heading six is rather unexpected</h6>