<div class="text-wrapper">
  <h1>Main titles will usualy make use of heading one</h1>
  <h2>Subtitules and main sections might need to use h2</h2>
  <h3>H3 usually finds its place on nested sections inside a bigger block</h3>
  <h4>In case you need further sectioning, use an h4. You can go down any number of levels. Well, actually, not</h4>
  <h5>Rarely you will need a heading five. But if you need it, you can use it. This is really nested and the font-size
    is very decreased</h5>
  <h6>Heading six is rather unexpected. On this nesting level the font-size has dropped and is small, even compared with
    normal text</h6>
</div>