// Explicit overrides for link buttons
a.button {
	padding: 0 ritmo(2);
}


// Global reset
.button {
	@include form-reset-button();
	cursor:pointer;
	@include ritmo-font-size($h6-font-size, 5);
	display: inline-block;
	padding: 0 ritmo(2);
	text-transform: uppercase;
	letter-spacing: 0.05rem;
	vertical-align:middle;
	font-weight: $button-weight;
	font-family: $button-font-family;
	// Icons inside buttons
	.icon {
		@include ritmo-font-size($h6-font-size);
		height: $h6-font-size;
		line-height:1;
		svg {
			fill:currentColor;
		}
	}
}

input.button {

}


// Adjacent buttons
.button + .button {
	margin-left:$gutter / 4;
}

// $button-states map states to colors
@each $key, $value in $button-states {
	.button--#{$key} {
		@include style-button($value);
	}
	a.button--#{$key} {
		@include style-link-button($value);
	}
}

// Button alternative styles
@if $button-alternative-strategies {
	@each $strategy, $states in $button-alternative-strategies {
		@each $key, $value in $button-states {
			.button--#{$key}--#{$strategy} {
				@include style-button($value, map-get($states, default), map-get($states, hover));
			}
			a.button--#{$key}--#{$strategy} {
				@include style-link-button($value, map-get($states, default), map-get($states, hover));
			}
		}
	}
}


.button.disabled {
	opacity: $disabled-opacity;
	cursor: arrow;
	pointer-events:none;
	&:hover, 
	&:focus {
        cursor: arrow;
	}
}