@mixin alert($color) {
  padding: $gutter;
  border-radius: $border-radius;
  @if $alert-strategy == 'contrast' {
      @include background-contrast($color);
  } @else if $alert-strategy == 'split' {
      @include background-split-color($color);
  }

  p:last-child {
      margin-bottom:0;
  }
}