@mixin card() {
  @if $card-border-radius {
    border-radius: $card-border-radius;
  }
  @if $card-border-width {
    border-width: $card-border-width;
    border-style: solid;
    border-color: $card-border-color;
  } @else {
    padding: $card-padding;
  }
  @if $card-shadow == true {
    box-shadow: $box-shadow;
  }
}