@mixin card() {
  @if $card-border-width {
		@include ritmo-borders($card-border-width, $card-padding);
		border-style:solid;
		border-color: $card-border-color;
	} @else {
		// TODO: padding: ritmo($card-padding);
	}
	border-radius: $card-border-radius;
	@if $card-shadow == true {
		box-shadow: $box-shadow;
	}
}