@mixin menu() {
  @if $menu-kill-links {
    a {
      @include kill-link-decoration();
    }
  }

  @include inline-list();
  @if $menu-background-color {
    background-color: $menu-background-color;
  }

  // All child menus
  ul {
    margin:0;
    padding: 0;
    @if $menu-background-color {
      background-color: $menu-background-color;
    }
    li {
      display:block;
    }
  }

  // All a and span elements
  a, span {
    display:inline-block;
  }

  // li
  > li {
    margin:0;
    position:relative;
    z-index:1;
    > a {
      text-align:left; // Override any .right class
      display:block;
      white-space:nowrap;

      @if $menu-kill-links {
        @include kill-link(var(--color-primary));
      }
    }

    > a,
    > span {      
      padding:0 $menu-x-padding;
      @include font-size($menu-font-size);
    }

    // Second-level
    > ul {
      display:none;
      position:absolute;
      top:100%;
      left:0;
      z-index:2;
      min-width:120%;
      padding: 0 0 $gutter / 4 0;
      
      > li {
        position:relative;
        margin:0;
        > a {
          display:block;
          padding:0 $menu-x-padding;
          white-space:nowrap;
        }
        > a,
        > span {
          font-size: 0.9em;
        }
      }
    }
    // Third-level
    > ul > li {
      > ul {
        display:none;
        position:absolute;
        top:0;
        left:100%;
        min-width:100%;
        z-index:3;
        li {
          position:relative;
          margin:0;
          > a {
            display:block;
            padding:0 $menu-x-padding;
            white-space:nowrap;
          }
          > a,
          > span {
            font-size: font-size(h6); 
          }
        }
      }
      &:hover {
        > ul {
          display:block;
        }
      }
    }
    &:hover {
      > ul {
        display:block;
        > li {
          display:block;
        }
      }
    }
  }
}
