@mixin nav($direction: 'vertical', $item-gutter: $nav-item-gutter, $kill-link-decoration: $nav-kill-link-decoration) {
  @if $kill-link-decoration {
    a {
      @include kill-link-decoration();
    }
  }
  ul {
    padding:0;
    margin:0;
    list-style-type:none;
    @if $direction == 'horizontal' {
      display:flex;
      flex-wrap:wrap;
    }
    li {
      @if $direction == 'horizontal' {
        padding: 0 $item-gutter / 2;
      }
      margin-bottom:0;
      font-weight: $nav-font-weight;
      @if $nav-uppercase {
        text-transform: uppercase;
      }
      @include font-size($nav-font-size);
      letter-spacing:$nav-letter-spacing;
    }
  }
}