<section class="table">
  <table>
    <caption>Table Caption</caption>
    <thead>
      <tr>
        <th scope="col">Table Heading 1</th>
        <th scope="col">Table Heading 2</th>
        <th scope="col">Table Heading 3</th>
        <th scope="col">Table Heading 4</th>
        <th scope="col">Table Heading 5</th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <th></th>
        <th>Footer 2</th>
        <th>Footer 3</th>
        <th>Footer 4</th>
        <th>Footer 5</th>
      </tr>
    </tfoot>
    <tbody>
      <tr>
        <th scope="row">Row header</th>
        <td>Table Cell 2</td>
        <td>Table Cell 3</td>
        <td>Table Cell 4</td>
        <td>Table Cell 5</td>
      </tr>
      <tr>
        <th scope="row">Row header</th>
        <td>Table Cell 2</td>
        <td>Table Cell 3</td>
        <td>Table Cell 4</td>
        <td>Table Cell 5</td>
      </tr>
      <tr>
        <th scope="row">Row header</th>
        <td>Table Cell 2</td>
        <td>Table Cell 3</td>
        <td>Table Cell 4</td>
        <td>Table Cell 5</td>
      </tr>
      <tr>
        <th scope="row">Row header</th>
        <td>Table Cell 2</td>
        <td>Table Cell 3</td>
        <td>Table Cell 4</td>
        <td>Table Cell 5</td>
      </tr>
    </tbody>
  </table>
</section>
