$base: #0900c3;
$black: #3e3d4f;
$gray0: #f9f9fa;
$gray1: #ededef;
$gray2: #e0e0e4;
$gray3: #d2d2d8;
$gray4: #c3c2cb;
$gray5: #b2b1bd;
$gray6: #9f9eac;
$gray7: #888799;
$gray8: #6a6a7f;
$gray9: #3e3d4f;
$indigo0: #ebeafa;
$indigo1: #d5d4f4;
$indigo2: #bbbaee;
$indigo3: #9c99e7;
$indigo4: #716edc;
$indigo5: #0600c3;
$indigo6: #0500b0;
$indigo7: #04009a;
$indigo8: #030080;
$indigo9: #02005c;
$violet0: #f2e9f9;
$violet1: #e4d1f4;
$violet2: #d3b5ed;
$violet3: #bf93e5;
$violet4: #a465da;
$violet5: #6800c3;
$violet6: #5d00af;
$violet7: #520099;
$violet8: #43007f;
$violet9: #30005a;
$fuschia0: #f9e9f9;
$fuschia1: #f4d1f3;
$fuschia2: #edb5eb;
$fuschia3: #e593e2;
$fuschia4: #da65d6;
$fuschia5: #c300bc;
$fuschia6: #b000aa;
$fuschia7: #9a0095;
$fuschia8: #80007c;
$fuschia9: #5c0059;
$pink0: #f9e9f1;
$pink1: #f4d1e1;
$pink2: #edb6d0;
$pink3: #e594ba;
$pink4: #da659c;
$pink5: #c3005b;
$pink6: #b00052;
$pink7: #9a0048;
$pink8: #80003b;
$pink9: #5c002b;
$red0: #faeae9;
$red1: #f4d3d1;
$red2: #edb8b6;
$red3: #e59794;
$red4: #db6a66;
$red5: #c30700;
$red6: #b00600;
$red7: #9a0500;
$red8: #800400;
$red9: #5c0300;
$orange0: #f8eee2;
$orange1: #f1dbc3;
$orange2: #e8c7a0;
$orange3: #dfae77;
$orange4: #d39145;
$orange5: #c36800;
$orange6: #af5d00;
$orange7: #995200;
$orange8: #7e4300;
$orange9: #5a3000;
$yellow0: #f6f7de;
$yellow1: #edeeba;
$yellow2: #e2e593;
$yellow3: #d7db68;
$yellow4: #cad037;
$yellow5: #bcc300;
$yellow6: #aab000;
$yellow7: #959a00;
$yellow8: #7c8000;
$yellow9: #595c00;
$lime0: #ebf7e0;
$lime1: #d6f0bf;
$lime2: #bee79a;
$lime3: #a2dd6f;
$lime4: #82d13d;
$lime5: #5bc300;
$lime6: #52b000;
$lime7: #489a00;
$lime8: #3b8000;
$lime9: #2b5c00;
$green0: #e4f8e5;
$green1: #c6f1c8;
$green2: #a4e9a7;
$green3: #7ce080;
$green4: #49d44e;
$green5: #00c307;
$green6: #00b006;
$green7: #009a05;
$green8: #008004;
$green9: #005c03;
$teal0: #e3f8ee;
$teal1: #c4f1dc;
$teal2: #a1e8c7;
$teal3: #78dfaf;
$teal4: #45d390;
$teal5: #00c368;
$teal6: #00b05e;
$teal7: #009a52;
$teal8: #008044;
$teal9: #005c31;
$cyan0: #e2f7f8;
$cyan1: #c3eff1;
$cyan2: #a0e6e8;
$cyan3: #76dbde;
$cyan4: #43cdd2;
$cyan5: #00bcc3;
$cyan6: #00aab0;
$cyan7: #00959a;
$cyan8: #007b80;
$cyan9: #00595c;
$blue0: #e5eef9;
$blue1: #c9dcf2;
$blue2: #a9c7ea;
$blue3: #82afe1;
$blue4: #508ed5;
$blue5: #005bc3;
$blue6: #0051af;
$blue7: #004798;
$blue8: #003a7d;
$blue9: #002857