$base: #306bac;
$black: #384048;
$gray0: #f8f9f9;
$gray1: #ecedef;
$gray2: #dee0e4;
$gray3: #cfd3d7;
$gray4: #bfc4ca;
$gray5: #acb3bb;
$gray6: #98a0aa;
$gray7: #7f8a96;
$gray8: #606d7c;
$gray9: #384048;
$blue0: #e8eff6;
$blue1: #cfddec;
$blue2: #b3c9e0;
$blue3: #92b2d3;
$blue4: #6a95c3;
$blue5: #306cac;
$blue6: #2b619a;
$blue7: #255486;
$blue8: #1e456e;
$blue9: #15304d;
$indigo0: #ebebf7;
$indigo1: #d6d5ee;
$indigo2: #bdbce4;
$indigo3: #9f9ed8;
$indigo4: #7877c8;
$indigo5: #3230ac;
$indigo6: #2c2a9a;
$indigo7: #262585;
$indigo8: #1f1e6b;
$indigo9: #151448;
$violet0: #f1eaf6;
$violet1: #e1d4ed;
$violet2: #cfbae3;
$violet3: #ba9bd7;
$violet4: #9e73c6;
$violet5: #7030ac;
$violet6: #642b9a;
$violet7: #572586;
$violet8: #471e6d;
$violet9: #31154b;
$fuschia0: #f6eaf6;
$fuschia1: #edd3ed;
$fuschia2: #e3b9e2;
$fuschia3: #d69ad5;
$fuschia4: #c672c5;
$fuschia5: #ac30aa;
$fuschia6: #9b2b99;
$fuschia7: #872585;
$fuschia8: #6f1f6e;
$fuschia9: #4e154d;
$pink0: #f6eaf0;
$pink1: #edd4e0;
$pink2: #e3bace;
$pink3: #d69ab7;
$pink4: #c6729b;
$pink5: #ac306c;
$pink6: #9a2b61;
$pink7: #872554;
$pink8: #6e1e45;
$pink9: #4d1530;
$red0: #f6ebea;
$red1: #edd4d4;
$red2: #e3bbba;
$red3: #d79c9b;
$red4: #c77473;
$red5: #ac3230;
$red6: #9a2d2b;
$red7: #872725;
$red8: #6e201e;
$red9: #4d1615;
$orange0: #f5eee7;
$orange1: #eadccd;
$orange2: #dfc8af;
$orange3: #d1b08e;
$orange4: #c19465;
$orange5: #ac7030;
$orange6: #9b642b;
$orange7: #875825;
$orange8: #6f481f;
$orange9: #4e3316;
$yellow0: #f4f4e4;
$yellow1: #e8e8c7;
$yellow2: #dbdca7;
$yellow3: #ccce85;
$yellow4: #bcbe5d;
$yellow5: #aaac30;
$yellow6: #999b2b;
$yellow7: #868826;
$yellow8: #6f701f;
$yellow9: #505016;
$lime0: #ecf4e5;
$lime1: #d9e9c9;
$lime2: #c3ddaa;
$lime3: #aacf88;
$lime4: #8ebf60;
$lime5: #6cac30;
$lime6: #619b2b;
$lime7: #558825;
$lime8: #46701f;
$lime9: #325016;
$green0: #e7f5e7;
$green1: #cceacd;
$green2: #afdfb0;
$green3: #8dd18e;
$green4: #64c166;
$green5: #30ac32;
$green6: #2b9b2d;
$green7: #268827;
$green8: #1f7020;
$green9: #165017;
$teal0: #e6f5ee;
$teal1: #cbeadb;
$teal2: #aedec7;
$teal3: #8bd0af;
$teal4: #63c093;
$teal5: #30ac70;
$teal6: #2b9b65;
$teal7: #258858;
$teal8: #1f7049;
$teal9: #165034;
$cyan0: #e6f4f5;
$cyan1: #cbe9ea;
$cyan2: #adddde;
$cyan3: #8bcfd0;
$cyan4: #62bec0;
$cyan5: #30aaac;
$cyan6: #2b999b;
$cyan7: #268688;
$cyan8: #1f6f70;
$cyan9: #164f50