$base: #35b0ab;
$black: #334241;
$gray0: #f8f9f9;
$gray1: #eaeeee;
$gray2: #dbe2e1;
$gray3: #cbd4d4;
$gray4: #b9c6c5;
$gray5: #a5b6b5;
$gray6: #8ea3a3;
$gray7: #748e8d;
$gray8: #57706f;
$gray9: #334241;
$cyan0: #e6f5f4;
$cyan1: #ccebe9;
$cyan2: #aedfdd;
$cyan3: #8dd2cf;
$cyan4: #65c3be;
$cyan5: #35b0aa;
$cyan6: #2f9f99;
$cyan7: #298b86;
$cyan8: #22736f;
$cyan9: #18524f;
$blue0: #e8f0f6;
$blue1: #cfdfec;
$blue2: #b3cce1;
$blue3: #93b7d4;
$blue4: #6b9dc5;
$blue5: #3579b0;
$blue6: #2f6d9e;
$blue7: #295f8a;
$blue8: #224e71;
$blue9: #183750;
$indigo0: #ebecf7;
$indigo1: #d5d6ee;
$indigo2: #bcbee5;
$indigo3: #9ea1d9;
$indigo4: #777bca;
$indigo5: #353bb0;
$indigo6: #2f349d;
$indigo7: #292d88;
$indigo8: #21256e;
$indigo9: #16194b;
$violet0: #f0ebf7;
$violet1: #e0d4ee;
$violet2: #cdbbe4;
$violet3: #b79cd8;
$violet4: #9b75c9;
$violet5: #6c35b0;
$violet6: #612f9e;
$violet7: #542989;
$violet8: #44216f;
$violet9: #2f174d;
$fuschia0: #f6eaf7;
$fuschia1: #edd4ee;
$fuschia2: #e2bae4;
$fuschia3: #d59bd8;
$fuschia4: #c474c8;
$fuschia5: #aa35b0;
$fuschia6: #992f9e;
$fuschia7: #85298a;
$fuschia8: #6e2271;
$fuschia9: #4d1850;
$pink0: #f7eaf1;
$pink1: #eed4e2;
$pink2: #e4bad1;
$pink3: #d89bbd;
$pink4: #c874a3;
$pink5: #b03579;
$pink6: #9e2f6d;
$pink7: #8a295f;
$pink8: #71224e;
$pink9: #4f1836;
$red0: #f7ebeb;
$red1: #eed4d6;
$red2: #e4bbbd;
$red3: #d89da0;
$red4: #c97579;
$red5: #b0353b;
$red6: #9e2f35;
$red7: #8a292e;
$red8: #712226;
$red9: #4f171a;
$orange0: #f5eee7;
$orange1: #ecdbce;
$orange2: #e0c7b2;
$orange3: #d4af91;
$orange4: #c49269;
$orange5: #b06c35;
$orange6: #9e612f;
$orange7: #8a5529;
$orange8: #724622;
$orange9: #503118;
$yellow0: #f4f3e4;
$yellow1: #e9e8c8;
$yellow2: #dddba9;
$yellow3: #d0cc87;
$yellow4: #c1bc61;
$yellow5: #b0aa35;
$yellow6: #9f992f;
$yellow7: #8b8629;
$yellow8: #736f22;
$yellow9: #525018;
$lime0: #eef5e5;
$lime1: #dbeaca;
$lime2: #c7deab;
$lime3: #b1d189;
$lime4: #97c263;
$lime5: #79b035;
$lime6: #6d9f2f;
$lime7: #5f8b29;
$lime8: #4f7322;
$lime9: #385218;
$green0: #e8f5e7;
$green1: #ceebcd;
$green2: #b2e0b0;
$green3: #92d38f;
$green4: #6bc367;
$green5: #3bb035;
$green6: #359f2f;
$green7: #2e8b29;
$green8: #267322;
$green9: #1b5218;
$teal0: #e7f5ed;
$teal1: #ccebda;
$teal2: #afdfc5;
$teal3: #8ed2ac;
$teal4: #66c390;
$teal5: #35b06c;
$teal6: #2f9f61;
$teal7: #298b55;
$teal8: #227346;
$teal9: #185232