$base: #C7FFC4;
$gray0: #f8f9f8;
$gray1: #eaeeea;
$gray2: #dbe2db;
$gray3: #ced4ce;
$gray4: #bfc5bf;
$gray5: #aeb4ae;
$gray6: #9ca19c;
$gray7: #858a85;
$gray8: #696c69;
$gray9: #3d3f3d;
$green0: #f6fff6;
$green1: #eeffed;
$green2: #e5ffe3;
$green3: #dcffd9;
$green4: #d2ffcf;
$green5: #c8ffc4;
$green6: #b5e7b1;
$green7: #9fcb9c;
$green8: #84a982;
$green9: #607b5e;
$teal0: #f6fffa;
$teal1: #edfff5;
$teal2: #e3ffef;
$teal3: #d9ffea;
$teal4: #cfffe4;
$teal5: #c4ffde;
$teal6: #b1e7c9;
$teal7: #9ccbb0;
$teal8: #82a993;
$teal9: #5e7b6b;
$cyan0: #f6fffe;
$cyan1: #edfffd;
$cyan2: #e3fffd;
$cyan3: #d9fffc;
$cyan4: #cffffb;
$cyan5: #c4fffb;
$cyan6: #b1e7e3;
$cyan7: #9ccbc8;
$cyan8: #82a9a6;
$cyan9: #5e7b79;
$blue0: #f6fbff;
$blue1: #ecf6ff;
$blue2: #e3f2ff;
$blue3: #d9eeff;
$blue4: #cee9ff;
$blue5: #c4e5ff;
$blue6: #b1cfe6;
$blue7: #9cb6cb;
$blue8: #8197a9;
$blue9: #5e6e7a;
$indigo0: #f6f6ff;
$indigo1: #edeeff;
$indigo2: #e3e5ff;
$indigo3: #d9dcff;
$indigo4: #cfd2ff;
$indigo5: #c4c8ff;
$indigo6: #b1b5e6;
$indigo7: #9b9fca;
$indigo8: #8184a8;
$indigo9: #5d5f79;
$violet0: #faf6ff;
$violet1: #f5edff;
$violet2: #efe3ff;
$violet3: #ead9ff;
$violet4: #e4cfff;
$violet5: #dec4ff;
$violet6: #c8b1e6;
$violet7: #b09bca;
$violet8: #9281a8;
$violet9: #6a5d79;
$fuschia0: #fef6ff;
$fuschia1: #fdedff;
$fuschia2: #fde3ff;
$fuschia3: #fcd9ff;
$fuschia4: #fbcfff;
$fuschia5: #fbc4ff;
$fuschia6: #e3b1e6;
$fuschia7: #c79bca;
$fuschia8: #a681a8;
$fuschia9: #785e7a;
$pink0: #fff6fb;
$pink1: #ffedf7;
$pink2: #ffe3f3;
$pink3: #ffd9ee;
$pink4: #ffcfea;
$pink5: #ffc4e5;
$pink6: #e6b1cf;
$pink7: #ca9bb6;
$pink8: #a88197;
$pink9: #7a5d6d;
$red0: #fff6f7;
$red1: #ffedee;
$red2: #ffe4e5;
$red3: #ffdadc;
$red4: #ffcfd2;
$red5: #ffc4c8;
$red6: #e6b1b5;
$red7: #ca9b9f;
$red8: #a88184;
$red9: #7a5d5f;
$orange0: #fff9f5;
$orange1: #fff4ec;
$orange2: #ffefe3;
$orange3: #ffe9d9;
$orange4: #ffe4ce;
$orange5: #ffdec4;
$orange6: #e6c9b1;
$orange7: #cbb09c;
$orange8: #a99381;
$orange9: #7a6a5e;
$yellow0: #fffef5;
$yellow1: #fffdec;
$yellow2: #fffde2;
$yellow3: #fffcd9;
$yellow4: #fffbce;
$yellow5: #fffbc4;
$yellow6: #e7e3b1;
$yellow7: #cbc89c;
$yellow8: #a9a682;
$yellow9: #7b795e;
$lime0: #fbfff6;
$lime1: #f6ffec;
$lime2: #f2ffe3;
$lime3: #eeffd9;
$lime4: #e9ffce;
$lime5: #e5ffc4;
$lime6: #cfe7b1;
$lime7: #b6cb9c;
$lime8: #98a982;
$lime9: #6e7b5e