@import "../dependencies";
@import "src/scss/config";
// @import "../node_modules/highlight.js/styles/monokai-sublime";
@import "../node_modules/highlight.js/styles/vs2015";

// Some overrides over the custom defaults
$max-width: 2000px;
$layout-align: left;
$sidebar-width: 20%;

@import "../huesos";

h1 {
    color: $cyan8;
}

h2 {
    color: $cyan7;
}

h3 {
    color: $cyan6;
}

.header,
.header h1 {
    margin:0;
}

.repo a {
    @include ritmo-font-size($h7-font-size);
}

.header-title {
    @include kill-link($gray9)
}

#main-wrapper {

}

.wrapper__sidebar {
    background-color: $gray0;
    position:fixed;
    padding: $gutter;
    top:0;
    left:0;
    bottom:0;
    overflow:auto;
    width:$sidebar-width;
}

.body {
    // flex: 0 0 75%;
    padding-left: $gutter * 2;
    // width: 75%;
    margin-left:$sidebar-width;
}

// h1, .h1 ,h2, .h2, h3, .h3 {
//     a {
//         @include kill-link(get-color(text, heading));
//     }
// }

.logo {
    line-height:0.85;
    font-weight:bold;
}

.text-wrapper {
    max-width: $max-ch;
}

code.lang-sass,
code.lang-scss,
code.lang-html,
code.code {
    width: 100%;
    @extend .code-block;
}


// PEN

.pen-header,
.doc__header {
    display:flex;
    flex-wrap:wrap;
    align-items:flex-end;
    margin-bottom: $gutter;
    h1 {
        margin-bottom: 0;
        display:inline-block;
        margin-right: $gutter;
    }
    .doc__subtitle {
        margin-top: ritmo(2);
        width:100%;
    }
    .status {
        display:inline-block;
    }
}

.browser-controls,
.browser-notes,
.browser-code {
    @include separator();
} 

.pen-preview {
    height: ritmo(4 * 12);
    display:flex;
    flex-direction:column;
    justify-content:center;
    position:relative; 
    .preview-tag {
        position:absolute;
        top: $gutter / 2;
        right: $gutter / 2;
        margin:0;
        cursor:pointer;
    }
    &.pen-preview--medium {
        height: ritmo(4 * 36);
    }
}

.iframe__inner {
    display:flex;
    flex-direction:column;
    justify-content:center; 
}


.filebrowser-item {
    ul {
        list-style:none;
    }
}

.item--has-children {
    cursor:pointer;
    > .item__label:after {
        content:"▿";
        display:inline-block;
        margin-left: $gutter / 4;
        font-size: 0.66em;
        line-height: 0.66em;
        vertical-align:middle;
        position:relative;
        top: -0.1em;
    }
}

.item--has-children--open {
    > .item__label:after {
        transform: rotate(180deg);
        top: 0.1em;
    }
}