abbr[title] {
	border-bottom: none; /* 1 */
	text-decoration: underline; /* 2 */
	text-decoration: underline dotted; /* 2 */
	margin: 0 !important; // Prevent lobotomized owl from messing with this.
}