.toc {
  ul,
  ol {
		li {
      margin: 0;
      font-weight: $toc-font-weight;
      letter-spacing: initial;
      @if $toc-uppercase {
        text-transform: uppercase;
      } @else {
        text-transform: initial;
      }
      @include ritmo-font-size($toc-font-size);
      ul,
      ol {
        margin: 0 0 $gutter $gutter;
        li{
          // Don't let "bold" pass through here
          font-weight: normal;
          @include ritmo-font-size(0.95 * $toc-font-size);
        }
        ul,
        ol {
          li {
            @include ritmo-font-size(0.7 * $toc-font-size);
          }
        }
      }
		}
  }
}