<p>Either a sample of <code>computer code</code>, a <kbd>keyboard input</kbd>, a <var>variable</var> or a <samp>sample output from a computer program</samp></p>

<div>
    <code class="code-block">
        <pre>By default, it behaves as a inline element with a line-heigth set to avoid vertical rhythm breaking<br>Add a <code>.code-block</code> class to format a block-level element</pre>
    </code>
</div>