.menu {
    @if $menu-kill-links {
      a {
        @include kill-link-decoration();
      }
    }

    li {
      background-color:#eee;
    }

    // All ul elements
    ul {
      @include inline-list();
    }

    // All a and span elements
    a, span {
      display:inline-block;
    }

    // li
    ul > li {
      margin:0;
      position:relative;
      z-index:1;
      > a {
        text-align:left; // Override any .right class
        display:block;
        padding:$menu-padding;
        white-space:nowrap;

        @if $menu-kill-links {
          @include set-link(
            get-color(text, primary),
            get-color(text, primary),
            get-color(text, primary),
            get-color(text, primary),
            false,
            false
          )
        }
      }

      > span {
        padding:$menu-padding;
      }
      // Second-level
      > ul {
        display:none;
        position:absolute;
        top:100%;
        left:0;
        z-index:2;
        min-width:120%;
        > li {
          display:block;
          position:relative;
          > a {
            display:block;
            padding:$menu-padding / 2 $menu-padding;
            white-space:nowrap;
            @include ritmo-font-size(0.8 * $nav-font-size);
          }
        }
      }
      // Third-level
      > ul > li {
        > ul {
          display:none;
          position:absolute;
          top:0;
          left:100%;
          min-width:100%;
          z-index:3;
          li {
            a {
              @include ritmo-font-size(0.7 * $nav-font-size, 4);
            }
          }
        }
        &:hover {
          > ul {
            display:block;
          }
        }
      }
      &:hover {
        > ul {
          display:block;
          > li {
            display:block;
          }
        }
      }
    }
  }