<section>
  <nav>
    <ul class="menu">
      <li><a href="#">Home</a></li>
      <li>
        <a href="#">Section</a>
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Section</a></li>
            <li class="menu-item--has-child">
              <a href="#">Works</a>
                <ul>
                  <li><a href="#">Home</a></li>
                  <li><a href="#">Section</a></li>
                  <li><a href="#">Works</a></li>
                  <li><a href="#">About us</a></li>
                </ul>
            </li>
            <li><a href="#">About us</a></li>
          </ul>
      </li>
      <li><a href="#">Works</a></li>
      <li><a href="#">About us</a></li>
      <li><span>Contact</span></li>
      <li><span class="disabled">Exit</span></li>
    </ul>
  </nav>
</section>