<article class="show-grid">
    <h1>You will need to activate $show-grid</h1>
    <h2>If deactivated, you won't see the grid behind this text</h2>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Atque amet quis dolores, ullam quidem dolorum provident? At totam tempore nemo, necessitatibus eum temporibus deleniti itaque? Labore sed repellendus rerum sequi.</p>
</article>