@if $huesitos {

  .m {
    margin: $gutter;
  }

  .mt {
    margin-top: $gutter;
  }

  .mr {
    margin-right: $gutter;
  }

  .mb {
    margin-bottom: $gutter;
  }

  .ml {
    margin-left: $gutter;
  }

  .m0 {
    margin: 0;
  }

  .p {
    padding: $gutter;
  }

  .pt {
    padding-top: $gutter;
  }

  .pr {
    padding-right: $gutter;
  }

  .pb {
    padding-bottom: $gutter;
  }

  .pl {
    padding-left: $gutter;
  }

  .p0 {
    padding: 0;
  }

  @if $spacers {
    @each $name, $ratio in $spacers {
      .m-#{$name},
      .p-#{$name} {
        margin: $gutter * $ratio;
      }

      .mt-#{$name},
      .pt-#{$name} {
        margin-top: $gutter * $ratio;
      }

      .mr-#{$name},
      .pr-#{$name} {
        margin-right: $gutter * $ratio;
      }

      .mb-#{$name},
      .pb-#{$name} {
        margin-bottom: $gutter * $ratio;
      }

      .ml-#{$name},
      .pl-#{$name} {
        margin-left: $gutter * $ratio;
      }
    }
  }

  .b {
    border: $separator-width solid var(--color-utility-separator);
  }

  .bt {
    border-top: $separator-width solid var(--color-utility-separator);
  }

  .br {
    border-right: $separator-width solid var(--color-utility-separator);
  }

  .bb {
    border-bottom: $separator-width solid var(--color-utility-separator);
  }

  .bl {
    border-left: $separator-width solid var(--color-utility-separator);
  }

  .b0 {
    border: none;
  }

  .tl {
    text-align: left;
  }

  .tc {
    text-align: center;
  }

  .tr {
    text-align: right;
  }

  .up {
    text-transform: uppercase;
  }

  .st {
    font-weight: bold;
  }

  .em {
    font-style: italic;
  }

  .ls {
    letter-spacing: $letter-spacing;
  }

  .sh {
    box-shadow: $box-shadow;
  }
}
