<p class="font-secondary">This paragraph has been set to use the secondary font.
It could otherwise have used a regular CSS selector with <code>@extend %font-secondary</code>
to achieve the same effect</p>