a {

  text-decoration-skip-ink: all;

  &, 
  &:link {
    color: var(--color-link-default);
  }
  &:visited {
    color: var(--color-link-visited);
  }
  &:focus {
    color: var(--color-link-focus);
    outline-color: var(--color-utility-focus);
  }
  &:hover {
    color: var(--color-link-hover);
  }
  &:active {
    color: var(--color-link-active);
  }

  @if $link-decoration {
    @include set-link-decoration($link-decoration);
  }
  @else if $link-decoration == false {
    @include kill-link-decoration();
  }

  &.link--inactive {
  	@include kill-link(currentColor);
  }

  &.link--disabled {
  	@include kill-link(var(--color-state-disabled));
  }
}