select {
	@include form-reset-general();
	@include form-border($input-border-strategy);
	-webkit-appearance: none;
	appearance:none;
	width:100%;

	&[multiple] {
		vertical-align: top;
	}

	option {
		min-height: 1em; // Overrides default behavior on Chrome that breaks vrhythm
		// TODO
		// padding:ritmo(0.5) 0; // We can't use line-height so we size it using ritmo lines...
	}
}

.select-wrapper {
	position:relative;
	// TODO: @include arrow('down', 0.25rem, darken-color($input-border-color), 50%, ritmo($input-padding-lines) );

}