<section>
  <nav class="breadcrumb">
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">Works</a></li>
      <li><a href="#">About us</a></li>
      <li><span>Contact</span></li>
      <li><span class="disabled">Exit</span></li>
    </ul>
  </nav>
</section>