<section style="width:50%; height: 250px">
	<iframe width="300" height="100" src="https://mentalstones.com"></iframe>
</section>

<section style="width:50%; height: 250px">
	<iframe class="iframe-sizeless" src="https://mentalstones.com"></iframe>
</section>