code,
kbd,
samp,
var {
  font-family: $font-monospace;
  // Keep the font size relative to its context and smaller.
  line-height: $base-line-height;
  vertical-align: middle;
  box-decoration-break: clone;
  white-space: nowrap; // Avoid line breaking!
  margin: 0 !important; // Prevent lobotomized owl from messing with this.
  background-color: var(--color-code-inline-background);
  color: var(--color-code-inline);
  padding: $code-padding-y $code-padding-x;

  @if $code-border-radius !=false {
    border-radius: $code-border-radius;
  }
}

.code-block {
  display:block;
  padding: $gutter;
  background-color: var(--color-code-block-background);
  color: var(--color-code-block);

  // Delete margin on pre element
  pre {
    margin:0;
  }
}

// Some people wrap <pre> inside <code>,
// some people do the opposite.
// Ensure that white-space is inherited if <pre> is the wrapper:
pre code {
  white-space: inherit;
}
