// --------------------
// TOOLS
// Mixins and third-party libraries
// --------------------
@import "ritmo/ritmo"; // Source: https://ritmo.marzeelabs.org/
@import "family.scss/source/src/family"; // Source: http://lukyvj.github.io/family.scss/
@import "animate-scss/animate.scss"; // Source: https://www.npmjs.com/package/animate-scss
@import "breakpoint-sass/stylesheets/breakpoint";

@import "base/mixins/helpers";
@import "base/mixins/pow";
@import "base/mixins/type-scale";
@import "base/mixins/get-color";
@import "base/mixins/contrast-color";
@import "base/mixins/links";
@import "base/mixins/form-reset";
@import "base/mixins/lists";
@import "base/mixins/typography";





// --------------------
// VERTICAL RHYTHM
// Using Ritmo.scss
// --------------------

$base-font-size: 16px;
$vertical-rhythm: 1.5;
$base-line-height: $base-font-size * $vertical-rhythm;
$base-line-multi: 4;
$base-line-unit: $base-line-height / $base-line-multi;
$ritmo-unit: 'rem';
$rem-with-px-fallback: true;
$ritmo-border-width: 1px;
$round-to-nearest-half-size: true;

// Show a grid to see vertical rhythm in action
$show-grid: false;

// A "spacer" is a basic unit for both vertical and horizontal spacing
$spacer: ritmo(4); 





// ------
// TIPOGRAPHY
// ------

// Web-safe fonts library
$helvetica: Helvetica, Arial sans-serif;
$arial: Arial, Helvetica, sans-serif;
$lucida-sans: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
$tahoma: Tahoma, Geneva, sans-serif;
$trebuchet: "Trebuchet MS", Helvetica, sans-serif;
$verdana: Verdana, Geneva, sans-serif;

$courier: Courier, monospace;
$courier-new: "Courier New", Courier, monospace;
$lucida-console: "Lucida Console", Monaco, monospace;

$palatino: "Palatino Linotype", "Book Antiqua", Palatino, serif;
$times-new-roman: "Times New Roman", Times, Georgia, serif;
$times: "Times New Roman", Times, Georgia, serif;
$georgia: Georgia, serif;

// Custom font
$montserrat: 'Montserrat', $helvetica;

// Global variables. It is good practice (performance & design) to only use one or two typefaces.
$font-main: $montserrat;
$font-secondary: $montserrat;

// Custom values for bold and light allow for more precise mapping
$bold: 700;
$font-main-bold: 700;
$font-secondary-bold: 700;
$light: light;
$normal: 400;

// List of all elements which use $font-secondary.
$font-secondary-items: ();

// Select a font weight for your headings
$heading-font-weight: $bold;

// Text alignment for some elements
$caption-align: left;
$figcaption-align:left;

// Quotes
// Here are some common quotes: “ ” ‘ ’ ‛ ‟ ‚ „ ' " ‹ › « »
$quotes: "“" "”" "‘" "’";





// ------
// TYPE SCALE
// Source: http://type-scale.com/ and concise.css
// ------

$minor-second:     1.067 !default;
$major-second:     1.125 !default;
$minor-third:      1.200 !default;
$major-third:      1.250 !default;
$perfect-fourth:   1.333 !default;
$augmented-fourth: 1.414 !default;
$perfect-fifth:    1.500 !default;
$golden-ratio:     1.618 !default;

// Choose your type-scale ratio
$scale-ratio: $perfect-fourth !default;


// Uses concise.css typeScale mixin to map font-sizes
// Uses concise.css typeScale mixin to map font-sizes
$h0-font-size: typeScale(8);
$h1-font-size: typeScale(6);
$h2-font-size: typeScale(5);
$h3-font-size: typeScale(4);
$h4-font-size: typeScale(3);
$h5-font-size: typeScale(2); // Equals base-font-size
$h6-font-size: typeScale(1);

// Set font sizes of specific, size-aware elements
$sub-font-size: $h6-font-size;
$small-font-size: $h6-font-size;
$figcaption-font-size: $h6-font-size;





// ------
// COLOR z-index
// ------
// Use get-color('z-index', 'color') in your .scss files to get values
// For example: getColor('base', 'primary') => #C65146
// Use contrast-color($color) to get your black || white color against a background
// ------

$colors: (
  base: (
    "primary":   #C65146,
    "secondary":   #C65146,
    "lines":     #DCDCDC
  ),

  text: (
    "primary":   #222222,
    "heading":   #222222,
    "active": #383837,
    "mark" : #ff9482,
  ),

  palette : (
    "naranja_o": #c4604e,
    "naranja_c" : #ff9482,
    "gris" : #f5f5f5,
    "negro" : #222222,
  ),

  background: (
    "dark":  #222222,
    "light": #ffffff,
  ),

  state: (
    "muted":   #eee,
    "success": #10a887,
    "warning": #F17F42,
    "error":   #da3c3c
  ),

  blue: (
    "darker":  #1573b6,
    "dark":    #1e80c6,
    "base":    #2b90d9,
    "light":   #3fa2e9,
    "lighter": #4eb1f9
  ),

  green: (
    "darker":  #089073,
    "dark":    #0b9d7d,
    "base":    #10a887,
    "light":   #1eb896,
    "lighter": #28ceaa
  ),

  red: (
    "darker":  #653131,
    "dark":    #b73333,
    "base":    #da3c3c,
    "light":   #f25a5a,
    "lighter": #fa8181
  ),

  gray: (
    "black" : #222222,
    "darker":  #333333,
    "dark":    #666666,
    "base":    #888888,
    "light":   #cccccc,
    "lighter": #dddddd,
    "white" : #ffffff,
  )
) !default;

// CONTRAST BLACK AND WHITE / Do not remove
// This values are used as return values for contrast-color()
$contrast-dark: #222222;
$contrast-light: #ffffff;

// Global % to apply to darken and lighten operations
$color-modify-ratio: 33%;






// ------
// COMMON ELEMENTS
// ------
// Some common patterns
// ------

$separators: true;
$separator-width: 1px;
$separator-color: get-color(gray,light);

$table-border: 1px solid $separator-color; // CSS value or none
$table-padding: $spacer / 2;
$table-th-align: left;

$blockquote-whitespace: $spacer * 2;
$blockquote-decoration: '*';
$blockquote-decoration-size: $h2-font-size;
$blockquote-font: $font-secondary;




// ------
// LINKS
// ------
// This values are used by set-link() to get your linking strategy
// There are four link strategies available.
// ------

$link-strategy: underline; // Alternatives: underline, border, smart, mark
$link-highlight-on-hover: true; // "false" highlights the link before :hover

// Only for $link-strategy:border
$link-border-color: get-color(blue, base);
$link-border-width: ritmo(1);

// Only for $link-strategy:mark
$link-mark-color: get-color(green, lighter);

// Only for $link-strategy:smart
$link-smart-background: get-color(gray, "white");

// Link colors
$link-color: get-color(blue, base);
$link-visited: get-color(blue, darker);
$link-hover: get-color(blue,light);
$link-active: get-color(blue, darker);





// ------
// FORMS
// ------

// General reset
$form-border-radius: 0;

// Inputs
$input-border-strategy: none; // Options: full, bottom, none;
$input-border-color: darken(get-color(gray, base), 25%);
$input-border: 1px solid $input-border-color;
$input-padding: $spacer / 2;

// Buttons
$button-border-color: darken(get-color(gray,base), 50%);
$button-border: 1px solid $button-border-color;
$button-padding: 0 ($spacer / 2);

// Checkboxes / Selects
// TODO: Pseudo-elements are badly spaced
$pseudo-checkbox : false;
$pseudo-option : false;

// Selects
$select-border-strategy: full; // Options: full, bottom, none;
$select-border-color: darken(get-color(gray,base), 25%);
$select-border: 1px solid $input-border-color;
$select-padding: 0 ($spacer / 2);

// Browser quirks
$webkit-autofill-color: get-color(gray,"black"); // When webkit fills the fields whith your stored data.





// ------
// LAYOUT
// We asume a centered, responsive and max-width limited viewport.
// ------

$max-width: 1600px;
$layout-align: center; // left, right





// ------
// Z-INDEX
// To use in pair with the z-index() function
// ------

$z-index : (
  cabecera: 1,
);





// ------
// BREAKPOINTS
// ------

$small: 640px;
$medium: 960px;
$large: 1120px;





// ------
// ANIMATIONS && TRANSITIONS
// ------

$transitions: true;
$transition-time: 0.33s;
$transition-delay: 0.25s;

$disabled-opacity: 0.33;





// ------
// ALIASES
// Because sometimes you remember the wrong / old / deprecated word...
// ------

$gutter: $spacer;





// ------
// YOUR PROJECT
// Project-specific variables
// ------



// ------
// KSS-NODE
// This is to be parsed with KSS-Node and assign custom weight to elements
// ------

// Base
//
// Weight: 1
//
// Styleguide Base

// Typography
//
// Weight: 2
//
// Styleguide Typography

// Components
//
// Weight: 3
//
// Styleguide Components

// Helpers
//
// Weight: 4
//
// Styleguide Helpers

// Mixins
//
// Weight: 5
//
// Styleguide Mixins

// Functions
//
// Weight: 6
//
// Styleguide Functions

