// --------------------
// COLOR PALETTE
// Recommended set of tools: 
// Palette from color base: https://palx.jxnblk.com/
// AI-generated palette: http://khroma.co/generator/
// Semantic colors from base color: https://colors.eva.design/
// --------------------

// Primary and (optionally) secondary colors.
$primary: #641CE8;
$secondary: #F3C852;
$background:#E3E1DB;

// Shades.
$secondary-100: #FEF9DC;
$secondary-200: #FDF1BA;
$secondary-300: #FBE697;
$secondary-400: #F7DA7C;
$secondary-500: #F3C852;
$secondary-600: #D0A53B;
$secondary-700: #AE8329;
$secondary-800: #8C641A;
$secondary-900: #744E0F;

$primary-100: #E7D1FD;
$primary-200: #CCA3FC;
$primary-300: #AC75F8;
$primary-400: #9052F1;
$primary-500: #641CE8;
$primary-600: #4D14C7;
$primary-700: #390EA7;
$primary-800: #270886;
$primary-900: #1B056F;

// Semantic colors
$success-100: #CDFACD;
$success-200: #9DF6A6;
$success-300: #68E481;
$success-400: #41CA6A;
$success-500: #10A84D;
$success-600: #0B904E;
$success-700: #08784B;
$success-800: #056145;
$success-900: #035041;
$success: $success-500;

$info-100: #CAEAFB;
$info-200: #96D1F8;
$info-300: #5FADEA;
$info-400: #3788D5;
$info-500: #0358BA;
$info-600: #02449F;
$info-700: #013285;
$info-800: #00236B;
$info-900: #001959;
$info: $info-500;

$warning-100: #FBF8C9;
$warning-200: #F7F095;
$warning-300: #E8DD5D;
$warning-400: #D2C435;
$warning-500: #B5A301;
$warning-600: #9B8A00;
$warning-700: #827200;
$warning-800: #685B00;
$warning-900: #564A00;
$warning: $warning-500;

$danger-100: #FCE2D1;
$danger-200: #F9BEA4;
$danger-300: #ED9073;
$danger-400: #DB644F;
$danger-500: #C4281D;
$danger-600: #A81517;
$danger-700: #8D0E1B;
$danger-800: #71091C;
$danger-900: #5E051D;
$danger: $danger-500;

// Gray colors
$gray-100: hsl(261, 10%, 97%);
$gray-200: hsl(261, 10%, 79%);
$gray-300: hsl(261, 10%, 71%);
$gray-400: hsl(261, 10%, 63%);
$gray-500: hsl(261, 10%, 55%);
$gray-600: hsl(261, 10%, 47%);
$gray-700: hsl(261, 10%, 39%);
$gray-800: hsl(261, 10%, 31%);
$gray-900: hsl(261, 10%, 23%);


$black: $gray-900;
$white: #fff;

$lightness-threshold: 65;

// We declare themes as a SASS map in order to be able to iterate, 
// or calculate new colors based on this. This map will be used to generate the
// actual CSS Custom Properties (variables) that are put into use.
// These are the mandatory colors, optional ones will be added conditionally.
$colors : (
  primary: $primary,
  primary-contrast: contrast-color($primary),
  secondary: $secondary,
  secondary-contrast: contrast-color($secondary),
  black: $black,
  white: $white,
  utility: (
    separator: $gray-200,
    focus: $primary,
  ),
  text : (
    body: $black,
    body-contrast: $white,
    heading: $black,
  ),
  mark : (
    text: $black,
    background: $secondary-400,
  ),
  background : (
    body: $white,
    dark: $gray-800,
    light: $gray-100,
  ),
  state : (
    disabled: $gray-500,
    success: $success,
    success-contrast: contrast-color($success),
    danger: $danger,
    danger-contrast: contrast-color($danger),
    warning: $warning,
    warning-contrast: contrast-color($warning),
  ),
  link : (
    default: $primary-500,
    visited: $primary-400,
    focus: $primary-800,
    hover: $primary-800,
    active: $primary-800,
    decoration : $primary-100,
    decoration-hover: $primary-500,
  ),
  input : (
    border: $gray-200,
    pseudo-border: $gray-600,
  ),
  code : (
    inline-background: $secondary-200,
    inline: $black,
    block-background: $gray-900,
    block: $white,
  ),
  split: (
    primary: (
      light: $primary-100,
      dark: $primary-900,
    ),
    secondary: (
      light: $secondary-100,
      dark: $secondary-900,
    ),
    state-success: (
      light: $success-100,
      dark: $success-900,
    ),
    state-danger: (
      light: $danger-100,
      dark: $danger-900,
    ),
    state-warning: (
      light: $warning-100,
      dark: $warning-900,
    ),
  )
);

$dark-colors: (
  black: $white,
  white: $black,
  utility: (
    separator: $gray-700,
  ),
  text: (
    body: $gray-100,
    body-contrast: $black,
    heading: $gray-200,
  ),
  background: (
    body: $black,
    dark: $gray-100,
    light: $gray-800,
  ),
  state : (
    disabled: $gray-500,
    success: $success,
    danger: $danger,
    warning: $warning,
  ),
  link : (
    default: $primary-100,
    visited: $primary-100,
    focus: $primary-300,
    hover: $primary-300,
    active: $primary-300,
    decoration : $primary-100,
    decoration-hover: $primary-500,
  ),
  input : (
    border: $gray-700,
    pseudo-border: $gray-500,
  ),
  code : (
    inline-background: $gray-700,
    inline: $white,
    block-background: $gray-800,
    block: $white,
  ),
);

$states: 'success', 'warning', 'danger';

$generate-color-classes: true;

// --------------------
// VERTICAL RHYTHM
// --------------------

$base-font-size: 16px;
$base-line-height-ratio: 1.5;
$base-line-height: 1.5rem;


// Show a grid to see vertical rhythm in action
$show-grid: false;

// A "spacer" is a basic unit for both vertical and horizontal spacing
// The gutter is for horizontal spacing and can be equal to spacer or not
$spacer: $base-line-height;
$gutter: $spacer;

$spacers: (
  quarter: 0.25, 
  half : 0.5, 
  2 : 2, 
  3 : 3, 
  4 : 4, 
  5 : 5, 
  6 : 6
);




// ------
// TYPOGRAPHY
// ------

// Some web-safe fonts library

// Current system's font (see https://css-tricks.com/snippets/css/system-font-stack/)
$system: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;

// Set of stacks from https://css-tricks.com/snippets/css/font-stacks/
// They take the name of the most common type on the series

$times: Cambria, "Hoefler Text", Utopia, "Liberation Serif", "Nimbus Roman No9 L Regular", Times, "Times New Roman", serif;
$georgia: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
$garamond: "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;

$helvetica: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
$verdana: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
$trebuchet: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;

$impact: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", sans-serif;
$courier: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;

// Add here your custom fonts, if needed


// Global variables. It is good practice (performance & design) to use a maximum of two typefaces.
$font-main: $system;
$font-secondary: $georgia; // Set to false to only only one font
$font-monospace: $courier;

// Setting custom values for bold and light (100, 500, etc) allow for more precise mapping
// Important! Don't set this to invalid font-weight values or falsy values.
// Some mixins and functions need valid values in order to work!
$font-main-bold: bold;
$font-secondary-bold: bolder;
$light: lighter;
$normal: normal;

// Heading overrides and configuration
// Select a font weight and an alternate line height for your headings
$heading-font-weight: bold;
$heading-decorated-links: false; // Wether to decorate or not links inside headings

// Text alignment for some elements
$caption-align: left;
$figcaption-align: left;

// Quotes
// Here are some common quotes: “ ” ‘ ’ ‛ ‟ ‚ „ ' " ‹ › « »
// Latin quotes (spanish, french): "«" "»" "“" "”"
// English quotes: "“" "”" "‘" "’"
$quotes: "«" "»" "“" "”";

// Code-like items
// Set to false to avoid outputting color variables
$code-padding-x: $gutter / 4;
$code-border-radius: 5px;

// Letter-spacing (always EM units to keep it relative to the element scope)
$letter-spacing: 0.1em;

// List margin-bottom between <li> items.
$list-separator: $spacer / 4;
// List paddings. We recommend either 1em or 0.
$list-padding: 0;
// Separator for all items inside lists. Recommended to be smaller.
$list-spacing: $spacer / 2;

// Maximum characters per line, to apply using .max-ch class.
// Set to false to disable it.
$max-ch: 75ch;

// Mark padding
$mark-padding: 0 $spacer / 4;





// ------
// TYPE SCALE
// Source: http://type-scale.com
// ------
$fluid-typography-min-width: 30rem;
$fluid-typography-max-width: 60rem;

// Unlike base-line-height, headings are better expressed as EMs
// in order to keep consistency on fluid behavior.
$heading-line-height: 1.1em;

$font-sizes : (
  hero2: (
    size: 5.61rem,
    line-height: $heading-line-height,
  ),
  hero1: (
    size: 4.20rem,
    line-height: $heading-line-height,
  ),
  h1: (
    size: 3.16rem,
    line-height: $heading-line-height,
  ),
  h2: (
    size: 2.4rem,
    line-height: $heading-line-height,
  ),
  h3: (
    size: 1.8rem,
    line-height: $heading-line-height,
  ),
  h4: (
    size: 1.33rem,
    line-height: $heading-line-height,
  ),
  base: (
    size: 1rem,
    line-height: $base-line-height,
  ),
  h5: (
    size: 1rem,
    line-height: $heading-line-height,
  ),
  h6: (
    size: 0.75rem,
    line-height: $heading-line-height,
  ),
  small: (
    size: 0.75rem,
    line-height: $base-line-height,
  ),
  xsmall: (
    size: 0.66rem,
    line-height: $base-line-height,
  ),
  tiny: (
    size: 0.56rem,
    line-height: $base-line-height,
  ),
);

// Set font sizes of specific, size-aware elements
$sub-font-size: 'h6';
$small-font-size: 'h6';
$figcaption-font-size: 'h6';
$label-font-size: 'h6';
$fieldset-font-size: 'h5';







// ------
// COMMON ELEMENTS
// ------
// Some common patterns
// ------

$border-radius: 0px;

$separators: true; // Set this to false to disable all separators
$separator-width: 1px;

$table-border-width: 1px;
$table-border-color: var(--color-utility-separator);
$table-padding: $spacer / 2;
$table-th-align: left;

$blockquote-whitespace: $spacer;

$shadows: true;
$box-shadow: 2px 2px 2px 0px rgba($black, 0.1);




// ------
// LINKS
// ------
// This values are used by set-link() to get your linking strategy
// ------

// Link decoration data on default and hover states
$link-decoration: (
  underline: (
    default: true,
    hover: true,
  ),
  color: (
    default: $primary-100,
    hover: $primary-500,
  ),
  width: (
    default: 0.2em,
    hover: 0.2em,
  )
);


// ------
// FORMS
// ------

// Global variables
$form-border-radius: $border-radius;

// Labels
$label-as-minititle: false;

// Inputs
$input-border-strategy: bottom; // Options: full, bottom, none;
$input-border-width: 1px;
$input-padding-x: 0;
$input-padding-y: $gutter / 6;

// Buttons
$button-padding-y: $gutter / 8;
$button-padding-x: $gutter / 2;
$button-font-family: $font-main;
$button-font-size: 'h6';
$button-border-width: 2px;
$button-border-radius: 2px; // $border-radius;
$button-weight: $font-main-bold;
$button-invert-color: false; // Only valid on border:fill and background
$button-color-ratio: 10%; // Ratio to apply for color darkening. Positive for darken, negative for lighten.

// Available strategies:
// - outline - Colored outline and text, background transparent
// - background - Background solid, font contrasted.
// - split - Background colored dim, font colored dark, based on same color
// - split-inverse - Inverse of split

$button-strategy-default: 'outline';
$button-strategy-hover: 'background';

// Mapping of class names and actual color names
$button-states : (
  primary: 'primary', 
  secondary: 'secondary',
  success: 'state-success',
  warning: 'state-warning',
  danger: 'state-danger',
);

// Checkboxes / Selects
$pseudo-checkbox : false;
$pseudo-radio: false;
$pseudo-border: 1px solid var(--color-input-pseudo-border);

// Browser quirks
$webkit-autofill-color: $gray-500; // When webkit fills the fields whith your stored data.

// Fieldsets
$disable-fieldset: false;


// ------
// NAVIGATION
// Default menu appearance
// ------

$nav-font-weight: normal;
$nav-uppercase: true;
$nav-kill-link-decoration: true;
$nav-font-size: 'h5';
$nav-letter-spacing: $letter-spacing;
$nav-item-gutter: $gutter;

$toc-font-weight: normal;
$toc-uppercase: false;
$toc-font-size: 'base';
$toc-kill-links: $nav-kill-link-decoration;

$menu-x-padding: $gutter;
$menu-kill-links: $nav-kill-link-decoration; // Kills decoration
$menu-background-color: $gray-200;
$menu-font-size: $nav-font-size;

$breadcrumb-kill-links: true; // Kills decoration
$breadcrumb-font-size: 'h6'; // False avoids setting this value
$breadcrumb-arrow: "›"; // Valid unicode character

// ------
// TAGS
// ------

$tag-strategy: 'contrast'; // One of split or contrast
$tag-default-color: $gray-300;
$tag-padding: 0 $gutter / 4; // Shorthand
$tag-font-size: 'h6';

// ------
// ALERTS
// ------

$alert-strategy: 'split'; // One of split or contrast
$alert-default-color: $gray-300;

// ------
// GRID
// We asume a centered, responsive and max-width limited viewport.
// ------

$max-grid-cols: 6;


// ------
// LAYOUT
// We asume a centered, responsive and max-width limited viewport.
// ------

$max-width: 960px;
$layout-align: center; // left, right
$layout-padding: $spacer;


// ------
// HUESITOS
// Wether to generate utility classes or not
// ------
$huesitos: true;





// ------
// Z-INDEX
// To use in pair with the z-index() function
// ------

$z-index : (
  item1 : 0,
  item2 : 1,
  item3 : 3,
);





// ------
// BREAKPOINTS
// ------

// Map for iterations
$breakpoints: (
  small : 640px,
  medium : 960px,
  large : 1120px
);

// Helpers for a simpler use on breakpoint() mixin
$small: map-get($breakpoints, small);
$medium: map-get($breakpoints, medium);
$large: map-get($breakpoints, large);





// ------
// ANIMATIONS && TRANSITIONS
// ------

$transitions: true;
$transition-time: 0.33s;
$transition-delay: 0.25s;

$disabled-opacity: 0.33;





// ------
// ALIASES
// Because sometimes you remember the wrong / old / deprecated word...
// ------





// ------
// CARDS
// Component for indvidual, card-like componentes
// ------

$card-border-width: 1px; // Set to false to avoid border
$card-border-color: var(--color-utility-separator);// Can be false or a full border value, like 2px solid var(--color-utility-separator);
$card-background: $white;
$card-border-radius: $border-radius;
$card-padding: 8; // In base-line-multi
$card-shadow: true; // Aplies shadow-definition



// ------
// YOUR PROJECT
// Project-specific variables
// ------



// ------
// CSS VARIABLES
// Map variables to CSS Custom Properties
// ------
@import "css-vars";
