// --------------------
// COLOR PALETTE
// Using https://palx.jxnblk.com/
// --------------------

// We recommend to import a palx palette and use their nomenclature
@import "base/palettes/306BAC";

$colors: (
	base: (
		"primary": $blue6,
		"secondary": $orange6,
		"separator": $gray2,
		"black": $gray9,
		"white": #fff,
	),

	text: (
		"primary":   $gray9,
		"heading":   $indigo9,
		"mark" : $orange5,
	),

	background: (
		"dark":  $gray8,
		"dim" : $gray1,
		"light": $gray0,
	),

	state: (
		"muted":   $gray9,
		"success": $teal4,
		"warning": $yellow5,
		"error":   $red5
	)
) !default;

// Quick access to black and white
$black: get-color(base, "black");
$white: get-color(base, "white");

// CONTRAST BLACK AND WHITE / Do not remove
// This values are used as return values for contrast-color()
$contrast-dark: #1A1A19;
$contrast-light: #FFFFFF;

// Global % to apply to darken and lighten operations
$color-modify-ratio: 33%;

// Darken and lighten % to apply to split-color operations
$darken-split-ratio: 50%;
$lighten-split-ratio: 70%;

// Lightness threshold for color invertion. A value between 0-100.
$lightness-threshold: 60;

// Wether to generate helper classes or not.
// Set this to false to avoid bloating your css
$generate-color-classes: true;



// --------------------
// VERTICAL RHYTHM
// Using Ritmo.scss
// --------------------

$base-font-size: 16px;
$vertical-rhythm: 1.35;
$base-line-height: $base-font-size * $vertical-rhythm;
$base-line-multi: 4;
$base-line-unit: $base-line-height / $base-line-multi;
$ritmo-unit: 'rem';
$rem-with-px-fallback: true;
$ritmo-border-width: 1px;
$round-to-nearest-half-size: true;

// Show a grid to see vertical rhythm in action
$show-grid: false;

// A "spacer" is a basic unit for both vertical and horizontal spacing
$spacer: ritmo(4); 





// ------
// TYPOGRAPHY
// ------

// Some web-safe fonts library

// Current system's font (see https://css-tricks.com/snippets/css/system-font-stack/)
$system: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;

// Set of stacks from https://css-tricks.com/snippets/css/font-stacks/
// They take the name of the most common type on the series

$times: Cambria, "Hoefler Text", Utopia, "Liberation Serif", "Nimbus Roman No9 L Regular", Times, "Times New Roman", serif;
$georgia: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
$garamond: "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;

$helvetica: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
$verdana: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
$trebuchet: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;

$impact: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", sans-serif;
$courier: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;

// Add here your custom fonts, if needed


// Global variables. It is good practice (performance & design) to only use one or two typefaces.
$font-main: $system;
$font-secondary: $trebuchet;
$font-monospace: $courier;

// Setting custom values for bold and light (100, 500, etc) allow for more precise mapping
// Don't touch the settings to keep them by default.
$font-main-bold: bold;
$font-secondary-bold: bold;
$light: lighter;
$normal: normal;

// List of all elements which use $font-secondary.
$font-secondary-items:
	h1, h2, h3, h4, dt,
	'.your-classes',
	'#your-ids';

// Heading overrides
// Select a font weight and an alternate line height for your headings
$heading-font-weight: normal;
$heading-vertical-rhythm:1; // We might want a slower VR for headings. Set to false if not.
$heading-letter-spacing: -0.03em; // Headings benefit of a reduced letter-spacing 

// Text alignment for some elements
$caption-align: left;
$figcaption-align: left;

// Quotes
// Here are some common quotes: “ ” ‘ ’ ‛ ‟ ‚ „ ' " ‹ › « »
$quotes: "“" "”" "‘" "’";

// Code-like items
$code-background: get-color(base, separator);
$code-border-radius: 2px;

// Letter-spacing (always EM units to keep it relative to the element scope)
$letter-spacing: 0.05em; 

// List paddings. We recommend either 1em or 0.
$list-padding: 0;





// ------
// TYPE SCALE
// Source: http://type-scale.com/ and concise.css
// ------

$minor-second:     1.067 !default;
$major-second:     1.125 !default;
$minor-third:      1.200 !default;
$major-third:      1.250 !default;
$perfect-fourth:   1.333 !default;
$augmented-fourth: 1.414 !default;
$perfect-fifth:    1.500 !default;
$golden-ratio:     1.618 !default;

// Choose your type-scale ratio
$scale-ratio: $perfect-fourth !default;

// Uses concise.css typeScale mixin to map font-sizes
$h1-font-size: typeScale(6);
$h2-font-size: typeScale(5);
$h3-font-size: typeScale(4);
$h4-font-size: typeScale(3);
$h5-font-size: typeScale(2); // Equals base-font-size
$h6-font-size: typeScale(1);

// Set font sizes of specific, size-aware elements
$sub-font-size: $h6-font-size;
$small-font-size: $h6-font-size;
$figcaption-font-size: $h6-font-size;







// ------
// COMMON ELEMENTS
// ------
// Some common patterns
// ------

$border-radius: 0px;

$separators: true;
$separator-width: 1px;
$separator-color: get-color(base, separator);

$table-border: 1px solid $separator-color; // CSS value or none
$table-padding: $spacer / 2;
$table-th-align: left;

$blockquote-whitespace: $spacer * 2;
$blockquote-font: $font-secondary;

$shadows: true;
$shadow-definition: 2px 2px 2px 0px rgba($black, 0.1);




// ------
// LINKS
// ------
// This values are used by set-link() to get your linking strategy
// There are four link strategies available.
// ------

// Only for $link-strategy:border
$link-border-color: $violet1;
$link-border-color-hover: $violet2; // You can set a different color on :hover
$link-border-width: ritmo(1);

// Only for $link-strategy:mark
$link-mark-color: $violet1;
$link-mark-color-hover: $violet2;
$link-mark-padding: 4px;

// Only for $link-strategy:border-inset
$link-border-inset-color: $violet1;
$link-border-inset-color-hover: $violet1;
$link-border-inset-width: 0.3rem;
$link-border-inset-width-hover: 1rem;

// Link colors
$link-color: $violet7;
$link-visited: $violet7;
$link-hover: $violet5;
$link-active: $violet5;

// BUILD YOUR OWN LINK
// You can choose one strategy for every state!
//
// Available strategies: 
// - false - No styling
// - underline - Normal, text-decoration:underline
// - border - Border-bottom with custom width
// - border-inset - Pseudo-element that fakes a border bottom that grows from bottom to top
// - mark - Background-color (as in a <mark> element)
//
$link-strategy-default: 'border-inset';
$link-strategy-hover: 'border-inset';

$link-alternative-strategies: false;

// Example of $link-alternative-strategies:
//
// $link-alternative-strategies: (
// 	mark : (
// 		default : 'mark', 
// 		hover : 'mark'
// 	),
// );

// Inverse link colors and strategy (for contrasted backgrounds)
$inverse-link-color: $white;
$inverse-link-visited: $white;
$inverse-link-hover: $blue2;
$inverse-link-active: $blue2;
$inverse-link-strategy-default:'underline';
$inverse-link-strategy-hover: false;




// ------
// FORMS
// ------

// Global variables
$form-border-radius: $border-radius;

// Inputs
$input-border-strategy: full; // Options: full, bottom, none;
$input-border-color: $gray2;
$input-border: 1px solid $input-border-color;
$input-padding: $spacer / 4 $spacer / 2;

// Buttons
$button-font-family: $font-main;
$button-border-width: 2px;
$button-padding: 0 ($spacer / 2);
$button-border-radius: 2px; // $border-radius;
$button-weight: bold(button);
$button-invert-color: false; // ONly valid on border:fill and background

// BUILD YOUR OWN BUTTON
// You can choose one strategy for every state!
//
// Available strategies: 
// - outline - Colored outline and text, background transparent
// - background - Background solid, font contrasted.
// - split - Background colored dim, font colored dark, based on same color
// - split-inverse - Inverse of split
//
// Note that background and outline can be considered "inverse" of each other
$button-strategy-default: 'split';
$button-strategy-hover: 'split-inverse';

$button-alternative-strategies: false;

//
// Example of $button-alternative-strategies:
//
// $button-alternative-strategies: (
// 	split : (
// 		default : 'split', 
// 		hover : 'split-inverse'
// 	),
// );


$button-states : (
	primary: get-color(base, primary), 
	secondary: get-color(base, secondary), 
	success: get-color(state, success), 
	warning: get-color(state, warning),  
	error: get-color(state, error), 
);

// Checkboxes / Selects
$pseudo-checkbox : false;
$pseudo-radio: false;
$pseudo-border-color: $gray8;
$pseudo-border: 1px solid $pseudo-border-color;

// Selects
$select-border-strategy: full; // Options: full, bottom, none;
$select-border-color: shade($gray5, 25%);
$select-border: 1px solid $input-border-color;
$select-padding: 0 ($spacer / 2);

// Browser quirks
$webkit-autofill-color: $gray5; // When webkit fills the fields whith your stored data.

// Fieldsets
$disable-fieldset: false;


// ------
// NAVIGATION
// Default menu appearance
// ------

$nav-font-weight: bold;
$nav-uppercase: true;
$nav-font-size: $base-font-size;
$nav-spacing: $letter-spacing;

$toc-font-weight: bold;
$toc-uppercase: false;
$toc-font-size: $h5-font-size;

$menu-padding: $spacer / 2;
$menu-kill-links: true;
$menu-background-color: get-color(base, secondary);


// ------
// LAYOUT
// We asume a centered, responsive and max-width limited viewport.
// ------

$max-width: 960px;
$layout-align: center; // left, right





// ------
// Z-INDEX
// To use in pair with the z-index() function
// ------

$z-index : (
	item1 : 0,
	item2 : 1,
);





// ------
// BREAKPOINTS
// ------

// Map for iterations
$breakpoints: (
	small : 640px,
	medium : 960px,
	large : 1120px
);

// Helpers for a simpler use on breakpoint() mixin
$small: map-get($breakpoints, small);
$medium: map-get($breakpoints, medium);
$large: map-get($breakpoints, large);





// ------
// ANIMATIONS && TRANSITIONS
// ------

$transitions: true;
$transition-time: 0.33s;
$transition-delay: 0.25s;

$disabled-opacity: 0.33;





// ------
// ALIASES
// Because sometimes you remember the wrong / old / deprecated word...
// ------

$gutter: $spacer;





// ------
// CARDS
// Component for indvidual, card-like componentes
// ------

$card-border: 1px solid $separator-color;// Can be false or a full border value, like 2px solid $separator-color;
$card-background: $white;
$card-border-radius: $border-radius;
$card-padding: $gutter * 2;



// ------
// YOUR PROJECT
// Project-specific variables
// ------


