// --------------------
// COLOR PALETTE
// Recommended set of tools: 
// Palette from color base: https://palx.jxnblk.com/
// AI-generated palette: http://khroma.co/generator/
// Semantic colors from base color: https://colors.eva.design/
// --------------------

// We recommend to import here a palette .scss partial to avoid bloat.
// Hand-picked colors from Khroma:
$primary: #146d56;
$secondary: #f7a57c;
$background:#d0d7ce;

// Semantic colors and variations from Eva.design
$primary-100: #CFF7DD;
$primary-200: #A1F0C5;
$primary-300: #6BD3A4;
$primary-400: #40A782;
$primary-500: #146D56;
$primary-600: #0E5D50;
$primary-700: #0A4E4A;
$primary-800: #063D3F;
$primary-900: #032E34;

$secondary-100: #FEF4E5;
$secondary-200: #FEE6CB;
$secondary-300: #FCD3B1;
$secondary-400: #FAC19C;
$secondary-500: #F7A57C;
$secondary-600: #D47B5A;
$secondary-700: #B1563E;
$secondary-800: #8F3627;
$secondary-900: #761F17;

$success-100: #CDFACD;
$success-200: #9DF6A6;
$success-300: #68E481;
$success-400: #41CA6A;
$success-500: #10A84D;
$success-600: #0B904E;
$success-700: #08784B;
$success-800: #056145;
$success-900: #035041;

$info-100: #CAEAFB;
$info-200: #96D1F8;
$info-300: #5FADEA;
$info-400: #3788D5;
$info-500: #0358BA;
$info-600: #02449F;
$info-700: #013285;
$info-800: #00236B;
$info-900: #001959;

$warning-100: #FBF8C9;
$warning-200: #F7F095;
$warning-300: #E8DD5D;
$warning-400: #D2C435;
$warning-500: #B5A301;
$warning-600: #9B8A00;
$warning-700: #827200;
$warning-800: #685B00;
$warning-900: #564A00;

$danger-100: #FCE2D1;
$danger-200: #F9BEA4;
$danger-300: #ED9073;
$danger-400: #DB644F;
$danger-500: #C4281D;
$danger-600: #A81517;
$danger-700: #8D0E1B;
$danger-800: #71091C;
$danger-900: #5E051D;

// Gray colors from palx

$gray-100: #f8faf8;
$gray-200: #ebefea;
$gray-300: #dce3db;
$gray-400: #cdd5cb;
$gray-500: #bec6bc;
$gray-600: #aeb5ac;
$gray-700: #9ba299;
$gray-800: #858b84;
$gray-900: #696d68;
$black: #3d403d;

$colors: (
	base: (
		"primary": $primary,
		"secondary": $secondary,
		"separator": $gray-300,
		"black": $black,
		"white": #fff,
	),

	text: (
		"primary": $black,
		"heading": $primary-500,
		"mark" : $warning-400,
	),

	background: (
		"dark":  darken($background, 10%),
		"dim" : $background,
		"light": lighten($background, 10%),
	),

	state: (
		"muted":   $gray-400,
		"success": $success-500,
		"warning": $warning-500,
		"error":   $danger-500,
	)
) !default;

// Quick access to black and white
$black: get-color(base, "black");
$white: get-color(base, "white");

// CONTRAST BLACK AND WHITE / Do not remove
// This values are used as return values for contrast-color()
$contrast-dark: #1A1A19;
$contrast-light: #FFFFFF;

// Global % to apply to darken and lighten operations
$color-modify-ratio: 33%;

// Darken and lighten % to apply to split-color operations
$darken-split-ratio: 50%;
$lighten-split-ratio: 50%;

// Lightness threshold for color invertion. A value between 0-100.
$lightness-threshold: 60;

// Wether to generate helper classes or not.
// Set this to false to avoid bloating your css
$generate-color-classes: true;



// --------------------
// VERTICAL RHYTHM
// Using Ritmo.scss
// --------------------

$base-font-size: 16px;
$vertical-rhythm: 1.5;
$base-line-height: $base-font-size * $vertical-rhythm;
$base-line-multi: 4;
$base-line-unit: $base-line-height / $base-line-multi;
$ritmo-unit: 'rem';
$rem-with-px-fallback: true;
$ritmo-border-width: 1px;
$round-to-nearest-half-size: true;

// Show a grid to see vertical rhythm in action
$show-grid: false;

// A "spacer" is a basic unit for both vertical and horizontal spacing
// The common alias is $gutter
$spacer-lines: 4;
$spacer: ritmo(4); 
$gutter: $spacer;





// ------
// TYPOGRAPHY
// ------

// Some web-safe fonts library

// Current system's font (see https://css-tricks.com/snippets/css/system-font-stack/)
$system: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;

// Set of stacks from https://css-tricks.com/snippets/css/font-stacks/
// They take the name of the most common type on the series

$times: Cambria, "Hoefler Text", Utopia, "Liberation Serif", "Nimbus Roman No9 L Regular", Times, "Times New Roman", serif;
$georgia: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
$garamond: "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;

$helvetica: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
$verdana: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
$trebuchet: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;

$impact: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", sans-serif;
$courier: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;

// Add here your custom fonts, if needed


// Global variables. It is good practice (performance & design) to use a maximum of two typefaces.
$font-main: $system;
$font-secondary: $garamond; // Set to false to only only one font
$font-monospace: $courier;

// Setting custom values for bold and light (100, 500, etc) allow for more precise mapping
// Important! Don't set this to invalid font-weight values or falsy values.
// Some mixins and functions need valid values in order to work!
$font-main-bold: bold;
$font-secondary-bold: bold;
$light: lighter;
$normal: normal;

// List of all elements which use $font-secondary. Set $font-secondary to 'false' to set none.
$font-secondary-items:
	h1, h2, h3, h4, h5, h6, dt;
	// '.your-classes',
	// '#your-ids';

// Heading overrides and configuration
// Select a font weight and an alternate line height for your headings
$heading-font-weight: bold;
$heading-letter-spacing: -0.03em; // Headings benefit of a reduced letter-spacing 
$heading-decorated-links: false; // Wether to decorate or not links inside headings

// Text alignment for some elements
$caption-align: left;
$figcaption-align: left;

// Quotes
// Here are some common quotes: “ ” ‘ ’ ‛ ‟ ‚ „ ' " ‹ › « »
// Latin quotes (spanish, french): "«" "»" "“" "”"
// English quotes: "“" "”" "‘" "’"
$quotes: "«" "»" "“" "”";

// Code-like items
$code-background: $secondary-300;
$code-block-background: $primary-900; // You might want to apply a different bg to block elements using .code-block
$code-border-radius: 10px;

// Letter-spacing (always EM units to keep it relative to the element scope)
$letter-spacing: 0.1em; 

// List margin-bottom between <li> items.
$list-separator: $gutter / 2;
// List paddings. We recommend either 1em or 0.
$list-padding: 0;

// Maximum characters per line, to apply using .max-ch class
$max-ch: 75ch;

// Mark padding
$mark-padding: 2px;





// ------
// TYPE SCALE
// Source: http://type-scale.com/ and concise.css
// ------

$minor-second:     1.067 !default;
$major-second:     1.125 !default;
$minor-third:      1.200 !default;
$major-third:      1.250 !default;
$perfect-fourth:   1.333 !default;
$augmented-fourth: 1.414 !default;
$perfect-fifth:    1.500 !default;
$golden-ratio:     1.618 !default;

// Choose your type-scale ratio
$scale-ratio: $perfect-fourth !default;

// Uses concise.css typeScale mixin to map font-sizes
$h0-font-size: typeScale(7); // Extra big font
$h1-font-size: typeScale(6);
$h2-font-size: typeScale(5);
$h3-font-size: typeScale(4);
$h4-font-size: typeScale(3);
$h5-font-size: typeScale(2); // Equals base-font-size
$h6-font-size: typeScale(1);
$h7-font-size: typeScale(0); // Extra small font

// Set vetical rhythm using ritmo lines for headings
// This might be needed to manually override automatic ritmo.scss calculations
// For example: h1 and h2 legibility usually benefit from a reduced line height.
$h1-ritmo-lines: 8;
$h2-ritmo-lines: 6;
$h3-ritmo-lines: 6;
$h4-ritmo-lines: 4;
$h5-ritmo-lines: 3;
$h6-ritmo-lines: 2;

// Set font sizes of specific, size-aware elements
$sub-font-size: $h6-font-size;
$small-font-size: $h6-font-size;
$figcaption-font-size: $h6-font-size;
$label-font-size: $h6-font-size;
$fieldset-font-size: $h5-font-size;







// ------
// COMMON ELEMENTS
// ------
// Some common patterns
// ------

$border-radius: 0px;

$separators: true; // Set this to false to disable all separators
$separator-width: 1px;
$separator-color: get-color(base, separator);

$table-border-width: 1px;
$table-border-color: $separator-color; // CSS value or none
$table-padding: $spacer / 2;
$table-th-align: left;

$blockquote-whitespace: $spacer * 2;

$shadows: true;
$box-shadow: 2px 2px 2px 0px rgba($black, 0.1);




// ------
// LINKS
// ------
// This values are used by set-link() to get your linking strategy
// There are four link strategies available.
// ------

// Only for $link-strategy:border
$link-border-color: $primary-300;
$link-border-color-hover: $primary-500; // You can set a different color on :hover
$link-border-width: ritmo(1);

// Only for $link-strategy:border-inset
$link-border-inset-color: $primary-100;
$link-border-inset-color-hover: $primary-100;
$link-border-inset-width: 0.25em;
$link-border-inset-width-hover: 1em;

// Link colors
$link-color: $primary-700;
$link-visited: $primary-600;
$link-hover: $primary-600;
$link-active: $primary-900;

// BUILD YOUR OWN LINK
// You can choose one strategy for every state!
//
// Available strategies: 
// - false - No styling
// - underline - Normal, text-decoration:underline
// - border - Border-bottom with custom width
// - border-inset - Pseudo-element that fakes a border bottom that grows from bottom to top
//
$link-strategy-default: "border-inset";
$link-strategy-hover: "border-inset";

$link-alternative-strategies: false;

// Example of $link-alternative-strategies:
//
// $link-alternative-strategies: (
// 	border : (
// 		default : 'border', 
// 		hover : 'border-inset'
// 	),
// );

// Inverse link colors and strategy (for contrasted backgrounds)
$inverse-link-color: $primary-100;
$inverse-link-visited: $primary-100;
$inverse-link-hover: $primary-200;
$inverse-link-active: $primary-200;
$inverse-link-strategy-default:'underline';
$inverse-link-strategy-hover: false;




// ------
// FORMS
// ------

// Global variables
$form-border-radius: $border-radius;

// Labels
$label-as-minititle: true;

// Inputs
$input-border-strategy: full; // Options: full, bottom, none;
$input-border-color: $gray-200;
$input-border-width: 1px;
$input-padding-lines: 2;

// Buttons
$button-font-family: $font-main;
$button-font-size: $h6-font-size;
$button-border-width: 2px;
$button-ritmo-height: 6; // Ritmo line units
$button-ritmo-padding-x: 3;
$button-border-radius: 2px; // $border-radius;
$button-weight: bold(button);
$button-invert-color: false; // Only valid on border:fill and background
$button-color-ratio: 10%; // Ratio to apply for color darkening. Positive for darken, negative for lighten.

// BUILD YOUR OWN BUTTON
// You can choose one strategy for every state!
//
// Available strategies: 
// - outline - Colored outline and text, background transparent
// - background - Background solid, font contrasted.
// - split - Background colored dim, font colored dark, based on same color
// - split-inverse - Inverse of split
//
// Note that background and outline can be considered "inverse" of each other
$button-strategy-default: 'outline';
$button-strategy-hover: 'background';

$button-alternative-strategies: false;

//
// Example of $button-alternative-strategies:
//
// $button-alternative-strategies: (
// 	split : (
// 		default : 'split', 
// 		hover : 'split-inverse'
// 	),
// );


$button-states : (
	primary: get-color(base, primary), 
	secondary: get-color(base, secondary), 
	success: get-color(state, success), 
	warning: get-color(state, warning),  
	error: get-color(state, error), 
);

// Checkboxes / Selects
$pseudo-checkbox : false;
$pseudo-radio: false;
$pseudo-border-color: $gray-800;
$pseudo-border: 1px solid $pseudo-border-color;

// Browser quirks
$webkit-autofill-color: $gray-500; // When webkit fills the fields whith your stored data.

// Fieldsets
$disable-fieldset: false;


// ------
// NAVIGATION
// Default menu appearance
// ------

$nav-font-weight: normal;
$nav-uppercase: true;
$nav-kill-links: true;
$nav-font-size: $base-font-size;
$nav-spacing: $letter-spacing;

$toc-font-weight: normal;
$toc-uppercase: false;
$toc-font-size: $h5-font-size;
$toc-kill-links: $nav-kill-links;

$menu-x-padding: ritmo(2);
$menu-kill-links: true; // Kills decoration
$menu-background-color: $gray-200;
$menu-font-size: $nav-font-size;

$breadcrumb-kill-links: true; // Kills decoration
$breadcrumb-font-size: $h6-font-size; // False avoids setting this value
$breadcrumb-arrow: "›"; // Valid unicode character

// ------
// TAGS
// ------

$tag-strategy: 'contrast'; // One of split or contrast
$tag-default-color: $gray-300;
$tag-padding: 0 $gutter / 4; // Shorthand
$tag-font-size: $h6-font-size;

// ------
// ALERTS
// ------

$alert-strategy: 'split'; // One of split or contrast
$alert-default-color: $gray-300;

// ------
// GRID
// We asume a centered, responsive and max-width limited viewport.
// ------

$max-grid-cols: 6;


// ------
// LAYOUT
// We asume a centered, responsive and max-width limited viewport.
// ------

$max-width: 960px;
$layout-align: center; // left, right
$layout-padding: $spacer;


// ------
// HUESITOS
// Wether to generate utility classes or not
// ------
$huesitos: true;





// ------
// Z-INDEX
// To use in pair with the z-index() function
// ------

$z-index : (
	item1 : 0,
	item2 : 1,
	item3 : 3,
);





// ------
// BREAKPOINTS
// ------

// Map for iterations
$breakpoints: (
	small : 640px,
	medium : 960px,
	large : 1120px
);

// Helpers for a simpler use on breakpoint() mixin
$small: map-get($breakpoints, small);
$medium: map-get($breakpoints, medium);
$large: map-get($breakpoints, large);





// ------
// ANIMATIONS && TRANSITIONS
// ------

$transitions: true;
$transition-time: 0.33s;
$transition-delay: 0.25s;

$disabled-opacity: 0.33;





// ------
// ALIASES
// Because sometimes you remember the wrong / old / deprecated word...
// ------





// ------
// CARDS
// Component for indvidual, card-like componentes
// ------

$card-border-width: 1px; // Set to false to avoid border
$card-border-color: $separator-color;// Can be false or a full border value, like 2px solid $separator-color;
$card-background: $white;
$card-border-radius: $border-radius;
$card-padding: 8; // In base-line-multi
$card-shadow: true; // Aplies shadow-definition



// ------
// YOUR PROJECT
// Project-specific variables
// ------


