// Mixins and variables
@import "config";

@import "base/fonts"; // Fonts are loaded first to optimize performance
@import "base/sanitize"; // Hueso's fork of sanitize.css, a fork itself of normalize.css
@import "base/forms";
@import "base/typography";
@import "base/table";
@import "base/images";
@import "base/links";

@import "layout/layout";
@import "layout/footer";
@import "layout/notifications";
@import "layout/home";
@import "layout/contenido";
@import "layout/user";



@import "components/footer";
@import "components/notifications";
@import "components/messages";
@import "components/header";
@import "components/drupalisms";
@import "components/contenido";
@import "components/home";
@import "components/instagram";
@import "components/private_message";
@import "components/user";
@import "components/miniteaser";
@import "components/relacionados";
@import "components/aside";
@import "components/forms";
@import "components/create";
@import "components/common";
@import "components/rrss";
@import "components/searchbox";
@import "components/front_layer";
@import "components/front_menu";
@import "components/audiofield";
@import "components/media";
@import "components/slick";
@import "components/flags";
@import "components/tooltip";
@import "components/comments";
@import "components/modal";
@import "components/paragraphs";
//@import "components/fake-table";


// Navigation menus
//
// Either `<nav>` HTML elements or enabled via the css class `.nav`.
// The behavior is exactly the same as in `.list--inline`
//
// Markup:
// <nav>
//   <ul>
//     <li>Home</li>
//     <li>Section</li>
//     <li>Works</li>
//     <li>About us</li>
//     <li>Contact</li>
//     <li>Exit</li>
//   </ul>
// </nav>
//
//
// Styleguide Base.nav

nav,
.nav {
    ul {
        @include inline-list();
        ul {
            margin-left: $spacer;
        }
    }
}

@if $show-grid == true {
    h1, 
    h2, 
    h3, 
    h4, 
    h5, 
    h6, 
    p {
        background-size: ritmo(4) ritmo(4);
        background-image: linear-gradient(to bottom, rgba(0,0,0,0.5) 1px, transparent 1px);
        background-repeat: repeat;
    }
}