<section class="intrinsic-grid--small">
    <div class="p bg-base-primary" >Grid item</div>
    <div class="p bg-base-secondary" >Grid item</div>
    <div class="p bg-base-separator" >Grid item</div>
    <div class="p bg-text-primary" >Grid item</div>
    <div class="p bg-text-mark" >Grid item</div>
    <div class="p bg-state-muted" >Grid item</div>
    <div class="p bg-state-success" >Grid item</div>
    <div class="p bg-state-warning" >Grid item</div>
    <div class="p bg-state-error" >Grid item</div>
</section>

<section class="intrinsic-grid--medium">
    <div class="p bg-base-primary" >Grid item</div>
    <div class="p bg-base-secondary" >Grid item</div>
    <div class="p bg-base-separator" >Grid item</div>
    <div class="p bg-text-primary" >Grid item</div>
    <div class="p bg-text-mark" >Grid item</div>
    <div class="p bg-state-muted" >Grid item</div>
    <div class="p bg-state-success" >Grid item</div>
    <div class="p bg-state-warning" >Grid item</div>
    <div class="p bg-state-error" >Grid item</div>
</section>

<section class="intrinsic-grid--large">
    <div class="p bg-base-primary" >Grid item</div>
    <div class="p bg-base-secondary" >Grid item</div>
    <div class="p bg-base-separator" >Grid item</div>
    <div class="p bg-text-primary" >Grid item</div>
    <div class="p bg-text-mark" >Grid item</div>
    <div class="p bg-state-muted" >Grid item</div>
    <div class="p bg-state-success" >Grid item</div>
    <div class="p bg-state-warning" >Grid item</div>
    <div class="p bg-state-error" >Grid item</div>
</section>