.tag {
  @include tag($tag-default-color);
}

.tag + .tag {
  margin-left: $gutter / 4;
}

a.tag {
  @include kill-link-decoration();
  cursor: pointer;
  // Keep the padding!
  padding: $tag-padding;

  &:hover,
  &:focus {
    // Keep the padding!
    padding: $tag-padding;

    @if $tag-strategy=='contrast' {
      @include background-contrast(darken-color($tag-default-color));
    }

    @else if $tag-strategy=='split' {
    //   @include background-split-color(lighten-color($tag-default-color));
    }
  }
}

@each $key, $value in map-get($colors, state) {
  .tag--#{$key} {
    @if $tag-strategy=='contrast' {
      @include background-contrast($value);
    }

    @else if $tag-strategy=='split' {
    //   @include background-split-color($value);
    }

    @else {
      @error "You must provide a valid $tag-strategy value";
    }
  }
}

@each $key, $value in map-get($colors, state) {
  a.tag--#{$key} {

    &:hover,
    &:focus {
      @if $tag-strategy=='contrast' {
        @include background-contrast(darken-color($value));
      }

      @else if $tag-strategy=='split' {
      //   @include background-split-color(lighten-color($value));
      }

      @else {
        @error "You must provide a valid $tag-strategy value";
      }
    }
  }
}