.tag {
    display:inline-block;
    vertical-align: bottom;
    padding: $gutter / 8 $gutter / 2;
    @include ritmo-font-size($h6-font-size);
    @if $tag-strategy == 'contrast' {
        @include background-contrast($tag-default-color);
    } @else if $tag-strategy == 'split' {
        @include background-split-color($tag-default-color); 
    }
    border-radius: $border-radius;
    margin-right: $gutter / 3;
    font-weight:normal;
    @each $key, $value in map-get($colors, state) {
        &.tag--#{$key} {
            @if $tag-strategy == 'contrast' {
                @include background-contrast($value); 
            } @else if $tag-strategy == 'split' {
                @include background-split-color($value); 
            } @else {
                @error "You must provide a valid $tag-strategy value";
            }
        }
    }
    .right & {
        margin-right:0;
        margin-left: $gutter / 3;
    }
    .center & {
        margin-right: $gutter / 6;
        margin-left: $gutter / 6;
    }
}

a.tag {
    @include kill-link-decoration();
    padding: $gutter / 8 $gutter / 2; // Explicit override
    cursor:pointer;
    &:hover,
    &:focus {
        @if $tag-strategy == 'contrast' {
            @include background-contrast(darken-color($tag-default-color));
        } @else if $tag-strategy == 'split' {
            @include background-split-color(lighten-color($tag-default-color)); 
        }
    }
    @each $key, $value in map-get($colors, state) {
        &.tag--#{$key} {
            &:hover,
            &:focus {
                @if $tag-strategy == 'contrast' {
                    @include background-contrast(darken-color($value)); 
                } @else if $tag-strategy == 'split' {
                    @include background-split-color(lighten-color($value)); 
                } @else {
                    @error "You must provide a valid $tag-strategy value";
                }
            }
        }
    }
}