.text-wrapper {
  @if $max-ch != false {
    --text-max-ch: $max-ch;
    max-width: var(--text-max-ch);
  }

  > * + * {
    margin-top: $gutter;
  }

  @for $i from 1 to 7 {
    * + h#{$i}, * + .h#{$i} {
      margin-top: $gutter * 2;
    }
  }
}