<article class="text-wrapper">
  <section>
    <h2>First heading has no margin-top</h2>
    <p>Hello there! i'm the first parargraph inside a div marked as text-wrapper.</p>
    <p>This means we can write several paragraphs and be sure that the last one will feature no margin-bottom</p>
  </section>
  <section>
    <h3>But the rest of headings <u>do have</u> a margin-top!</h3>
    <p>Otherwise, I will end up breaking the design by adding an unneeded space at the bottom!</p>
  </section>
</article>