<p>Whenever I found a <small>not so important text,</small> i use the small tag</p>
<h1>A big heading with <small>an small portion of text</small></h1>
<h2>A second-level title <small>featuring a minor text</small></h2>
<h3>Any h3 will also feature a <small>reduction on its smaller parts</small></h3>
<p class="small">I'm a <code class="small">.small</code> text!</p>
