// ---
// IMPORTANT: Do not document this mixins
// ---

@mixin button-outline($color) {
  border-color: var(--color-button-#{$color}-default);
  background-color: transparent;
  color: var(--color-button-#{$color}-default);
}

@mixin button-link-outline($color) {
  &:link,
  &:active,
  &:visited {
    color: var(--color-button-#{$color}-default);
  }
}

@mixin button-background($color) {
  border-color: var(--color-button-#{$color}-default);
  background-color: var(--color-button-#{$color}-default);
  color: var(--color-button-#{$color}-contrast);
}

@mixin button-link-background($color) {
  &:link,
  &:active,
  &:visited {
    color: var(--color-button-#{$color}-contrast);
  }
}

@mixin button-split($color) {
  background-color: var(--color-split-#{$color}-light);
  border-color: var(--color-split-#{$color}-light);
  color: var(--color-split-#{$color}-dark);
}

@mixin button-link-split($color) {
  &:link,
  &:active,
  &:visited {
    color: var(--color-split-#{$color}-dark);
  }
}

@mixin button-split-inverse($color) {
  background-color: var(--color-split-#{$color}-dark);
  border-color: var(--color-split-#{$color}-dark);
  color: var(--color-split-#{$color}-light);
}

@mixin button-link-split-inverse($color) {
  &:link,
  &:active,
  &:visited {
    color: var(--color-split-#{$color}-light);
  }
}


@mixin style-button(
    $color,
    $button-strategy-default : $button-strategy-default,
    $button-strategy-hover : $button-strategy-hover
  ) {

  border-radius: $button-border-radius;

  @if $button-strategy-default=='outline' {
    @include button-outline($color);
  }

  @else if $button-strategy-default=='background' {
    @include button-background($color);
  }

  @else if $button-strategy-default=='split' {
    @include button-split($color);
  }

  @else if $button-strategy-default=='split-inverse' {
    @include button-split-inverse($color);
  }

  &:hover,
  &:focus {
    @if $button-strategy-hover=='outline' {
      @include button-outline($color);
    }

    @else if $button-strategy-hover=='background' {
      @include button-background($color);
    }

    @else if $button-strategy-hover=='split' {
      @include button-split($color);
    }

    @else if $button-strategy-hover=='split-inverse' {
      @include button-split-inverse($color);
    }
  }
}



@mixin style-link-button(
    $color,
    $button-strategy-default : $button-strategy-default,
    $button-strategy-hover : $button-strategy-hover
  ) {

  // Custom link decoration override adapted to button elements
  &,
  &:link,
  &:visited,
  &:active {
    border-radius: $button-border-radius;
    text-decoration: none;

  }

  &:focus,
  &:hover {
    text-decoration: none;
  }

  &,
  &:link {
    @if $button-strategy-default=='outline' {
      @include button-link-outline($color);
    }

    @else if $button-strategy-default=='background' {
      @include button-link-background($color);
    }

    @else if $button-strategy-default=='split' {
      @include button-link-split($color);
    }

    @else if $button-strategy-default=='split-inverse' {
      @include button-link-split-inverse($color);
    }
  }

  &:hover,
  &:focus {
    @if $button-strategy-hover=='outline' {
      @include button-link-outline($color);
    }

    @else if $button-strategy-hover=='background' {
      @include button-link-background($color);
    }

    @else if $button-strategy-hover=='split' {
      @include button-link-split($color);
    }

    @else if $button-strategy-hover=='split-inverse' {
      @include button-link-split-inverse($color);
    }
  }
}
