@function contrast-color($color, $dark: var(--color-text-body), $light: var(--color-text-body-contrast)) {
  @if (lightness($color) > $lightness-threshold) {
    @return $dark;
  } @else {
    @return $light;
  }
}

@function get-base-color-key($key) {
  @if type-of($key) == 'map' {
    @return map-get($key, 'base');
  } @else {
    @return $key;
  }
}

@mixin background-contrast($color-key, $inverse: false) {
  @if $inverse {
    color: var(--color-#{$color-key});
    background-color: var(--color-#{$color-key}-contrast);
  } @else {
    background-color: var(--color-#{$color-key});
    color: var(--color-#{$color-key}-contrast);
  }
}

@mixin background-split-color($color-key, $inverse: false) {
  @if $inverse {
    color: var(--color-#{$color-key}-split-light);
    background-color: var(--color-#{$color-key}-split-dark);
  } @else {
    background-color: var(--color-#{$color-key}-split-light);
    color: var(--color-#{$color-key}-split-dark);
  }
}

@function hexToRGB($hex) {
  @return red($hex), green($hex), blue($hex);
}

@function hexToHSL($hex) {
  @return hue($hex), saturation($hex), lightness($hex);
}