@function z-index($item) {
	@return map-get($z-index, $item);
}

@mixin clearfix {
	*zoom: 1;
	&:before, &:after {
		content: " ";
		display: table;
	}
	&:after {
		clear: both;
	}
}

@mixin hidden() {
	position: absolute !important;
	height: 1px; width: 1px; 
	overflow: hidden;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
}

@mixin block-align($align: center) {
	@if $align == left {
		margin-left:0;
		margin-right:auto;
	} @else if $align == right {
		margin-right:0;
		margin-left:auto;
	} @else {
		margin-left: auto;
		margin-right: auto;
	}
}

@mixin layer($top: 0, $right: 0, $bottom: 0, $left:0, $z-index: 1) {
	position:absolute;
	top:$top;
	right: $right;
	bottom: $bottom;
	left: $left;
	z-index: $z-index;
}

@mixin separator($margin-bottom:$spacer, $border-width:$separator-width, $border-color:$separator-color) {
	margin-bottom: $margin-bottom;
	@if $separators == true {
		@include ritmo-bottom-border($border-width, 4)
		border-bottom-style: solid; 
		border-bottom-color: $border-color;
	}
}