@mixin set-link-decoration($link-decoration-data: $link-decoration) {
  $underline : map-get($link-decoration-data, 'underline');
  $color : map-get($link-decoration-data, 'color');
  $width : map-get($link-decoration-data, 'width');

  @if map-get($underline, 'default') {
    text-decoration:underline;
    text-decoration-thickness: map-get($width, 'default');
    text-decoration-color: map-get($color, 'default');
  } @else if not map-get($underline, 'default') {
    text-decoration:none;
  } @else {
    @error "La estructura del mapa $link-data no es correcta";
  }

  &:hover,
  &:focus {
    @if not map-get($underline, 'hover') {
      text-decoration:none;
    } @else if map-get($underline, 'hover') {
      text-decoration:underline;
      text-decoration-thickness: map-get($width, 'hover');
      text-decoration-color: map-get($color, 'hover');
    } @else {
      @error "La estructura del mapa $link-data no es correcta";
    }
  }
}


@mixin set-link(
  $base: $link-color,
  $visited: $link-visited,
  $hover: $link-hover,
  $active: $link-active,
  $link-decoration-data: $link-decoration
) {
  & {
    @if $link-decoration-data {
      @include set-link-decoration($link-decoration-data);
    }
    @else if $link-decoration-data == false {
      @include kill-link-decoration();
    }
  }

  &, 
  &:link {
    color: $base;
  }
  &:visited {
    color: $visited;
  }
  &:focus,
  &:hover { // Tratamos :hover y :focus siempre indistintamente
    color: $hover;
  }
  &:active {
    color: $active;
  }
}

@mixin kill-link($color: get-color(text, primary)) {
  @include set-link($color, $color, $color, $color, false);
  @include kill-link-decoration();
}

@mixin kill-link-decoration() {
  &, 
  &:link,
  &:visited,
  &:active,
  &:focus,
  &:hover {
    text-decoration: none;
  } 
}


@mixin kill-link-button() {
  &, 
  &:link,
  &:visited,
  &:active,
  &:focus,
  &:hover {
    text-decoration:none;
    &:after {
      display:none;
    }
  } 
}

