@mixin get-link-decoration($strategy: $link-strategy) {
    @if $strategy == underline {
        text-decoration:underline;
    } @else if $strategy == border {
        text-decoration:none;
        border-bottom: $link-border-width solid $link-border-color; 
    } @else if $strategy == smart {

    } @else if $strategy == mark {
        text-decoration:none;
        background-color: $link-mark-color;
        position:relative;
        &:before,
        &:after {
            content:"";
            position:absolute;
            top:0;
            bottom:0;
            width:2px;
            background-color: $link-mark-color;
        }
        &:before {
            left:-2px;
        }
        &:after {
            right:-2px;
        }
    } @else {
        @error "No se ha definido un valor correcto para $link-strategy";
    }
}


@mixin set-link(
    $base: $link-color,
    $visited: $link-visited,
    $hover: $link-hover,
    $active: $link-active
) {
    &, 
    &:link {
        color: $base;
        @if $link-decoration-on-hover {
            text-decoration:none;
        } @else {
            @include get-link-decoration();
        }
    }
    &:visited {
        color: $visited;
    }
    &:focus,
    &:hover { // Tratamos :hover y :focus siempre indistintamente
        color: $hover;
        @if $link-decoration-on-hover {
            @include get-link-decoration();
        } 
    }
    &:active {
        color: $active;
    }
}